<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

</head>
<body>
<h1>Hi <%= "Admin" %></h1>


<p>Message from <%= @email %> </p>
<br>
<br>
Message:
<br>
<p>
  <%= @detail %>
</p>
</body>
</html>










