<div class="well">
  <h2>Want to view this propertyiii?</h2>
  <% if @item.user.role.name == 'user' %>

        <%#= image_tag(u.try(:profile).try(:avatar_url)) %>


      <div class="img_logo">
        <% if @item.user.try(:profile).try(:avatar_url) %>

        <a href="/agent/profile?id=<%=@item.user.id%>"><img alt=""
        src="<%= @item.user.try(:profile).try(:avatar_url) %>" /></a>
        <% else %>
            <a href="/agent/profile?id=<%=@item.user.id%>"><img alt=""
                        src="/assets/default.png" /></a>
        <% end %>


      </div>
      <!--img logo end-->

      <div class="agent_details_wdgts">
        <div class="row top-buffer">
          <div class="col-md-4 col-xs-6">
            <p><strong>Agent:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><%= @item.user.try(:profile).try(:name) || @item.try(:full_name) %></p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 col-xs-6">
            <p><strong>Business Name:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><a href="javascript:;"><%= @item.user.try(:profile).try(:business_name) %></a></p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 col-xs-6">
            <p><strong>Office Address:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><%= @item.user.try(:profile).try(:office_address) %></p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 col-xs-6">
            <p><strong>Timings:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><%= @item.user.try(:profile).try(:timings) || "None" %>  </p>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center small"><a href="/agent/profile?id=<%=@item.user.id%>">More ads by <%= @item.user.try(:profile).try(:name) || @item.try(:full_name) %>
            <i class="fa fa-angle-double-right"></i></a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 for-number-show">
          <p class="text-center">
            <a href="JavaScript:Void(0);" class="btn btn-sm owner_number_btn"> <i class="fa fa-phone-square"></i>
              View Number </a></p>
          <div class="row owner_numbers" id="prop_owner-contact-number">
            <div class="text-center">

              <h4>
                <a href="javascript:;" class="number-anchor number-anchor-white-text"><i class="fa fa-mobile"></i>
                  <%=  @item.user.try(:profile).try(:phone) || @item.try(:phone) %> </a></h4>
              <h4>
                <a href="javascript:;" class="number-anchor number-anchor-white-text"><i class="fa fa-phone"></i>
                  <%= current_user.try(:profile).try(:line_number) %></a></h4>

            </div>
          </div>
          <p></p>
        </div>
      </div>

  <% else %>

      <div class="agent_details_wdgts">
        <div class="row top-buffer">
          <div class="col-md-4 col-xs-6">
            <p><strong>Agent:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><%= @item.try(:full_name) %></p>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-4 col-xs-6">
            <p><strong>Timings:</strong></p>
          </div>
          <div class="col-md-8 col-xs-6">
            <p><%= @item.user.try(:profile).try(:timings) || "None" %>  </p>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>

      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<p class="text-center small"><a href="/agents/DealsInnRealEstateConsultant">More ads by malik faisal-->
            <!--<i class="fa fa-angle-double-right"></i></a></p>-->
        <!--</div>-->
      <!--</div>-->

      <div class="row">
        <div class="col-md-12 for-number-show">
          <p class="text-center">
            <a href="JavaScript:Void(0);" class="btn btn-sm owner_number_btn"> <i class="fa fa-phone-square"></i>
              View Number </a></p>
          <div class="row owner_numbers" id="prop_owner-contact-number">
            <div class="text-center">

              <h4>
                <a href="javascript:;" class="number-anchor number-anchor-white-text"><i class="fa fa-mobile"></i>
                  <%= @item.user.try(:profile).try(:phone) || @item.try(:phone) %></a></h4>
            </div>
          </div>
          <p></p>
        </div>
      </div>

  <% end %>
</div>