<div class="col-md-4 product-details-grid">
  <%= render 'contact_details' %>
  <div class="clearfix"></div>
  <h3 class="side_bar_main_title">Featured Agents</h3>
  <ul class="featured-agets-widget">

    <% @featured_users.each do |u| %>

        <li data-track-content="">


          <div class="agnt_logo">

            <% if u.try(:profile).try(:avatar_url) %>

            <a href="/agent/profile?id=<%=u.id%>"><img alt=""
            src="<%= u.try(:profile).try(:avatar_url) %>" /></a>
            <% else %>
                <a href="/agent/profile?id=<%=u.id%>"><img alt=""
                            src="/assets/default.png" /></a>
            <% end %>
            <%#= image_tag(u.try(:profile).try(:avatar_url)) %>
          </div>

          <div class="agent_infos">
            <h3><%= u.try(:profile).try(:business_name) %></h3>  <br>
            <i class="fa fa-map-marker"> </i> <%= u.try(:profile).try(:office_address) %> <br>
            <a class="number-anchor">
              <i class="fa fa-phone"></i> <%= u.try(:profile).try(:phone) %> </a>
            <a class="number-anchor">
              <i class="fa fa-mobile"></i> <%= u.try(:profile).try(:line_number) %> </a></div>
        </li>


    <% end unless @featured_users.blank? %>

  </ul>
</div>




<!--*117*34#-->


