<div id="container" style="display: none">
  <div class="view-controls-list" id="viewcontrols">
    <!--<label>view :</label>-->
    <!--<a class="gridview active"><i class="glyphicon glyphicon-th"></i></a>-->
    <!--<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>-->
  </div>
  <div class="sort" style="display: none">
    <div class="sort-by">
      <label>Sort By : </label>
      <div class="custom-select" style="width:170px;">
        <select>
          <option value="">Most recent</option>
          <option value="">Price: Rs Low to High</option>
          <option value="">Price: Rs High to Low</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <ul class="list">

    <% if @properties.blank? %>
        <li>No Record Found</li>
    <% else %>
        <% @properties.each do |item| %>

            <a href="/items/<%= item.slug %>">
              <li>
                <div class="img-detail-cont">
                  <% if item.item_attachments.present? %>
                      <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
                      <%= cl_image_tag(item.item_attachments.first.avatar_url, :height => 200, :width => 250, :quality => "50") %>
                      <% if item.user.is_featured == 1 %>
                          <span class="feature-img">Feature</span>
                      <% end %>
                  <% else %>
                      <img src="/assets/no.jpeg" title="" alt="" height="200" width="250` "/>
                      <% if item.user.is_featured == 1 %>
                          <span class="feature-img">Feature</span>
                      <% end %>
                  <% end %>
                </div>
                <section class="list-left">
                  <h5 class="title" style="color: #0099e5"><%= item.name %></h5>
                  <span class="adprice"><%= number_to_currency(item.price, :precision => 0, :unit => "Rs ") %></span>
                  <p class="catpath"><%= item.sub_category.category.name %> » <%= item.sub_category.name %></p>
                  <p class="catpath">Society » <%= item.society.name %></p>
                </section>
            </a>
            <section class="list-right">
              <span class="date">Added <%= timeago(item.created_at) %></span>
              <span class="cityname"><%= item.city.name %></span>
              <div id="like-area-index<%= item.id %>" class="like-index">
                <% find_favourite_by_user(item) %>
                <% @item = item %>
                <%= render '/search/like_area_index' %>
              </div>
            </section>

            <div class="clearfix"></div>
            </li>

        <% end unless @properties.blank? %>
    <% end %>


  </ul>
</div>





<% if @properties.blank? %>
    <li>No Record Found</li>
<% else %>
    <% @properties.each do |item| %>


        <div class="property-listing row" data-track-content="" data-content-piece="10 Marla Plot for Sale in Islamabad Wapda Town Block B (/buy-property page)" data-content-name="/buy-property/10-marla-plot-for-sale-in-wapda-town-block-b-islamabad-for-rs-3200-lac-plot-no-507-199430">
          <h2><a href="/property/<%= item.slug %>" href="/property/<%= item.slug %>"><%= item.name %></a></h2>
          <h4 class="price mobile_vr"></h4>
          <div class="col-md-4 custom-class col-sm-4 col-xs-12">
            <div class="img-wrapper">
              <a class="p_list_img" href="/property/<%= item.slug %>">

                <% if item.item_attachments.present? %>
                    <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
                    <%= cl_image_tag(item.item_attachments.first.avatar_url, :class => "property_photos", :height => 200, :width => 250, :quality => "50") %>
                    <% if item.user.is_featured == 1 %>
                        <!--<span class="feature-img">Feature</span>-->
                    <% end %>
                <% else %>
                    <img src="/assets/no.jpeg" class="property_photos" title="" alt="" height="200" width="250` "/>
                    <% if item.user.is_featured == 1 %>
                        <!--<span class="feature-img">Feature</span>-->
                    <% end %>
                <% end %>



                <!--<img class="property_photos" src=""> -->
              </a>
              <span class="no-of-photos"><i class="fa fa-picture-o" aria-hidden="true"></i> <%= item.views_count %></span>
              <span class="hot-property"></span>
              <div>
                <input type="hidden" id="prop-fav-id" value="199430">
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-4 col-xs-12">
            <h4><a href="/property/<%= item.slug %>"> <%= item.name %> </a></h4>
            <div class="property-features"></div>
            <div class="prop_all_icon">
              <div class="inner_prop_icon">
                <p><i class="fa fa-bed" aria-hidden="true"></i>
                  <span>5 Beds</span></p>
                <p><i class="fa fa-area-chart" aria-hidden="true"></i>
                  <span>10 Marlas</span></p>
                <p><i class="fa fa-bath" aria-hidden="true"></i>
                  <span>2 Baths</span></p>
              </div>
            </div>
            <div class="text-muted property-desc">
              <p><%= item.description %> </p>
            </div>
            <div class="text-muted property-side-info"><strong>Added on:</strong> <%= timeago(item.created_at) %>
              <!--| <strong>By:</strong>-->
              <!--<a target="_blank" href="/agents/ZafarAbbas">HAY-->
                <!--Builders,Developers &amp; Real Estate Consultants</a>-->
            </div>
            <a href="/agent/profile?id=<%=item.user.id%>" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i> Contact Property</a></div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <h4 class="price desktop_vr"><%= number_to_currency(item.price, :precision => 0, :unit => "Rs ") %></h4>
          </div>
        </div>


    <% end %>
<% end %>