<div class="submit-ad main-grid-border">
  <div class="container">

    <h2 class="w3-head"></h2>
    <div class="post-ad-form">

      <% @cities_and_count.each_with_index do |c, index| %>
          <% if index < 4 %>
              <div class="col-sm-4 "><%= link_to "#{c['name']} (#{c['society_count']})", "/#{@str}/#{@city_slug}/#{c['slug']}" %></div>
          <% else %>
              <div class="col-sm-4 list-top"><%= link_to "#{c['name']} (#{c['society_count']})", "/#{@str}/#{@city_slug}/#{c['slug']}" %></div>
          <% end %>
      <% end unless @cities_and_count.blank? %>

    </div>
  </div>
</div>



<div class="total-ads main-grid-border">


  <div class="container">

    <div class="ads-grid">

      <div class="agileinfo-ads-display col-md-12">
        <div class="wrapper">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">



            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                <div id="items-load">

                  <%= render 'properties' %>

                </div>

              </div>

              <div class="pagination-cont">
                <%= paginate @properties unless @properties.blank? %>
              </div>


            </div>


          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>

