<div class="prop-sale-cont">
  <div class="container">
    <div class="left-cont-property col-md-9">
      <div class="left-prop-outer">
        <h2 class="propery-heading">Properties Wanted in DHA Defence</h2>
        <div class="property-list">
          <div class="row">
            <% @cities_and_count.each_with_index do |c, index| %>
                <div class="col-lg-4 col-md-6 col-sm-6"><a href=<%= "/#{@str}/#{@city_slug}/#{c['slug']}?p=#{@p}" %>> <%= c['name'] %>
                  <span class="color-data"> (<%= c['society_count'] %>)</span></a></div>
            <% end unless @cities_and_count.blank? %>
          </div>
        </div>
      </div>

      <div class="prop-inner-list" id="items-load">
        <%= render 'properties' %>
      </div>

      <div class="pagination-cont">
        <%= paginate @properties unless @properties.blank? %>
      </div>

    </div>
    <div class="right-prop-cont col-md-3">
      <%= render 'main_page_agents' %>
    </div>
  </div>
</div>

















