<div class="top-tabs">
  <div class="container">
    <ul class="tabs  primary-nav">
      <% @property_and_count.each_with_index do |c,index| %>
      <li class="tabs__item">
        <% if params['p'].to_i == c['id'] %>
          <%= link_to "#{c['name']} (#{c['count']})", "#{@url_exact}?p=#{c['id']}" ,:class => "tabs__link active"%>
        <% else %>
          <%= link_to "#{c['name']} (#{c['count']})", "#{@url_exact}?p=#{c['id']}" ,:class => "tabs__link active1"%>
        <% end %>
      </li>

      <% end unless @property_and_count.blank? %>
    </ul>
  </div>
</div>

<div class="prop-sale-cont">
  <div class="container">
    <div class="left-cont-property col-md-9">


      <div class="prop-inner-list" id="items-load">
        <%= render 'properties' %>
      </div>

      <div class="pagination-cont">
        <%= paginate @properties unless @properties.blank? %>
      </div>

    </div>
    <div class="right-prop-cont col-md-3">

      <%= render 'main_page_agents' %>

    </div>
  </div>
</div>





















