<div class="prop-sale-cont">
  <div class="container">
    <div class="left-cont-property col-md-8">


      <div class="prop-inner-list" id="items-load">
        <%= render 'properties' %>
      </div>

      <div class="pagination-cont">
        <%= paginate @properties unless @properties.blank? %>
      </div>

    </div>


    <div class="col-md-4 product-details-grid">
      <div class="well">
        <h2>Want to view agent profile?</h2>
        <div class="img_logo"><a href="javascript:;">
          <% if @usr.try(:profile).try(:avatar_url) %>
            <img class="agent_logo_wedgets" src="<%= @usr.try(:profile).try(:avatar_url) %>" alt="<%= @usr.try(:profile).try(:name) %>"></a>
          <% else %>
            <img class="agent_logo_wedgets" src="/assets/default.png" alt="<%= @usr.try(:profile).try(:name) %>"></a>
          <% end %>
        </div>
        <!--img logo end-->

        <div class="agent_details_wdgts">
          <div class="row top-buffer">
            <div class="col-md-4 col-xs-6">
              <p><strong>Agent:</strong></p>
            </div>
            <div class="col-md-8 col-xs-6">
              <p><%= @usr.try(:profile).try(:name)  %></p>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-4 col-xs-6">
              <p><strong>Business Name:</strong></p>
            </div>
            <div class="col-md-8 col-xs-6">
              <p><a href="javascript:;"><%= @usr.try(:profile).try(:business_name) %></a></p>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-4 col-xs-6">
              <p><strong>Office Address:</strong></p>
            </div>
            <div class="col-md-8 col-xs-6">
              <p><%= @usr.try(:profile).try(:office_address) %></p>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-4 col-xs-6">
              <p><strong>Timings:</strong></p>
            </div>
            <div class="col-md-8 col-xs-6">
              <p><%= @usr.try(:profile).try(:timings) || "None" %>  </p>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>


        <div class="row">
          <div class="col-md-12 for-number-show">
            <p class="text-center">
              <a href="JavaScript:Void(0);" class="btn btn-sm owner_number_btn"> <i class="fa fa-phone-square"></i>
                View Number </a></p>
            <div class="row owner_numbers" id="prop_owner-contact-number">
              <div class="text-center">

                <h4>
                  <a href="javascript:;" class="number-anchor number-anchor-white-text"><i class="fa fa-mobile"></i>
                    <%= @usr.try(:profile).try(:phone) %> </a></h4>
                <h4>
                  <a href="javascript:;" class="number-anchor number-anchor-white-text"><i class="fa fa-phone"></i>
                    <%= @usr.try(:profile).try(:line_number) %></a></h4>

              </div>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>





















<script>
    $(".for-number-show").click(function (e) {
        $(".owner_numbers").toggle();

    });

    $(".share-btn").click(function (e) {
        $(".all-share-icon").toggle();

    });


    //    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
    <!--<script>-->


    $(function () {
        $('a[href*="#"]')
        // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function (event) {
                // On-page links
                if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    &&
                    location.hostname == this.hostname
                ) {
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                        // Only prevent default if animation is actually gonna happen
                        event.preventDefault();
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        /*, function() {
                                  // Callback after animation
                                  // Must change focus!
                                  var $target = $(target);
                                  $target.focus();
                                  if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                  } else {
                                    $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                  };
                                });*/

                    }
                }
            });
    });
</script>





