<div id="container">
  <div class="view-controls-list" id="viewcontrols">
    <!--<label>view :</label>-->
    <!--<a class="gridview active"><i class="glyphicon glyphicon-th"></i></a>-->
    <!--<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>-->
  </div>
  <div class="sort" style="display: none">
    <div class="sort-by">
      <label>Sort By : </label>
      <div class="custom-select" style="width:170px;">
        <select>
          <option value="">Most recent</option>
          <option value="">Price: Rs Low to High</option>
          <option value="">Price: Rs High to Low</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <ul class="list">

    <% if @items.blank? %>
        <li>No Record Found</li>
    <% else %>
        <% @items.each do |item| %>

            <a href="/items/<%= item.slug %>">
              <li>
                <div class="img-detail-cont">
                  <% if item.item_attachments.present? %>
                      <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
                      <%= cl_image_tag(item.item_attachments.first.avatar_url, :height => 200, :width => 250, :quality => "50") %>
                      <% if item.user.is_featured == 1 %>
                          <span class="feature-img">Feature</span>
                      <% end %>
                  <% else %>
                      <img src="/assets/no.jpeg" title="" alt="" height="200" width="250` "/>
                      <% if item.user.is_featured == 1 %>
                          <span class="feature-img">Feature</span>
                      <% end %>
                  <% end %>
                </div>
                <section class="list-left">
                  <h5 class="title" style="color: #0099e5"><%= item.name %></h5>
                  <span class="adprice">
                    <% if item.sub_category.category.name.strip == "Jobs" %>
                        Rs <%= number_to_currency(item.job_salary_from, :precision => 0, :unit => "") %>
                                          - <%= number_to_currency(item.job_salary_to, :precision => 0, :unit => "") %>
                    <% elsif item.sub_category.category.name.strip == "Services" or item.sub_category.category.name.strip == "Marriages" %>
                    <% else %>
                        <% if item.price == 0%>
                          <%= number_to_currency("", :precision => 0, :unit => "Rs: price on call") %>
                        <% else %>
                          <%= number_to_currency(item.price, :precision => 0, :unit => "Rs: ") %>
                        <% end %>
                    <% end %>
                  </span>
                  <% if item.sub_category.category.name.strip == "Mobiles" || item.sub_category.category.name.strip == "Electronics & Home Appliances" ||
                      item.sub_category.category.name.strip == "Books, Sports & Hobbies" || item.sub_category.category.name.strip == "Fashion & Beauty" ||
                      item.sub_category.category.name.strip == "Kids" || item.sub_category.category.name.strip == "Furniture & Home Decor" ||
                      item.sub_category.category.name.strip == "test" || item.sub_category.name.strip == "Tractor & Trailers" ||
                      item.sub_category.name.strip == "Car Accessories & Parts" || item.sub_category.name.strip == "Boats" ||
                      item.sub_category.name.strip == "Bike Accessories & Parts" || item.sub_category.name.strip == "Other Vehicle Accessories & Parts" ||
                      item.sub_category.name.strip == "Scooters" ||  item.sub_category.name.strip == "Bicycles" || item.sub_category.name.strip == "Other Vehicles" %>
                      <p class="catpath"> Condition » <%= item.vehicle_condition %></p>
                      <p class="catpath"><%= truncate(item.description) %></p>
                  <% elsif item.sub_category.category.name.strip == "Animals" || item.sub_category.category.name.strip == "Services" || item.sub_category.category.name.strip == "Business, Industrial & Agriculture" %>
                      <p class="catpath"><%= truncate(item.description) %></p>
                  <% elsif item.sub_category.name.strip == "Cars" || item.sub_category.name.strip == "Motorcycles" ||
                      item.sub_category.name.strip == "Buses, Vans & Trucks" || item.sub_category.name.strip == "ATV & QUADS" || item.sub_category.name.strip == "Rickshaw & Chingchi" %>
                      <p class="catpath"> Condition » <%= item.vehicle_condition %></p>
                      <p class="catpath"> Drive in km » <%= item.vehicle_drive_in_km %></p>
                      <p class="catpath"> Fuel » <%= item.vehicle_fuel_type %></p>
                      <p class="catpath"><%= truncate(item.description) %></p>
                  <% elsif item.sub_category.category.name.strip == "Jobs" %>
                      <p class="catpath"> Job salary period » <%= item.job_salary_period %></p>
                      <p class="catpath"> Job position » <%= item.job_position_type %></p>
                      <p class="catpath"><%= truncate(item.description) %></p>
                  <% elsif item.sub_category.category.name.strip == "Marriages" %>
                      <p class="catpath"> Religion » <%= item.religion %></p>
                      <p class="catpath"> Cast » <%= item.cast %></p>
                      <p class="catpath"> Age » <%= item.age_from %> - <%= item.age_to %></p>
                      <p class="catpath"> Height » <%= item.height_feet %>'<%= item.height_inch %>"</p>
                      <p class="catpath"><%= truncate(item.description) %></p>
                  <% end %>

                </section>
            </a>
            <section class="list-right">
              <span class="date">Added <%= timeago(item.created_at) %></span>
              <span class="cityname"><%= item.city.name %></span>
              <div id="like-area-index<%= item.id %>" class="like-index">
                <% find_favourite_by_user(item) %>
                <% @item = item %>
                <%= render '/search/like_area_index' %>
              </div>
            </section>

            <div class="clearfix"></div>
            </li>

        <% end unless @items.blank? %>
    <% end %>


  </ul>
</div>


<%#= paginate @items, params: {item: session["search"], }, :data => {turbolinks: false} unless @items.blank? %>



