<% if @favourite.present? and current_user.present? %>
    <i class="fa fa-heart like" aria-hidden="true" onclick="favourite_item('<%=@item.try(:id)%>')" id="<%= @item.try(:id) %>"></i>
<% elsif @favourite.blank? and current_user.present? %>
    <i class="fa fa-heart-o like" aria-hidden="true" onclick="favourite_item('<%=@item.try(:id)%>')" id="<%= @item.try(:id) %>"></i>
<% elsif current_user.blank? %>
    <i class="fa fa-heart-o like-no" aria-hidden="true" onclick="favourite_item('login')" id="<%= @item.try(:id) %>"></i>
<% end %>
<script>
function favourite_item(e){if("login"==e)swal("Warning!","You need to Login or Register!","warning");else{var i=$("#like-area-index"+e);$.ajax({url:"/items/like_dislike_index?item_id="+e,type:"get",dataType:"html",processData:!1,success:function(e){swal("Success!","Your favourite list status changed!","success"),i.html(e)}})}}

</script>
