<div id="container">
  <div class="view-controls-list" id="viewcontrols">
    <!--<label>view :</label>-->
    <!--<a class="gridview active"><i class="glyphicon glyphicon-th"></i></a>-->
    <!--<a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>-->
  </div>
  <div class="sort" style="display: none">
    <div class="sort-by">
      <label>Sort By : </label>
      <div class="custom-select" style="width:170px;">
        <select>
          <option value="">Most recent</option>
          <option value="">Price: Rs Low to High</option>
          <option value="">Price: Rs High to Low</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <ul class="list">

    <% if @properties.blank? %>
        <li>No Record Found</li>
    <% else %>
    <% @properties.each do |item| %>

        <a href="/items/<%= item.slug %>">
          <li>
            <div class="img-detail-cont">
              <% if item.item_attachments.present? %>
                  <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
                  <%= cl_image_tag(item.item_attachments.first.avatar_url, :height => 200, :width => 250, :quality => "50") %>
                  <% if item.user.is_featured == 1 %>
                    <span class="feature-img">Feature</span>
                  <% end %>
              <% else %>
                  <img src="/assets/no.jpeg" title="" alt="" height="200" width="250` "/>
                  <% if item.user.is_featured == 1 %>
                    <span class="feature-img">Feature</span>
                  <% end %>
              <% end %>
            </div>
            <section class="list-left">
              <h5 class="title" style="color: #0099e5"><%= item.name %></h5>
              <span class="adprice"><%= number_to_currency(item.price, :precision => 0, :unit => "Rs ") %></span>
              <p class="catpath"><%= item.sub_category.category.name %> » <%= item.sub_category.name %></p>
            </section>
        </a>
        <section class="list-right">
          <span class="date">Added <%= timeago(item.created_at) %></span>
          <span class="cityname"><%= item.city.name %></span>
          <div id="like-area-index<%=item.id%>" class="like-index">
            <% find_favourite_by_user(item) %>
            <% @item = item %>
            <%= render 'like_area_index' %>
          </div>
        </section>

        <div class="clearfix"></div>
        </li>

    <% end unless @properties.blank? %>
    <% end %>


  </ul>
</div>


