<div class="total-ads main-grid-border">
<%# if @category.present? %>

  <%# unless ["Services", "Marriages", "Property for Sale", "Property for Rent"].include? @category.name.strip %>
      <div class="search-filter" style="display: block">
        <form action="<%= search_index_path %>" data-remote=false class="form-horizontal" id="resume_form" method="get">
          <input type="hidden" name="sub_category_id" value="<%= @sub_category.try(:id) %>"/>
          <input type="hidden" name="city_id" value="<%= @city_id %>"/>
          <input type="hidden" name="home_word" value="<%= @word %>"/>
          <div class="container">
            <div class="row">

              <% if @category.present? %>

                  <% unless ["Services", "Marriages", "Property for Sale", "Property for Rent"].include? @category.name.strip %>

                      <% unless @category.name == "Animals" or @category.name == "Jobs" %>
                          <div class="col-lg-3">
                            <label>Condition</label>
                            <div class="custom-select" style="width:100%;">
                              <select id="f-condition" name="condition">
                                <option value="">Condition type</option>
                                <% if params[:condition] == "New" %>
                                    <option value="New" selected>New</option>
                                <% else %>
                                    <option value="New">New</option>
                                <% end %>
                                <% if params[:condition] == "Used" %>
                                    <option value="Used" selected>Used</option>
                                <% else %>
                                    <option value="Used">Used</option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                      <% end %>
                      <% unless ["Jobs"].include? @category.name.strip %>
                          <div class="col-lg-3">
                            <label>Price Range</label>
                            <% if params[:min_price].present? %>
                                <input type="text" id="min-price" value="<%= params[:min_price] %>" name="min_price" class="min-price" placeholder="Min price"/>&nbsp;-
                            <% else %>
                                <input type="text" id="min-price" name="min_price" class="min-price" placeholder="Min price"/>&nbsp;-
                            <% end %>
                            <% if params[:max_price].present? %>
                                <input type="text" id="max-price" value="<%= params[:max_price] %>" name="max_price" class="min-price max-price" placeholder="Max price"/>
                            <% else %>
                                <input type="text" id="max-price" name="max_price" class="min-price max-price" placeholder="Max price"/>
                            <% end %>
                          </div>
                      <% end %>
                  <% end %>


                  <% if ["ATV and QUADS", "Motorcycles", "Cars", "Rickshaw & Chingchi", "Buses, Vans & Trucks"].include? @sub_category.name.strip %>

                      <div class="col-lg-3">
                        <label>Fuel</label>
                        <div class="custom-select" style="width:100%;">
                          <select id="f-fuel" name="fuel_type">
                            <option value="">Fuel type</option>
                            <% if params[:fuel_type] == "Petrol" %>
                                <option value="Petrol" selected>Petrol</option>
                            <% else %>
                                <option value="Petrol">Petrol</option>
                            <% end %>
                            <% if params[:fuel_type] == "Diesel" %>
                                <option value="Diesel" selected>Diesel</option>
                            <% else %>
                                <option value="Diesel">Diesel</option>
                            <% end %>
                            <% if params[:fuel_type] == "LPG" %>
                                <option value="LPG" selected>LPG</option>
                            <% else %>
                                <option value="LPG">LPG</option>
                            <% end %>
                            <% if params[:fuel_type] == "CNG" %>
                                <option value="CNG" selected>CNG</option>
                            <% else %>
                                <option value="CNG">CNG</option>
                            <% end %>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <label>Drive in kilometer</label>
                        <% if params[:min_drive].present? %>
                            <input type="text" id="min-kilometer" value="<%= params[:min_drive] %>" name="min_drive" class="min-price" placeholder="Min in kilometer"/>&nbsp;-
                        <% else %>
                            <input type="text" id="min-kilometer" name="min_drive" class="min-price" placeholder="Min in kilometer"/>&nbsp;-
                        <% end %>
                        <% if params[:max_drive].present? %>
                            <input type="text" id="max-kilometer" value="<%= params[:max_drive] %>" name="max_drive" class="min-price max-price" placeholder="Max in kilometer"/>
                        <% else %>
                            <input type="text" id="max-kilometer" name="max_drive" class="min-price max-price" placeholder="Max in kilometer"/>
                        <% end %>
                      </div>
                  <% end %>


                  <% if @category.name == "Jobs" %>

                      <div class="col-lg-3">
                        <label>Job Salary Period</label>
                        <div class="custom-select" style="width:100%;">
                          <select id="salary_period" name="salary_period">
                            <option value="">Salary period</option>
                            <% if params[:salary_period] == "Hourly" %>
                                <option value="Hourly" selected>Hourly</option>
                            <% else %>
                                <option value="Hourly">Hourly</option>
                            <% end %>
                            <% if params[:salary_period] == "Weekly" %>
                                <option value="Weekly" selected>Weekly</option>
                            <% else %>
                                <option value="Weekly">Weekly</option>
                            <% end %>
                            <% if params[:salary_period] == "Monthly" %>
                                <option value="Monthly" selected>Monthly</option>
                            <% else %>
                                <option value="Monthly">Monthly</option>
                            <% end %>
                            <% if params[:salary_period] == "Yearly" %>
                                <option value="Yearly" selected>Yearly</option>
                            <% else %>
                                <option value="Yearly">Yearly</option>
                            <% end %>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <label>Job Position Type</label>
                        <div class="custom-select" style="width:100%;">
                          <select id="job_position" name="job_position">
                            <option value="">Job position</option>
                            <% if params[:job_position] == "Full-time" %>
                                <option value="Full-time" selected>Full-time</option>
                            <% else %>
                                <option value="Full-time">Full-time</option>
                            <% end %>
                            <% if params[:job_position] == "Part-time" %>
                                <option value="Part-time" selected>Part-time</option>
                            <% else %>
                                <option value="Part-time">Part-time</option>
                            <% end %>
                            <% if params[:job_position] == "Contract" %>
                                <option value="Contract" selected>Contract</option>
                            <% else %>
                                <option value="Contract">Contract</option>
                            <% end %>
                            <% if params[:job_position] == "Probation-period" %>
                                <option value="Probation-period" selected>Probation-period</option>
                            <% else %>
                                <option value="Probation-period">Probation-period</option>
                            <% end %>
                            <% if params[:job_position] == "Temporary" %>
                                <option value="Temporary" selected>Temporary</option>
                            <% else %>
                                <option value="Temporary">Temporary</option>
                            <% end %>
                          </select>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <label>Salary From Range</label>
                        <% if params[:min_from].present? %>
                            <input type="text" id="min-price" value="<%= params[:min_from] %>" name="min_from" class="min-price" placeholder="Min salary from"/>&nbsp;-
                        <% else %>
                            <input type="text" id="min-price" name="min_from" class="min-price" placeholder="Min salary from"/>&nbsp;-
                        <% end %>
                        <% if params[:max_from].present? %>
                            <input type="text" id="max-price" value="<%= params[:max_from] %>" name="max_from" class="min-price max-price" placeholder="Max salary from"/>
                        <% else %>
                            <input type="text" id="max-price" name="max_from" class="min-price max-price" placeholder="Max salary from"/>
                        <% end %>
                      </div>

                      <div class="col-lg-3">
                        <label>Salary To Range</label>
                        <% if params[:min_to].present? %>
                            <input type="text" id="min-price" value="<%= params[:min_to] %>" name="min_to" class="min-price" placeholder="Min salary to"/>&nbsp;-
                        <% else %>
                            <input type="text" id="min-price" name="min_to" class="min-price" placeholder="Min salary to"/>&nbsp;-
                        <% end %>
                        <% if params[:max_to].present? %>
                            <input type="text" id="max-price" value="<%= params[:max_to] %>" name="max_to" class="min-price max-price" placeholder="Max salary to"/>
                        <% else %>
                            <input type="text" id="max-price" name="max_to" class="min-price max-price" placeholder="Max salary to"/>
                        <% end %>
                      </div>

                  <% end %>


              <% else %>

                  <div class="col-lg-3">
                    <label>Condition</label>
                    <div class="custom-select" style="width:100%;">
                      <select id="f-condition" name="condition">
                        <option value="">Condition type</option>
                        <% if params[:condition] == "New" %>
                            <option value="New" selected>New</option>
                        <% else %>
                            <option value="New">New</option>
                        <% end %>
                        <% if params[:condition] == "Used" %>
                            <option value="Used" selected>Used</option>
                        <% else %>
                            <option value="Used">Used</option>
                        <% end %>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <label>Price Range</label>
                    <% if params[:min_price].present? %>
                        <input type="text" id="min-price" value="<%= params[:min_price] %>" name="min_price" class="min-price" placeholder="Min price"/>&nbsp;-
                    <% else %>
                        <input type="text" id="min-price" name="min_price" class="min-price" placeholder="Min price"/>&nbsp;-
                    <% end %>
                    <% if params[:max_price].present? %>
                        <input type="text" id="max-price" value="<%= params[:max_price] %>" name="max_price" class="min-price max-price" placeholder="Max price"/>
                    <% else %>
                        <input type="text" id="max-price" name="max_price" class="min-price max-price" placeholder="Max price"/>
                    <% end %>
                  </div>


                  <div class="col-lg-3">
                    <label>Fuel</label>
                    <div class="custom-select" style="width:100%;">
                      <select id="f-fuel" name="fuel_type">
                        <option value="">Fuel type</option>
                        <% if params[:fuel_type] == "Petrol" %>
                            <option value="Petrol" selected>Petrol</option>
                        <% else %>
                            <option value="Petrol">Petrol</option>
                        <% end %>
                        <% if params[:fuel_type] == "Diesel" %>
                            <option value="Diesel" selected>Diesel</option>
                        <% else %>
                            <option value="Diesel">Diesel</option>
                        <% end %>
                        <% if params[:fuel_type] == "LPG" %>
                            <option value="LPG" selected>LPG</option>
                        <% else %>
                            <option value="LPG">LPG</option>
                        <% end %>
                        <% if params[:fuel_type] == "CNG" %>
                            <option value="CNG" selected>CNG</option>
                        <% else %>
                            <option value="CNG">CNG</option>
                        <% end %>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <label>Drive in kilometer</label>
                    <% if params[:min_drive].present? %>
                        <input type="text" id="min-kilometer" value="<%= params[:min_drive] %>" name="min_drive" class="min-price" placeholder="Min in kilometer"/>&nbsp;-
                    <% else %>
                        <input type="text" id="min-kilometer" name="min_drive" class="min-price" placeholder="Min in kilometer"/>&nbsp;-
                    <% end %>
                    <% if params[:max_drive].present? %>
                        <input type="text" id="max-kilometer" value="<%= params[:max_drive] %>" name="max_drive" class="min-price max-price" placeholder="Max in kilometer"/>
                    <% else %>
                        <input type="text" id="max-kilometer" name="max_drive" class="min-price max-price" placeholder="Max in kilometer"/>
                    <% end %>
                  </div>


              <% end %>

            </div>

          </div>

          `
          <input type="submit" value="Filter" id="filter" class="btn-default" style="margin-left: 62px;background: #00a5f7"/>
        </form>
      </div>
  <%# end %>
<%# end %>
  <div class="container">

    <div class="ads-grid">

      <div class="agileinfo-ads-display col-md-12">
        <div class="wrapper">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                <div id="items-load">

                  <%= render '/search/items' %>

                </div>

              </div>

              <div class="pagination-cont">
                <%= paginate @items unless @items.blank? %>
              </div>


            </div>


          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>


<script>
    var x, i, j, selElmnt, a, b, c;
    for (x = document.getElementsByClassName("custom-select"), i = 0; i < x.length; i++) {
        for (selElmnt = x[i].getElementsByTagName("select")[0], (a = document.createElement("DIV")).setAttribute("class", "select-selected"), a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML, x[i].appendChild(a), (b = document.createElement("DIV")).setAttribute("class", "select-items select-hide"), j = 0; j < selElmnt.length; j++) (c = document.createElement("DIV")).innerHTML = selElmnt.options[j].innerHTML, c.addEventListener("click", function (e) {
            var t, s, l, i, n;
            for (i = this.parentNode.parentNode.getElementsByTagName("select")[0], n = this.parentNode.previousSibling, s = 0; s < i.length; s++) if (i.options[s].innerHTML == this.innerHTML) {
                for (i.selectedIndex = s, n.innerHTML = this.innerHTML, t = this.parentNode.getElementsByClassName("same-as-selected"), l = 0; l < t.length; l++) t[l].removeAttribute("class");
                this.setAttribute("class", "same-as-selected");
                break
            }
            n.click()
        }), b.appendChild(c);
        x[i].appendChild(b), a.addEventListener("click", function (e) {
            e.stopPropagation(), closeAllSelect(this), this.nextSibling.classList.toggle("select-hide"), this.classList.toggle("select-arrow-active")
        })
    }

    function closeAllSelect(e) {
        var t, s, l, i = [];
        for (t = document.getElementsByClassName("select-items"), s = document.getElementsByClassName("select-selected"), l = 0; l < s.length; l++) e == s[l] ? i.push(l) : s[l].classList.remove("select-arrow-active");
        for (l = 0; l < t.length; l++) i.indexOf(l) && t[l].classList.add("select-hide")
    }

    document.addEventListener("click", closeAllSelect);
    var elem = $("#container ul");
    $("#viewcontrols a").on("click", function (e) {
        $(this).hasClass("gridview") ? elem.fadeOut(1e3, function () {
            $("#container ul").removeClass("list").addClass("grid"), $("#viewcontrols").removeClass("view-controls-list").addClass("view-controls-grid"), $("#viewcontrols .gridview").removeClass("active"), $("#viewcontrols .listview").addClass("active"), elem.fadeIn(1e3)
        }) : $(this).hasClass("listview") && elem.fadeOut(1e3, function () {
            $("#container ul").removeClass("grid").addClass("list"), $("#viewcontrols").removeClass("view-controls-grid").addClass("view-controls-list"), $("#viewcontrols .gridview").addClass("active"), $("#viewcontrols .listview").removeClass("active"), elem.fadeIn(1e3)
        })
    }), $(".dropdown-submenu>a").unbind("click").click(function (e) {
        $(this).next("ul").toggle(), e.stopPropagation(), e.preventDefault()
    });
</script>







