<div class="total-ads main-grid-border">



  <div class="container">

    <div class="ads-grid">

      <div class="agileinfo-ads-display col-md-12">
        <div class="wrapper">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

                <div id="items-load">

                  <%= render 'properties'  %>

                </div>

                  <%= link_to_next_page @properties, 'Load More Properties', :remote => true, :id=>"load_more_link" ,:class => "load-more"%>

              </div>

            </div>


          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<script>
  var x,i,j,selElmnt,a,b,c;for(x=document.getElementsByClassName("custom-select"),i=0;i<x.length;i++){for(selElmnt=x[i].getElementsByTagName("select")[0],(a=document.createElement("DIV")).setAttribute("class","select-selected"),a.innerHTML=selElmnt.options[selElmnt.selectedIndex].innerHTML,x[i].appendChild(a),(b=document.createElement("DIV")).setAttribute("class","select-items select-hide"),j=0;j<selElmnt.length;j++)(c=document.createElement("DIV")).innerHTML=selElmnt.options[j].innerHTML,c.addEventListener("click",function(e){var t,s,l,i,n;for(i=this.parentNode.parentNode.getElementsByTagName("select")[0],n=this.parentNode.previousSibling,s=0;s<i.length;s++)if(i.options[s].innerHTML==this.innerHTML){for(i.selectedIndex=s,n.innerHTML=this.innerHTML,t=this.parentNode.getElementsByClassName("same-as-selected"),l=0;l<t.length;l++)t[l].removeAttribute("class");this.setAttribute("class","same-as-selected");break}n.click()}),b.appendChild(c);x[i].appendChild(b),a.addEventListener("click",function(e){e.stopPropagation(),closeAllSelect(this),this.nextSibling.classList.toggle("select-hide"),this.classList.toggle("select-arrow-active")})}function closeAllSelect(e){var t,s,l,i=[];for(t=document.getElementsByClassName("select-items"),s=document.getElementsByClassName("select-selected"),l=0;l<s.length;l++)e==s[l]?i.push(l):s[l].classList.remove("select-arrow-active");for(l=0;l<t.length;l++)i.indexOf(l)&&t[l].classList.add("select-hide")}document.addEventListener("click",closeAllSelect);var elem=$("#container ul");$("#viewcontrols a").on("click",function(e){$(this).hasClass("gridview")?elem.fadeOut(1e3,function(){$("#container ul").removeClass("list").addClass("grid"),$("#viewcontrols").removeClass("view-controls-list").addClass("view-controls-grid"),$("#viewcontrols .gridview").removeClass("active"),$("#viewcontrols .listview").addClass("active"),elem.fadeIn(1e3)}):$(this).hasClass("listview")&&elem.fadeOut(1e3,function(){$("#container ul").removeClass("grid").addClass("list"),$("#viewcontrols").removeClass("view-controls-grid").addClass("view-controls-list"),$("#viewcontrols .gridview").addClass("active"),$("#viewcontrols .listview").removeClass("active"),elem.fadeIn(1e3)})}),$(".dropdown-submenu>a").unbind("click").click(function(e){$(this).next("ul").toggle(),e.stopPropagation(),e.preventDefault()});
</script>






