$('#items-load').append("<%= escape_javascript(render 'properties')%>");
$('#load_more_link').replaceWith("<%= escape_javascript(link_to_next_page(@properties,'Load More Properties', :remote => true, :id=>'load_more_link',:class => "load-more"))%>");
$(".timeago").timeago();

