<section class="sign-in-outer">
  <% set_meta_tags title: 'Member login - Adstous'   %>
  <div class="container">
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
      <div class="agileinfo_signin">
        <h3>Sign In</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:id => "sign-up-in", :class => "form-horizontal"}) do |f| %>


        <div class="form-group">

          <div class="col-sm-12">
            <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
            <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>

          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12">
          <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password", :class => "form-control" %>
          </div>
        </div>
        <input type="submit" value="Sign In">

        <span class="or-signin">Or</span>
        <a href="/users/auth/google_oauth2" class="login-with-google"><i class="fa fa-google" aria-hidden="true"></i>Login With Google</a>
        <!--<a href="/users/auth/facebook" class="login-with-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Login With Facebook</a>-->
        <div class="forgot-grid">
          <label class="checkbox">
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
            <% end -%>
            Remember me</label>
          <div class="forgot">
            <!--<a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>-->
            <a href="/users/password/new">Forgot Password?</a>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="w3ls-password">Get Password</h3>
                    <p class="get-pw">Enter your email address below and we'll send you an email with
                      instructions.</p>
                    <!--<form action="#" method="post">-->
                    <!--<input type="text" class="user" name="email" placeholder="Email" required>-->
                    <!--<input type="submit" value="Submit">-->
                    <!--</form>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
        <h6> Not a Member Yet? <a href="/register">Sign Up Now</a></h6>
      </div>
    </div>
  </div>
</section>














