<div class="category">
  <div class="category-img">
    <img src="/assets/vehicle.png" title="image" alt=""/>
  </div>
  <div class="category-info">
    <h4><%= @name %></h4>
    <span><%= @total_count %> Ads</span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="sub-categories">
  <ul>
    <% @names.each do |item| %>
        <li>
           <%= link_to "#{item[0]}", "/#{item[1]}?q=#{item[3]}", :data => {turbolinks: true} ,:style=>"color: #00a5f7"%>
          <br> <span style=""><%= item[2] %> Ads</span>
        </li>
    <% end unless @names.blank? %>
  </ul>
</div>

