<% @items.each do |i| %>

    <% if i.item.present? %>
    <a href="/items/<%=i.item.slug%>" >
      <li>
        <div class="img-detail-cont">
        <% if i.item.item_attachments.present?%>
            <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
            <%= cl_image_tag(i.item.item_attachments.first.avatar_url,:height => 100 ,:width => 300, :quality=>"50") %>
        <%else%>
            <img src="/assets/no.jpeg" title="" alt=""/>
        <%end%>
        </div>
        <section class="list-left">
          <h5 class="title" style="color: #0099e5"><%= i.item.name %></h5>
          <span class="adprice"><%=number_to_currency(i.item.price,:precision => 0,:unit =>"Rs ") %></span>
          <p class="catpath"><%= i.item.sub_category.category.name  %> » <%= i.item.sub_category.name  %></p>
        </section>
        <section class="list-right">
          <span class="date">Added <%= timeago(i.item.created_at) %></span>
          <span class="cityname"><%=i.item.city.name%></span>
        </section>
        <div class="clearfix"></div>
      </li>
    </a>
    <% end %>
<% end unless @items.blank?%>

