<% @items.each do |item| %>

    <a href="/items/<%=item.slug%>" >
      <li>
        <div class="img-detail-cont">
        <% if item.item_attachments.present?%>
            <%#= image_tag(item.item_attachments.first.avatar_url ,:height => "100",:width => "300")%>
            <%= cl_image_tag(item.item_attachments.first.avatar_url,:height => 100 ,:width => 300, :quality=>"50") %>
        <%else%>
            <img src="/assets/no.jpeg" title="" alt=""/>
        <%end%>
        </div>
        <section class="list-left">
          <h5 class="title" style="color: #0099e5"><%= item.name %></h5>
          <span class="adprice"><%=number_to_currency(item.price,:precision => 0,:unit =>"Rs ") %></span>
          <p class="catpath"><%= item.sub_category.category.name  %> » <%= item.sub_category.name  %></p>
        </section>
        <section class="list-right">
          <span class="date">Added <%= timeago(item.created_at) %></span>
          <span class="cityname"><%=item.city.name%></span>
        </section>
        <div class="clearfix"></div>
      </li>
    </a>
<% end unless @items.blank?%>

