<div style="margin-left: 15px;margin-right: 15px;">
<h3>About us</h3>
  <br>
<p>
  www.adstous.com is proudly the first "complete" online marketplace in Pakistan built entirely in Pakistan by our
  dedicated team of Pakistanis. www.adstous.com is a powerful yet very simple and easy-to-use tool that lets you quickly find
  or sell literally anything under the sun; anyone can come here to find a house to live in, sell their old car, bike,
  mobile phone, laptop, furniture; promote their business or event, find a tutor, find your life partner, and much much
  more! www.adstous.com connects buyers and sellers at a regional level within cities and delivers remarkable user experience
  for all communities. www.adstous.com is backed by The Ferozsons Publishing Group which is one of the most trusted and
  admired companies in Pakistan for over 60 years.</p>
 <br>
<h4>Our Objectives:</h4>

<ul style="margin-left: 10px;">

  <li style="margin-left: 15px;"> Deliver a clean, safe and simple experience.</li>
  <li style="margin-left: 15px;"> Enable our users to buy and sell items easily and efficiently using the most dynamic and advanced set of tools
    and features available on the internet.
  </li>
  <li style="margin-left: 15px;"> Provide consumers and businesses a tool to buy and sell locally within cities at a community level.</li>

</ul>

</div>






