

<%= link_to 'Manage Categories', categories_path, :class => 'btn btn-info' %> | <%= link_to 'Manage Sub Catgories', sub_categories_path, :class => 'btn btn-info' %> | <%= link_to 'Manage Products', products_path, :class => 'btn btn-info' %> | <%= link_to 'Manage phase', phase_sectors_path, :class => 'btn btn-info' %>

<br><br><br>

<h1 style="text-align: center">Ads</h1>

<table style="margin-left: 10px">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Record serial</th>
    <th style="padding-left: 50px">Status</th>
    <th style="padding-left: 358px">Delete Item</th>
  </tr>
  </thead>

  <tbody>
  <% @items.each_with_index do |item,i| %>
      <%#= cl_image_tag(item.item_attachments.try(:last).try(:avatar_url),:height => 50 ,:width => 50) %>
      <tr>
        <td><%= item.id %></td>

        <td style="padding-left: 10px"><%= link_to item.name, item_path(item), :target => "_blank" %></td>
        <td style="padding-left: 10px"><%= i+1 %></td>
        <td style="padding-left: 10px;">------------
          <!--<label class="radio inline">-->

          Inactive
          <% if item.status == "inactive" %>
              <input id="inactive" class="Score" checked="true" name="status-<%= item.id %>" type="radio" value="inactive-<%= item.id %>">
          <% else %>
              <input id="inactive" class="Score" name="status-<%= item.id %>" type="radio" value="inactive-<%= item.id %>">
          <% end %>
          <!--</label>-->
        </td>
        <td>
          <!--<label class="radio inline">-->
          Active
          <% if item.status == "active" %>
              <input id="active" class="Score" checked="true" name="status-<%= item.id %>" type="radio" value="active-<%= item.id %>">
          <% else %>
              <input id="active" class="Score" name="status-<%= item.id %>" type="radio" value="active-<%= item.id %>">
          <% end %>
          <!--</label>-->
        </td>
        <td style="">
          <%= link_to 'Destroy', item ,
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>

        </td>
      </tr>

  <% end unless @items.blank? %>
  </tbody>
</table>



<script>

    $('input[type=radio]').change(function (e) {


        $.ajax({
            url: '/home/item_active_inactive?item_id=' + $(this).val(),
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {

                swal("Done!", "Ad approved!", "success");
            }
        });

    });

</script>