<% parameter = request.url.split("/").last %>
<div class="categories-section main-grid-border">
  <div class="container">
    <h2 class="w3-head">All Categories</h2>
    <div class="category-list">
      <div id="tab">

        <div class="agileits-tab_nav">
          <ul class="resp-tabs-list hor_1">
            <li id="mobiles">Mobiles</li>
            <li id="vehicles">Vehicles</li>
            <!--<li id="property-for-sale">Property for Sale</li>-->
            <!--<li id="property-for-rent">Property for Rent</li>-->
            <li id="electronics-home-appliances">Electronics & Home Appliances</li>
            <li id="bikes">Bikes</li>
            <li id="furniture-home-decor">Furniture & Home Decor</li>
            <li id="animals">Animals</li>
            <li id="books-sports-hobbies">Books, Sports & Hobbies</li>
            <li id="fashion-beauty">Fashion & Beauty</li>
            <li id="business-industrial-agriculture">Business, Industrial & Agriculure</li>
            <li id="kids">Kids</li>
            <li id="services">Services</li>
            <li id="jobs">Jobs</li>
            <li id="marriages">Marriages</li>
            <!--<li id="all">All</li>-->
          </ul>
          <!--<a class="w3ls-ads" href="/<%#=parameter%>">View all Ads</a>-->
        </div>
        <div class="resp-tabs-container hor_1">

          <span class="active total" style="display:block;" data-toggle="modal" data-target="#myModal"><strong>All Pakistan</strong> (Select your city to see local ads )</span>


          <div class="ajax-accordian" id="mobiles1">
            <%= render "mobiles_tablets" if parameter == "mobiles" || @flag == "flag" %>
          </div>


          <div class="ajax-accordian" id="vehicles1">
            <%= render "cars" if parameter == "vehicles" || @flag == "flag" %>
          </div>


          <!--<div class="ajax-accordian" id="property-for-sale1">-->
            <%#= render "property_for_sale" if parameter == "property-for-sale" || @flag == "flag" %>
          <!--</div>-->
          <!--<div class="ajax-accordian" id="property-for-rent1">-->
            <%#= render "property_for_rent" if parameter == "property-for-rent" || @flag == "flag" %>
          <!--</div>-->

          <div class="ajax-accordian" id="electronics-home-appliances1">
            <%= render "electronics" if parameter == "electronics-home-appliances" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="bikes1">
            <%= render "bikes" if parameter == "bikes" || @flag == "flag" %>
          </div>

          <div class="ajax-accordian" id="furniture-home-decor1">
            <%= render "furniture" if parameter == "furniture-home-decor" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="animals1">
            <%= render "pets" if parameter == "animals" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="books-sports-hobbies1">
            <%= render "books" if parameter == "books-sports-hobbies" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="fashion-beauty1">
            <%= render "fashion_beauty" if parameter == "fashion-beauty" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="business-industrial-agriculture1">
            <%= render "agriculture" if parameter == "business-industrial-agriculture" || @flag == "flag" %>
          </div>

          <div class="ajax-accordian" id="kids1">
            <%= render "kids" if parameter == "kids" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="services1">
            <%= render "services" if parameter == "services" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="jobs1">
            <%= render "jobs" if parameter == "jobs" || @flag == "flag" %>
          </div>
          <div class="ajax-accordian" id="marriages1">
            <%= render "marriages" if parameter == "marriages" || @flag == "flag" %>
          </div>

          <!--dummy for running marriages tab-->
          <!--<div class="ajax-accordian" id="all1">-->
            <%#= render "mobiles_tablets" if parameter == "all" || @flag == "flag" %>
          <!--</div>-->
          <!--dummy for running marriages tab-->


          <div class="cs" id="spin-cat-all" style="display: none;"><%= image_tag("/assets/select2-spinner.gif") %></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--Plug-in Initialisation-->





<script type="text/javascript">
    $("#tab").easyResponsiveTabs({type:"vertical",width:"auto",fit:!0,closed:"accordion",tabidentify:"hor_1",activate:function(a){var s=$(this).text(),t=$(".ajax-accordian");$("#spin-cat-all").css("display","block"),$.ajax({url:"/home/show_content?name="+s,type:"get",dataType:"html",processData:!1,success:function(a){$("#spin-cat-all").css("display","none"),t.html(a)}})}});var hash="#tab1",lis=$("ul.resp-tabs-list > li");lis.removeClass("resp-tab-active");var a=window.location.pathname.split("/").pop();$("ul.resp-tabs-list").find("#"+a).addClass("resp-tab-active"),$("#mobiles1").css("display","none").removeClass("resp-tab-content-active"),$("#"+a+"1").css("display","block").addClass("resp-tab-content-active");
</script>


