<div class="submit-ad main-grid-border">
  <% set_meta_tags title: 'Contact us - Adstous'   %>
  <div class="container">
    <h2 class="w3-head">Contact US</h2>
    <div class="post-ad-form">
      <%#= form_with(model: @item, local: true, :id => "sign-up-in",:class=>"form-horizontal" , :html => {:multipart => true}) do |form| %>
      <form action="<%= contact_us_home_index_path %>" data-remote=false class="form-horizontal" id="sign-up-in" method="post" style = "width: 60%;margin: 0px auto">
      <div class="form-group">
        <!--<label class="control-label" for="firstname1">Title</label>-->

        <div class="col-sm-12">
          <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
          <%= text_field_tag :name,nil, :class => "form-control", :placeholder => "name" %>

        </div>
      </div>

        <div class="form-group">
          <!--<label class="control-label" for="firstname1">Area</label>-->

          <div class="col-sm-12">
            <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
            <%= text_field_tag "user[email]", nil, :class => "form-control", :placeholder => "email" %>
          </div>
        </div>





      <div class="form-group">
        <!--<label class="control-label" for="firstname1">Description</label>-->

        <div class="col-sm-12">
          <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
          <%= text_area_tag "description",nil, :cols => "30", :rows => "10", :class => "form-control", :placeholder => "detail here" %>
        </div>
      </div>



      <div class="clearfix"></div>
        <button type="submit" class="add-post-button">Send</button>


        <!--</div>-->
      <!--</div>-->
      </form>

  </div>
  </div>
</div>




















