<div class="submit-ad main-grid-border">
  <div class="container">

    <h2 class="w3-head"></h2>
    <div class="post-ad-form">


      <h2 class="policy-h1">Frequently Asked Questions</h2>
      <br>
      <h5 class="policy-h2">How can i create Adstous account?</h5>
      <p class="policy-para">On <a href="http://www.adstous.com/register">Register</a> page, you can create account using google authentication and also by simple giving your email and password. </p>
      <h5 class="policy-h2">How can i Login Adstous account?</h5>
      <p class="policy-para">On <a href="http://www.adstous.com/login">Login</a> page, you can Login into your account using google authentication and also by simple giving your email and password.</p>

      <h5 class="policy-h2">How can i change Adstous account password?</h5>
      <p class="policy-para">On <a href="http://www.adstous.com/users/password/new">Forgot Password</a> page, you need to give your Adstous account email. Then confirmation email with instruction will be sent to you.By following that email instructions, you can change your password. </p>
      <h5 class="policy-h2">How can i post an Ad on Adstous.com?</h5>
      <p class="policy-para">You need to Login first, then on <a href="http://www.adstous.com/items/new">Post Ad</a> page you can post Ad.
      <ul class="policy-ul">
        <li>First you need to add Title of page.</li>
        <li>After select Major Category using dropdown.</li>
        <li>After select Category using dropdown.</li>
        <li>After select Brand using dropdown(in case of cars, bikes, mobile phones, tablets).</li>
        <li>Fill appropriate text fields and phone number.</li>
        <li>Enter full detail of your Ad.</li>
        <li>Select Province and City.</li>
        <li>Then just submit button "POST NOW!"</li>
      </ul>
    </div>
  </div>
</div>
