<!--<form id="Form" class="form-horizontal">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--<input id="email" type="text" class="form-control" name="email" placeholder="Email">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
<!--<input id="password" type="password" class="form-control" name="password" placeholder="Password">-->
<!--</div>-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon">Text</span>-->
<!--<input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">-->
<!--</div>-->
<!--<input type="submit">-->
<!--</form>-->

<div class="submit-ad main-grid-border">
  <div class="container">
    <% set_meta_tags title: 'Privacy policy - Adstous'   %>
    <% set_meta_tags description: 'Adstous, the leading web base Ads portal in Pakistan for Buy and Sell goods in all categories mobiles, cars, electronics, motorcycles, bikes, houses, apartments, flats, lands, plots, plot files,
            animals, property, business, furniture, jobs, pets, industrial, agriculture, kids, services, fashion '   %>


    <h2 class="w3-head"></h2>
    <div class="post-ad-form">


      <h1 class="policy-h1">Privacy Policy</h1>
      <p class="policy-para">Your privacy is highest prority to us. Thus, we are focused on regarding the protection of
        our
        clients and others by taking care of your own data in agreement to the most secure and
        most secure gauges. This Privacy Policy clarifies how we gather, use, store and uncover your
        own data.
        This Privacy Policy can be refreshed by our administration load up whenever when
        required by posting on the http://www.Adstous.com with no official notice. Likewise, this
        Privacy Statement might be enhanced or changed by assentions went into among us and a
        person every once in a while.</p>
      <h3 class="policy-h2">Collection of Personal Information:</h3>
      <p class="policy-para">Adstous.com get a large portion of individual data specifically from client and process it concurring
        necessities to give better administrations. We may likewise gather some other individual data in procedure of
        giving administrations:</p>

      <ul class="policy-ul">

        <li> Basic data, for example, name, telephone, and email address</li>
        <li>

          Authentication data, for example, Adstous.com.com email and secret word, and if any outsider administration
          (e.g. Twitter, Facebook) is utilized to sign in, the client ID of that benefit

        </li>


      </ul>

      <!--<p>The user registration form requires users to give us contact information (such as name, phone, and email address) that we will use to provide services. We use the customer contact information from the registration form to send the user information that he or she has requested regarding the Adstous.com or regarding services offered by us. This Adstous.com uses an ad form for customers to place online ads. One of the express purposes of the Adstous.com is to gather contact information provided voluntarily by customers to be published either online or in print, as the case may be, and in connection with items that are for sale by customers. We have no control over who views online or print ads.</p>-->
      <p class="policy-para">We utilize the client contact data from the enrollment frame to send the client data that the person in
        question has asked for with respect to the Adstous.com or in regards to administrations offered by us. This
        Adstous.com utilizes an advertisement shape for clients to put online promotions. One of the express reasons for
        the Adstous.com is to assemble contact data given deliberately by clients to be distributed either on the web or
        in print, by and large, and regarding things that are available to be purchased by clients. We have no influence
        over who sees on the web or print promotions.</p>

      <!--<p class="policy-para">Demographic and profile data is also collected at the Adstous.com. We use this data to tailor each visitor's experience at the Adstous.com, showing the user content that we think he or she might be interested in, and displaying the content according to the user's preferences.</p>-->
      <!--<p class="policy-para">Our online surveys ask visitors for contact information (such as email addresses) and demographic information (such as postal code and age). We use contact data from our surveys to send users information about our products and services.</p>-->
      <!--<p class="policy-para">We may use customer information for additional purposes that may be identified at or before the time that the information is collected. We also use information from customers for accounting and transaction completion purposes.</p>-->
      <p class="policy-para">We utilize outsider publicizing organizations like Google to serve advertisements when you visit our
        site. These organizations may utilize data (excluding your name, address, email address, or phone number) about
        your visits to this and different sites so as to give ads about merchandise and ventures important to you. In
        the event that you might want more data about this training and to know your decisions about not having this
        data, explicitly for Google, http://www.google.com/strategies/security/advertisements/click here to peruse the
        promotion serving approach.</p>

      <h3 class="policy-h2">Disclosure of Personal Information:(Revelation of Personal Information)</h3>

      <p class="policy-para">We may unveil certain individual data in following conditions:</p>
      <ul class="policy-ul">
        <li> By distributing promotions online if there should be an occurrence of things, that are available to be
          purchased by clients
        </li>
        <!--<li> To third-party websites and publishers so ads (or the content of the ads)  published on Adstous.com can also be published on a broader array of venues or  information vehicles,</li>-->
        <!--<li> to law enforcement agencies for the purposes of investigating fraud or other  offences, or</li>-->
        <!--<li>to legal, financial, and other professional advisors or in connection with  the sale or reorganization of all or part of its business or operations.</li>-->
        <li> Your portable number recorded on www.Adstous.com, you consent to get SMS from clients who may wish to get
          in touch with you through the Adstous.com.
        </li>
        <li>For better administration give and research</li>
      </ul>
      <!--<p class="policy-para">Except as provided above, we will not use or disclose personal information for  purposes other than those for which it was collected, except with the consent  of the individual or as required or permitted by law.</p>-->
      <!--<h3 class="">Communications and email tools:</h3>-->
      <!--<p class="policy-para">You agree to receive marketing communications from us unless you tell us that you prefer not to receive such communications. If you don't wish to receive marketing communications from us, simply indicate your preference by following directions provided with the communication. You may not use our Adstous.com or communication tools to harvest addresses, send spam or otherwise breach our Terms of Use or Privacy Policy. Adstous.com may automatically scan and manually filter messages sent via our communication tools for malicious activity or prohibited content, but Adstous.com does not permanently store such messages. Adstous.com reserves the right to delay replies in cases of suspected fraudulent activity or violations of the <a href="http://www.Adstous.com.com/terms_of_use">Adstous.com Terms of Use</a> and/or to refuse to transmit messages. If you use our tools to send content to a friend, Adstous.com doesn't permanently store your friends' addresses or use or disclose them for marketing purposes. To report spam from other users, please contact <a href="http://www.Adstous.com.com/submit_ticket">customer support.</a></p>-->

      <h3 class="policy-h2">Cookies and Sessions:</h3>


      <p class="policy-para">We may utilize your IP deliver to recognize you and your login status, analyze issues in our server,
        and to manage the Adstous.com. The Adstous.com utilizes treats to monitor that you don't see a similar promotion
        more than once. We use treats to convey content explicit to your interests and to spare your secret key so you
        don't have to reemerge it again to visit Adstous.com. Likewise, couple of essential things you have to think
        about treats are following:
      </p>
      <ul class="policy-ul">
        <li>Adstous.com offers certain features that are available only through the use of cookies.</li>
        <li>Adstous.com utilizes treats to help distinguish you and keep up your marked in status.</li>
        <li>You are allowed to decay treats if your program licenses, in spite of the fact that it can influence a
          portion of our site bits or administrations. For more data on your decisions about tolerating treats, see your
          program encourage work.
        </li>
      </ul>
      <p class="policy-para">Some outside advertisement organizations we use to show promotions on the Adstous.com. These
        promotions may likewise contain a few treats. While we use treats additionally in different parts of the
        Adstous.com, treats got with flag promotions are gathered by our advertisement organizations, and we don't
        approach this data. Adstous.com does not enable these organizations to gather any close to home data about you
        utilizing these treats.</p>
      <h3 class="">Links:</h3>
      <p class="policy-para">Adstous.com contains some URL connects to different sites, for example, sites giving national inquiry
        abilities and data assets intended to advise purchasers and venders about general parts of property that is
        being sold. We are not in charge of the security rehearses or the substance of such sites. If it's not too much
        trouble guarantee you audit the security strategies of the sites that you visit.</p>
      <h3 class="">Security:</h3>
      <p class="policy-para">We attempt our best to secure against the misfortune, abuse and modification of individual data. In
        any case, as you don't know anything, is impeccable, so Adstous.com are not offer any certifications.</p>
      <h3 class="">Contact Us:(Get in touch with Us)</h3>
      <p class="policy-para">In the event that you have any inquiries with respect to this Privacy Policy, if you don't mind get in
        touch with us by utilizing to the Contact Us page or sending us an email straightforwardly to
        <a href="http://www.adstous.com/contact-us">Contact us</a></p>
    </div>
  </div>
</div>
