<div class="container container-setting">

  <div class="row">

    <div class="col-lg-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active  row-head-color">
          Users Registration And Other Pages
        </a>
        <a href="/register" class="list-group-item list-group-item-action"><%= "Reister" %></a>
        <a href="/login" class="list-group-item list-group-item-action"><%= "Login" %></a>
        <a href="/users/password/new" class="list-group-item list-group-item-action"><%= "Forgot Password" %></a>
        <a href="/faq" class="list-group-item list-group-item-action"><%= "Frequently Asked Question" %></a>
        <a href="/contact-us" class="list-group-item list-group-item-action"><%= "Contact Us" %></a>
        <a href="/terms-conditions" class="list-group-item list-group-item-action"><%= "Terms of Use" %></a>
        <a href="/privacy-policy" class="list-group-item list-group-item-action"><%= "Privacy Policy" %></a>
        <a href="/sitemap" class="list-group-item list-group-item-action"><%= "Sitemap" %></a>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active  row-head-color">
          Categories
        </a>
        <% @categories.each do |cat| %>
            <a href="/all-categories/<%= cat.slug %>" class="list-group-item list-group-item-action"><%= cat.name %></a>
        <% end %>
      </div>
    </div>

  </div>

  <hr size="40">

  <div class="row">

    <% @categories.each do |cat| %>
    <div class="col-lg-4">
      <div class="list-group">
        <a href="/all-categories/<%= cat.slug %>" class="list-group-item list-group-item-action active  row-head-color">
         <%= cat.name %>
        </a>
        <% cat.sub_categories.each do |sub| %>
            <a href="/<%= sub.slug %>" class="list-group-item list-group-item-action"><%= sub.name %></a>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>


</div>