<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">



   <url>

      <loc>http://www.adstous.com/</loc>

      <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

      <changefreq>daily</changefreq>

      <priority>0.8</priority>

   </url>

   <url>

         <loc>http://www.adstous.com/register</loc>

         <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

         <changefreq>daily</changefreq>

         <priority>0.8</priority>

      </url>

      <url>

            <loc>http://www.adstous.com/login</loc>

            <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

            <changefreq>daily</changefreq>

            <priority>0.8</priority>

         </url>

         <url>

               <loc>http://www.adstous.com/users/password/new</loc>

               <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

               <changefreq>daily</changefreq>

               <priority>0.8</priority>

            </url>

            <url>

                  <loc>http://www.adstous.com/contact-us</loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>daily</changefreq>

                  <priority>0.8</priority>

               </url>

  <url>

                  <loc>http://www.adstous.com/terms-conditions</loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>daily</changefreq>

                  <priority>0.8</priority>

               </url>


  <url>

                  <loc>http://www.adstous.com/privacy-policy</loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>daily</changefreq>

                  <priority>0.8</priority>

               </url>

  <url>

                  <loc>http://www.adstous.com/sitemap</loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>daily</changefreq>

                  <priority>0.8</priority>

               </url>


<% @categories.each do |cat| %>
  <url>

                  <loc><%= "http://www.adstous.com/all-categories/#{cat.slug}" %></loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>always</changefreq>

                  <priority>0.9</priority>

               </url>


        <% end %>



  <% @categories.each do |cat| %>
        <% cat.sub_categories.each do |sub| %>
          <url>
                  <loc><%= "http://www.adstous.com/#{sub.slug}" %></loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>always</changefreq>

                  <priority>0.9</priority>

               </url>


        <% end %>
    <% end %>


        <% Item.all.each do |i| %>
          <url>
                  <loc><%= "http://www.adstous.com/items/#{i.slug}" %></loc>

                  <lastmod><%= Time.now.strftime("%Y-%m-%d") %></lastmod>

                  <changefreq>always</changefreq>

                  <priority>1.0</priority>

               </url>


        <% end %>





</urlset>

