<div class="submit-ad main-grid-border">
  <% set_meta_tags title: 'Terms and conditions - Adstous'   %>
  <% set_meta_tags description: 'Adstous, the leading web base Ads portal in Pakistan for Buy and Sell goods in all categories mobiles, cars, electronics, motorcycles, bikes, houses, apartments, flats, lands, plots, plot files,
          animals, property, business, furniture, jobs, pets, industrial, agriculture, kids, services, fashion '   %>

  <div class="container">
    <h2 class="w3-head"></h2>
    <div class="post-ad-form">


      <h1 class="">Terms of services</h1>
      <br>
      <h3 class="">Acceptance of terms:(Acknowledgment of terms)</h3>
      <p class="policy-para">Adstous gives a gathering of online assets, including ordered promotions, reactions, updates and updates (alluded to from now on as "the Service") subject to the accompanying terms and conditions ("Terms"). By utilizing the Service in any capacity, you are consenting to follow these Terms. What's more, when utilizing specific Adstous administrations, you consent to maintain any pertinent posted rules for all Adstous administrations, which may change now and again. Should you question any term or state of these Terms, any rules, or any ensuing changes thereto or wind up disappointed with Adstous in any capacity, your solitary plan of action is to promptly cease utilization of Adstous. You are, be that as it may, urged to educate/grumble to our client care group who will do their best to address your concern(s).</p>
      <h3 class="">Modifications to this agreement:(Adjustments to this assention)</h3>
      <p class="policy-para">We hold the right, at our sole prudence, to change, adjust or generally modify these terms and conditions whenever without warning. Such adjustments will wind up taking effect right now upon the posting thereof. You should survey this concession to a normal premise to keep yourself advised of any changes. You can locate the latest adaptation of these Terms at:
        <a href="http://www.adstous.com/terms-conditions">Terms of use</a></p>
      <h3 class="">Content:</h3>
      <p class="policy-para">You comprehend that all postings, promotions, messages, content, documents, pictures, photographs, video, sounds, or different materials ("Content") posted on, transmitted through, or connected from the Service, are the sole obligation of the individual from whom such Content started. All the more explicitly, you are completely in charge of all Content that you post, email or generally make accessible by means of the Service. You comprehend that Adstous does not control, and isn't in charge of Content made accessible through the Service, and that by utilizing the Service, you might be presented to Content that is hostile, obscene, off base, misdirecting, or generally frightful. Moreover, the Adstous webpage and Content accessible through the Service may contain connections to different sites, which are totally autonomous of Adstous. Adstous makes no portrayal or guarantee with regards to the precision, culmination or validness of the data contained in any such site. Your connecting to some other site is at your very own hazard. You concur that you should assess, and bear all dangers related with, the utilization of any Content, that you may not depend on said Content, and that by no means will Adstous be obligated in any capacity for any Content or for any misfortune or harm of any sort brought about because of the utilization of any Content posted, messaged or generally made accessible through the Service. By having your versatile number recorded on Adstous.com, you consent to get SMS from clients who may wish to reach you through the site. You recognize that Adstous does not generally pre-screen or endorse Content (except if indicated), yet that Adstous will have the right (yet not the commitment) in its sole tact to won't, erase or move any Content that is accessible through the Service, for disregarding the letter or soul of the Terms or for some other reason.</p>
      <h3 class="">Featured ads:(Highlighted advertisements)</h3>
      <p class="policy-para">Adstous offers an administration known as &quot;Highlighted Ads&quot; where clients may pay a non-
      refundable charge to have their promotions posted in chosen areas on the Website, along
      these lines possibly expanding an advertisements&#39; perceivability. So as to buy a Featured
      Ad, you might be required to transmit certain data through an outsider specialist co-op
      which might be represented by its own terms of utilization and different strategies.
      Adstous makes no portrayal or assurance with regards to the wellbeing or security of the
      data transmitted to any Third-Party Website, and your connecting to any Third-Party
      Website is totally at your own hazard, and Adstous renounces all obligation related thereto.
      Any Adstous user might be able to post feature ads if they have posted at least 30 ads.
      Adstous might delete some user data including the previously posted ads which have been
      aged more than 2 months in the system as a part of clean up activity on regular basis.
      </p>
      <h3 class="">Third party content, sites, and services:</h3>
      <p class="policy-para">The Adstous website and Content accessible through the Service may contain highlights and functionalities that may interface you or furnish you with access to outsider substance which is totally free of Adstous, including sites, indexes, servers, systems, frameworks, data and databases, applications, programming, projects, items or administrations, and the Internet all in all. Your cooperations with associations and additionally people found on or through the Service, including installment and conveyance of products or administrations, and some other terms, conditions, guarantees or portrayals related with such dealings, are exclusively among you and such associations and additionally people. You should make whatever examination you feel vital or suitable before continuing with any on the web or disconnected correspondence/exchange with any of these outsiders. You concur that Adstous will not be capable or subject for any misfortune or harm of any kind acquired as the consequence of any such dealings. On the off chance that there is a debate between members on this site, or among clients and any outsider, you comprehend and concur that Adstous is under no commitment to end up included. If you have a debate with at least one different clients, you therefore discharge Adstous, its officers, representatives, specialists and successors in rights from cases, requests and harms (real and weighty) of each sort or nature, known or obscure, suspected and unsuspected, unveiled and undisclosed, emerging out of or in any capacity identified with such question and/or our administration.
      </p>
      <h3 class="">Notification of claims of infringement:(Warning of cases of encroachment)</h3>
      <p class="policy-para">On the off chance that you trust that your work has been duplicated in a way that comprises copyright encroachment, or your protected innovation rights have been generally disregarded, it would be ideal if you tell us at: <a href="http://www.adstous.com/contact-us">Contact us</a></p>
      <h3 class="">Privacy and information disclosure:</h3>
      <p class="policy-para">Adstous has built up a Privacy Policy to disclose to clients how their data is gathered and
      utilized, which is situated at the accompanying web address:</p>
      <p class="policy-para"><a href="http://www.adstous.com/privacy-policy">privacy policy</a> Your utilization of the Adstous site or the Service implies
      affirmation of a consent to our Privacy Policy. You further recognize and concur that Adstous

      may, in its sole circumspection, safeguard or reveal your Content, and in addition your data,
      for example, email addresses, IP addresses, timestamps, and other client data, whenever
      required to do as such by law or in the great confidence conviction that such conservation or

      revelation is sensibly important to: follow legitimate process; authorize these Terms; react
      to claims that any Content disregards the privileges of outsiders; react to claims that contact
      data (e.g. telephone number, road address) of an outsider has been posted or transmitted
      without their assent or as a type of badgering; secure the rights, property, or individual wellbeing of Adstous, its clients or the overall population.</p>
      <h3 class="">Conduct:</h3>
      <p class="policy-para">You concur not to post, email, or generally make accessible Content:</p>
      <ul class="policy-ul">
        <li>that is unlawful, destructive, undermining, injurious, pestering, abusive, slanderous, intrusive of another's security, or is hurtful to minors in any capacity.
        </li>
        <li>that is explicit in nature.</li>
        <li>that annoys, debases, threatens or is contemptuous toward an individual or gathering of people based on religion, sex, sexual introduction, race, ethnicity, age, or handicap.
        that mimics any individual or substance, including, however not restricted to, an Adstous worker, or dishonestly states or generally distorts your association with an individual or element (this arrangement does not have any significant bearing to messages that are legitimate non-tricky spoofs of open figures.)
        </li>
        <li>that incorporates individual or distinguishing data about someone else without that individual's express assent.
        </li>
        <!--<li>that includes personal or identifying information about another person without that person's explicit-->
          <!--consent;-->
        <!--</li>-->
        <li>that is false, beguiling, deceiving, misleading, mis instructive, or establishes "snare and switch".</li>
        <li>that encroaches any patent, trademark, competitive innovation, copyright or other exclusive privileges of any gathering, or Content that you don't have a privilege to make accessible under any law or under authoritative or trustee connections.
        </li>
        <li>that establishes or contains "offshoot promoting," "connect referral code," "garbage mail," "spam," "networking letters," "fraudulent business models," or spontaneous business ad.
        </li>
        <li>that establishes or contains any type of publicizing or requesting if: posted in regions of the Adstous locales which are not assigned for such purposes; or messaged to Adstous clients who have not shown in composing that it is alright to get in touch with them about different administrations, items or business interests.
        </li>
        <li>that incorporates connections to business administrations or sites, aside from as permitted in "administrations".</li>
        <li>that promotes any illicit administration or the clearance of any things the closeout of which is disallowed or confined by any relevant law, including without impediment things the clearance of which is denied or controlled by the law of Pakistan.
        </li>
        <li>that contains programming infections or some other PC code, documents or projects intended to interfere with, obliterate or limit the usefulness of any PC programming or equipment or broadcast communications hardware.
        </li>
        <li>that upsets the typical stream of discourse with an inordinate number of messages (flooding assault) to the Service, or that generally contrarily influences other clients' capacity to utilize the Service or
        </li>
        <li>that utilizes deluding email addresses, or produced headers or generally controlled identifiers so as to camouflage the inception of Content transmitted through the Service. Also, you concur not to:
        <li>contact any individual who has asked not to be reached.</li>
        <li>"stalk" or generally disturb anybody.</li>
        <li>collect individual information about different clients for business or unlawful purposes.
        </li>
        <li>use robotized implies, including bugs, robots, crawlers, information mining apparatuses, or the like to download information from the Service - except if explicitly allowed by Adstous.
        </li>
        <li>post non-nearby or generally insignificant Content, over and over post the equivalent or comparable Content or generally force an outlandish or excessively substantial load on our foundation.
        </li>
        <li>attempt to increase unapproved access to Adstous' PC frameworks or take part in any action that disturbs, lessens the nature of, meddles with the execution of, or debilitates the usefulness of, the Service or the Adstous site or

        </li>
        <li>use any type of mechanized gadget or PC program that empowers the accommodation of postings on Adstous without each posting being physically entered by the creator thereof (a "robotized posting gadget"), including without restriction, the utilization of any such computerized presenting gadget on submit postings in mass, or for programmed accommodation of postings at standard interims.
        </li>
      </ul>



      <h3 class="">No spam policy:</h3>
      <p class="policy-para">You comprehend and concur that sending spontaneous email ads to Adstous email addresses or through Adstous PC frameworks are explicitly denied by these Terms. You recognize and concur that every now and then Adstous may screen email utilization utilizing human screens or robotized programming to signal certain words related with spam or tricks in messages that are sent between one client to another in the Adstous email/SMS framework. Any correspondence among yourself and some other client using the correspondence highlights accessible on the Service and the Website might be utilized just as per the Terms. Any unapproved utilization of Adstous PC frameworks is an infringement of these Terms and certain government and common laws. Such infringement may subject the sender and his or her operators to common and criminal punishments.
      </p>


      <h3 class="">Access to the service:</h3>
      <p class="policy-para">Adstous awards you a constrained, revocable, non-restrictive permit to get to the Service for your very own utilization. This permit does exclude any accumulation, collection, replicating, duplication, show or subordinate utilization of the Service nor any utilization of information mining, robots, bugs, or comparable information social occasion and extraction instruments for any reason except if explicitly allowed by Adstous. A constrained special case is given to broadly useful web crawlers and non-business open chronicles that utilization such instruments to assemble data for the sole motivation behind showing hyperlinks to the Service, gave they each do as such from a steady IP address or scope of IP tends to utilizing an effortlessly recognizable operator and consent to our robots.txt record. "Broadly useful web index" does exclude a site or internet searcher or other administration that represents considerable authority in grouped postings or in any subset of classifieds postings, for example, employments, lodging, available to be purchased, administrations, or personals, or which is in the matter of giving arranged advertisement posting administrations.
       </p>
      <p class="policy-para">Adstous may offer different parts of the Service in RSS design with the goal that clients can install singular channels into an individual site or blog, or view postings through outsider programming news aggregators. Adstous grants you to show, selection from, and connection to the RSS channels on your own site or individual web blog, gave that (a) your utilization of the RSS channel is for individual, non-business purposes just, (b) each title is effectively connected back to the first post on the Service and diverts the client to the post when the client taps on it, (c) you give, adjoining the RSS channel, legitimate attribution to 'Adstous.com' as the source, (d) your utilization or show does not recommend that Adstous advances or underwrites any outsider causes, thoughts, sites, items or administrations, (e) you don't redistribute the RSS channel, and (f) your utilization does not overburden Adstous' frameworks. Adstous saves all rights in the substance of the RSS channels and may end any RSS channel whenever.<br>
        Utilization of the Service past the extent of approved access allowed to you by Adstous quickly ends said authorization or permit. So as to gather, total, duplicate, copy, show or make subordinate utilization of the Service or any Content made accessible by means of the Service for different purposes (counting business purposes) not expressed in this, you should initially acquire a permit from Adstous.
      </p>
      <h3 class="">Termination of service:(End of administration)</h3>
      <p class="policy-para">You concur that Adstous, in its sole circumspection, has the right (however not the commitment) to erase or deactivate your record, obstruct your email or IP address, or generally end your entrance to or utilization of the Service (or any part thereof), promptly and without notice, and evacuate and dispose of any Content inside the Service, for any reason, including, without constraint, if Adstous trusts that you have acted conflictingly with the letter or soul of the Terms. Further, you concur that Adstous will not be subject to you or
      any outsider for any end of your entrance to the Service. Further, you concur not to endeavor to utilize the Service after said end.</p>

      <h3 class="">Disclaimer of warranties:(Disclaimer of guarantees)</h3>
      <p class="policy-para">YOU AGREE THAT USE OF THE Adstous SITE AND THE SERVICE IS ENTIRELY AT YOUR OWN RISK. THE Adstous SITE AND THE SERVICE ARE PROVIDED ON AN "AS Seems to be" OR "AS

      AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW. TO THE FULLEST EXTENT PERMITTED BY LAW, Adstous DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY, AND PERFORMANCE OF THE Adstous SITE AND THE SERVICE. TO THE FULLEST EXTENT PERMITTED BY LAW, Adstous DISCLAIMS ANY WARRANTIES FOR OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE Adstous SITE OR THE SITES OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON THE Adstous SITE. TO THE FULLEST EXTENT PERMITTED BY LAW, Adstous DISCLAIMS ANY WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE Adstous SITE OR THE SERVICE. A few purviews don't permit the disclaimer of inferred guarantees. In such wards, a portion of the prior disclaimers may not have any significant bearing to you seeing that they identify with suggested guarantees.</p>
      <h3 class="">Limitations of liability:(Constraints of risk)</h3>
      <p class="policy-para">By no means SHALL Adstous BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF Adstous HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY ASPECT OF YOUR USE OF THE Adstous SITE OR THE SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE Adstous SITE OR THE SERVICE, FROM INABILITY TO USE THE Adstous SITE OR THE SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE Adstous SITE OR THE SERVICE. SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE Adstous SITE OR THE SERVICE OR ANY LINKS ON THE Adstous SITE, AS WELL AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE Adstous SITE OR THE SERVICE OR ANY LINKS ON THE Adstous SITE. THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In a few locales, restrictions of risk are not allowed. In such wards, a portion of the previous restriction may not have any significant bearing to you.
      </p>
      <h3 class="">General data:</h3>
      <p class="policy-para">The Terms comprise the whole understanding among you and Adstous and oversee your utilization of the Service, superceding any earlier assentions among you and Adstous. The Terms and the connection among you and Adstous will be represented by the laws of Pakistan without respect to its contention of law arrangements. You and Adstous consent to submit to the individual and restrictive ward of the courts situated inside Pakistan. The disappointment of Adstous to practice or uphold any privilege or arrangement of the Terms will not comprise a waiver of such right or arrangement. On the off chance that any arrangement of the Terms is found by a court of skillful purview to be invalid, the gatherings by the by concur that the court should attempt to offer impact to the gatherings' aims as reflected in the arrangement, and alternate arrangements of the Terms stay in full power and impact. You concur that paying little mind to any resolution or law despite what might be expected, any case or reason for activity emerging out of or identified with utilization of the Service or the Terms must be recorded inside one (1) year after such case or reason for activity emerged or be perpetually banished.

      Infringement of terms and exchanged harms:

      If it's not too much trouble report any infringement of the Terms, by hailing the posting(s) for survey, or by messaging at: <a href="http://www.adstous.com/contact-us">Contact us</a>

      Our inability to act as for a break by you or others doesn't postpone our entitlement to act as for consequent or comparative ruptures.
      You comprehend and concur that, since harms are regularly hard to evaluate, on the off chance that it winds up vital for Adstous to seek after lawful activity to uphold these Terms, you will be at risk to pay Adstous the accompanying sums as exchanged harms, which you acknowledge as sensible appraisals of Adstous' harms for the predefined breaks of these
      </p>

      <h3 class="">Violation of terms and liquidated damages:</h3>
      <p class="policy-para">If it's not too much trouble, report any infringement of the Terms, by hailing the posting(s) for survey, or by messaging at: <a href="http://www.adstous.com/contact-us">Contact us</a><br>
        Our inability to act as for a rupture by you or others doesn't forgo our entitlement to act concerning consequent or comparable breaks.
       <br>
        You comprehend and concur that, since harms are frequently hard to evaluate, on the off chance that it winds up fundamental for Adstous to seek after legitimate activity to uphold these Terms, you will be at risk to pay Adstous the accompanying sums as exchanged harms, which you acknowledge as sensible assessments of Adstous' harms for the predetermined breaks of these Terms: </p>
      <ul class="policy-ul">
        <li>If you post a message that (1) imitates any individual or element; (2) erroneously states or generally distorts your connection with an individual or substance; or (3) that incorporates individual or recognizing data about someone else without that individual's express assent, you consent to pay Adstous fifty thousand rupees (Rs 50,000) for each such message. This arrangement does not make a difference to messages that are legitimate non-beguiling farces of open figures.
        </li>
        <li>If Adstous builds up points of confinement on the recurrence with which you may get to the Service, or ends your entrance to or utilization of the Service, you consent to pay Adstous five thousand rupees (Rs 5,000) for each message posted in abundance of such cutoff points or for every day on which you get to Adstous in overabundance of such breaking points, whichever is higher.
        </li>
        <li>If you send spontaneous email ads to Adstous email addresses or through Adstous PC frameworks, you consent to pay Adstous one thousand two hundred rupees (Rs 1200) for each such email.
        </li>
        <li>If you post messages disregarding these Terms of Use, other than as depicted above, you consent to pay Adstous five thousand rupees (Rs 5,000) for each such message. In its sole circumspection, Adstous may choose to issue a notice before evaluating harms.
        </li>
        <li>If you total, show, duplicate, copy, repeat, or generally misuse for any reason any Content (aside from your own Content) infringing upon these Terms without Adstous' express composed consent, you consent to pay Adstous one lakh fifty thousand rupees (Rs 150,000) for every day on which you take part in such direct.
        </li>
      </ul>
      <p class="policy-para">Else, you consent to pay Adstous' real harms, to the degree such genuine harms can be sensibly determined. Despite some other arrangement of these Terms, Adstous holds the privilege to look for the cure of explicit execution of any term contained in these Terms, or a fundamental or changeless order against the break of any such term or in help of the activity of any power conceded in these Terms, or any mix thereof.</>
    </div>
  </div>
</div>