<div class="total-ads main-grid-border">

  <div class="container">

    <div class="ads-grid">

      <div class="agileinfo-ads-display col-md-12">
        <div class="wrapper">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

            <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">


              <% if @posted.present? %>
                  <li role="presentation" id="user-pos" class="active">
                    <a href="#user-posted-ads" id="user-posted-ads-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                      <span class="text">My Ads</span>
                    </a>
                  </li>

              <% elsif @fav.present? %>

                  <li role="presentation" id="user-pos" class="active">
                    <a href="#user-posted-ads" id="user-posted-ads-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                      <span class="text">My Favourite Ads</span>
                    </a>
                  </li>

              <% else %>
                  <li role="presentation" id="user-pos" class="active">
                    <a href="#user-posted-ads" id="user-posted-ads-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                      <span class="text"><%= @name %> Ads</span>
                    </a>
                  </li>
              <% end %>

            </ul>

            <div id="myTabContent" class="tab-content">
            <% if @posted.present? %>



                  <div role="tabpanel" class="tab-pane fade in active" id="user-posted-ads" aria-labelledby="user-posted-ads-tab">
                    <div>
                      <div id="container">


                        <div class="clearfix"></div>

                        <ul class="list" id="posted">

                          <%= render 'home/user_items_list' if @posted.present? %>

                        </ul>
                      </div>
                    </div>
                  </div>
            <% elsif @fav.present? %>

                <div role="tabpanel" class="tab-pane fade in active" id="user-fav" aria-labelledby="user-fav-tab">
                  <div>
                    <div id="container">

                      <div class="clearfix"></div>
                      <ul class="list" id="fav">

                        <%= render 'home/user_fav_list' if @fav.present? %>


                      </ul>
                    </div>
                  </div>
                </div>

            <% else %>

                <div role="tabpanel" class="tab-pane fade in active" id="user-fav" aria-labelledby="user-fav-tab">
                  <div>
                    <div id="container">

                      <div class="clearfix"></div>
                      <ul class="list" id="fav">

                        <%= render 'home/user_items_list' if @specific.present? %>


                      </ul>
                    </div>
                  </div>
                </div>


            <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

