<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <%= form_with(model: @phase_sector, local: true, :id => "F",:class=>"form-horizontal") do |form| %>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="firstname1">Name</label>

      <div class="col-sm-5">
        <%= form.text_field :name, :class => "form-control", :id => "name", :placeholder => "name" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="firstname1">City</label>

      <div class="col-sm-5">

        <select id="city-p" name="phase_sector[city_id]" class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
          <option value="">Choose a city</option>
          <% @cities.each do |c| %>


              <% if @phase_sector.city == c %>
                  <option value="<%= c.id %>" selected="selected"><%= c.name %></option>
              <% else %>
                  <option value="<%= c.id %>"><%= c.name %> </option>
              <% end %>




          <% end unless @cities.blank? %>
        </select>
      </div>

      <!--</div>-->
    </div>

    <div class="form-group">
      <div class="col-xs-3" id="spin-city" style="display: none"><%= image_tag("/assets/select2-spinner.gif") %></div>
    </div>

    <div class="form-group" id="societies" style="display: none;">
      <%= render 'societies' %>
    </div>


    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-4">
        <!--<button type="submit" class="btn btn-primary" name="signup1" value="Sign up">Sign up</button>-->
        <%= form.submit :class => 'btn btn-info' %>
      </div>
    </div>
    <% end %>
  </div>
</div>




<script type="text/javascript">


    $("#F").validate({
        rules: {
            "phase_sector[name]": {
                required: true,
                minlength: 3
            },
            "phase_sector[city_id]": "required",
            "phase_sector[society_id]": "required"
        },

        messages: {
            "phase_sector[name]": {
                required: "Please enter a phase sector name",
                minlength: "Your sub category name must consist of at least 3 characters"
            },

            "phase_sector[city_id]": "Please choose an option!",
            "phase_sector[society_id]": "Please choose an option!"
        },
        errorElement: "em",
        errorPlacement: function (error, element) {
            // Add the `help-block` class to the error element
            error.addClass("help-block");

            // Add `has-feedback` class to the parent div.form-group
            // in order to add icons to inputs
            element.parents(".col-sm-5").addClass("has-feedback");

            if (element.prop("type") === "checkbox") {
                error.insertAfter(element.parent("label"));
            } else {
                error.insertAfter(element);
            }

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if (!element.next("span")[0]) {
                $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
            }
        },
        success: function (label, element) {
            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if (!$(element).next("span")[0]) {
                $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
            }
        },
        highlight: function (element, errorClass, validClass) {
            $(element).parents(".col-sm-5").addClass("has-error").removeClass("has-success");
            $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).parents(".col-sm-5").addClass("has-success").removeClass("has-error");
            $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
        }
    });


    $("#city-p").on("change", function () {
        $("#spin-city").css("display", "block");
        var s = $("#societies");
        "" == this.value ? ($("#societies").css("display", "none"), $("#spin-city").css("display", "none")) : $.ajax({
            url: "/items/show_societies?city_id=" + this.value + "&phase=" + $("#category").val(),
            type: "get",
            dataType: "html",
            processData: !1,
            success: function (e) {
                $("#spin-city").css("display", "none"), document.getElementById("societies").style.display = "block", s.html(e)
            }
        })
    });

    $(function () {
        $('select').selectpicker();
    });


</script>