<label class="col-sm-4 control-label" for="firstname1">Society</label>

          <div class="col-sm-5">
<select id="Society" name="phase_sector[society_id]" class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
              <option value="">Choose a Society</option>
              <% @societies.each do |c| %>
                  <option value="<%= c.id %>"><%= c.name %> --- <%= c.city.name %> </option>
              <% end unless @societies.blank? %>
            </select>
          </div>


<script>


    $("#Society").on("change", function () {
        $("#spin-city").css("display", "block");
        var s = $("#phases");
        "" == this.value ? ($("#phases").css("display", "none"), $("#spin-city").css("display", "none")) : $.ajax({
            url: "/blocks/show_phases?society_id=" + this.value ,
            type: "get",
            dataType: "html",
            processData: !1,
            success: function (e) {
                $("#spin-city").css("display", "none"), document.getElementById("phases").style.display = "block", s.html(e)
            }
        })


    });

        $('select').selectpicker();
</script>

