<h1>Editing Sub Category</h1>

<%= render 'form', sub_category: @sub_category %>

<%= link_to 'Show', @sub_category ,:class => 'btn btn-info' %>  |
<%= link_to 'Back', sub_categories_path ,:class => 'btn btn-info' %>
