<h1 style="text-align: center">Sub Categories</h1>

<table style="margin-left: 10px">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Society</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phase_sectors.each do |phase_sector| %>
      <tr>
        <td><%= phase_sector.id %><%= '-----' %></td>
        <td><%= phase_sector.name %><%="-----------"%></td>
        <td><%= phase_sector.society.name %><%= "          " %></td>
        <td><%= link_to 'Show', phase_sector %></td>
        <td><%#= link_to 'Edit', edit_phase_sector_path(phase_sector) %></td>
        <td><%#= link_to 'Destroy', phase_sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add phase sector', new_phase_sector_path ,:class => 'btn btn-info' %>
