

<p>
  <strong>Name:</strong>
  <%= @phase_sector.name %>
</p>

<p>
  <strong>Society:</strong>
  <%= @phase_sector.society.name %>
</p>

<%#= link_to 'Edit', edit_phase_sector_path(@phase_sector) ,:class => 'btn btn-info' %>|
<%= link_to 'Back', phase_sectors_path ,:class => 'btn btn-info' %>
