<% unless @sectors.blank? %>
<label class="col-sm-4 control-label" for="firstname1">Phase/Sector</label>

          <div class="col-sm-4">
<select id="" name="block[phase_sector_id]" class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
              <option value="">Choose a Phase/Sector</option>
              <% @sectors.each do |c| %>
                  <option value="<%= c.id %>"><%= c.name %> --- <%= c.society.name %> </option>
              <% end  %>
            </select>
          </div>
<% end  %>

<script>
        $('select').selectpicker();
</script>

