<h1 style="text-align: center">Sub Categories</h1>

<table style="margin-left: 10px">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Society</th>
      <th>Phase/Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.id %><%= '-----' %></td>
        <td><%= block.name %><%="-----------"%></td>
        <td><%= block.city.name %><%= "-----" %></td>
        <td><%= block.society.name %><%= "-----" %></td>
        <td><%= block.phase_sector.name %><%= "------" %></td>
        <td><%= link_to 'Show', block %></td>
        <td><%#= link_to 'Edit', edit_block_path(block) %></td>
        <td><%#= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add phase sector', new_block_path ,:class => 'btn btn-info' %>
