

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
  <strong>Society:</strong>
  <%= @block.society.name %>
</p>

<%#= link_to 'Edit', edit_phase_sector_path(@block) ,:class => 'btn btn-info' %>|
<%= link_to 'Back', blocks_path ,:class => 'btn btn-info' %>
