							<div class="row">
								<div class="col-lg-12">
									<ul class="sf-menu sf-vertical">
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/">Over The Counter Drugs</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Allergy-and-flu/">Allergy and flu</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Antidote/">Antidote</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Antiseptics-/">Antiseptics</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Blood-glucose-control-/">Blood glucose control</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Blood-glucose-control-/Glucometers/">Glucometers</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Blood-glucose-control-/Glucometer-Strips/">Glucometer Strips</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Blood-glucose-control-/Artificial-Sweeteners/">Artificial Sweeteners</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Cataract%7B47%7DLens/">Cataract/Lens</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Compounded-products/">Compounded products</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Constipation/">Constipation</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Condoms/">Condoms</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Cough/">Cough</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Dehydration/">Dehydration</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Diabetic-Sock/">Diabetic Sock</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Diagnostic-Kit/">Diagnostic Kit</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Diarrhea-and-Vomiting-/">Diarrhea and Vomiting</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Digestion/">Digestion</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Ear-and-nose/">Ear and nose</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Fever/">Fever</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Hair-Care/">Hair Care</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Heart%252dburn/">Heart-burn</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Herbal-/">Herbal</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Home-Appliances/">Home Appliances</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Home-Appliances/Air-Cleaner/">Air Cleaner</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Homeopathic-drugs/">Homeopathic drugs</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Home-care/">Home care</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Intravenous-Fluids/">Intravenous Fluids</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Kit/">Kit</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Kit/Dialyzer-kit/">Dialyzer kit</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Kit/First-Aid-Kit/">First Aid Kit</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/">Medical Device</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Blood-Pressure-Monitor/">Blood Pressure Monitor</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Nebulizer-Kit/">Nebulizer Kit</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Spacer/">Spacer</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Step%252dCounter-Check/">Step-Counter Check</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Thermometer/">Thermometer</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Medical-Device/Weight-Machine/">Weight Machine</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Men-and-women-health-/">Men and women health</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Milk-Products/">Milk Products</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Milk-Products/Infant-Nutrition/">Infant Nutrition</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Milk-Products/Nursing-mothers-/">Nursing mothers</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Milk-Products/Baby-Nutrition/">Baby Nutrition</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Milk-Products/Child-Nutrition/">Child Nutrition</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/New-born/">New born</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Oral-Health-Care/">Oral Health Care</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Pain/">Pain</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Patient-Therapy-%26-Rehabilitation/">Patient Therapy &amp; Rehabilitation</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Patient-Therapy-%26-Rehabilitation/Orthopedic-Soft-Goods-and-Braces/">Orthopedic Soft Goods and Braces</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Prenatal-vitamins/">Prenatal vitamins</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Probiotics/">Probiotics</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Sexual-Healthcare/">Sexual Healthcare</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Skin-care/">Skin care</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Sun-Block/">Sun Block</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Surgicals-and-disposables/">Surgicals and disposables</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/">Vitamins</a><ul>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/Diet-Supplements/">Diet Supplements</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/Infant-nutritional-supplements/">Infant nutritional supplements</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/Minerals-and-calcium/">Minerals and calcium</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/Multivitamins/">Multivitamins</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Vitamins/Iron-Supplements/">Iron Supplements</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Weight-loss/">Weight loss</a></li>
<li><a href="https://sehat.com.pk/categories/Over-The-Counter-Drugs/Wound-care-/">Wound care</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/">Prescription Drugs</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Anti%252dsmoking-agent/">Anti-smoking agent</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Allergy-/">Allergy</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Allergy-/Non%252dsedative-anti%252dhistamine/">Non-sedative anti-histamine</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Allergy-/Sedative-anti%252dhistamine/">Sedative anti-histamine</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Anesthesia/">Anesthesia</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Anesthesia/General-anesthesia/">General anesthesia</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Anesthesia/Local-anesthesia/">Local anesthesia</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Anxiety-/">Anxiety</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/">Asthma</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Inhalers/">Inhalers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Injectable/">Injectable</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Inhalation-Solution/">Inhalation Solution</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Oral-asthma-preparations/">Oral asthma preparations</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Oral-asthma-preparations/Asthma-prophylaxis/">Asthma prophylaxis</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Oral-asthma-preparations/Bronchodilators/">Bronchodilators</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Asthma/Oral-asthma-preparations/Mucolytic-%7B47%7D-expectorants/">Mucolytic / expectorants</a></li>

</ul>
</li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/">Blood</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Anti%252dcoagulants/">Anti-coagulants</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Anti%252dhemorrhagic/">Anti-hemorrhagic</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Anti%252dhemorrhoidal/">Anti-hemorrhoidal</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Anti%252dthrombotic/">Anti-thrombotic</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Blood-cell-deficiencies/">Blood cell deficiencies</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Blood-substitute/">Blood substitute</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Other-blood-disorder/">Other blood disorder</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Blood/Thalassemia-/">Thalassemia</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Bone-disorders/">Bone disorders</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Bone-disorders/Arthritis/">Arthritis</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Bone-disorders/Gout/">Gout</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Bone-disorders/Osteoporosis/">Osteoporosis</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Cancer/">Cancer</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Cancer/Adjunct-cancer-therapy/">Adjunct cancer therapy</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Cancer/Injectable-anti%252dcancer-/">Injectable anti-cancer</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Cancer/Oral-anti%252dcancer-/">Oral anti-cancer</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Cholesterol-control/">Cholesterol control</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/">Diabetes</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Insulin-preparations-/">Insulin preparations</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Oral-anti%252ddiabetics/">Oral anti-diabetics</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Oral-anti%252ddiabetics/Biguanides/">Biguanides</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Oral-anti%252ddiabetics/Glitazones/">Glitazones</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Oral-anti%252ddiabetics/Other-oral-anti%252ddiabetics/">Other oral anti-diabetics</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Oral-anti%252ddiabetics/Sulfonylureas/">Sulfonylureas</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Diabetes/Other-Anti%252ddiabetics/">Other Anti-diabetics</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Ear-and-nasal-infections/">Ear and nasal infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Epilepsy-/">Epilepsy</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/">Eye</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Anti%252dglaucoma-%7B47%7D-Cataract/">Anti-glaucoma / Cataract</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Conjunctivitis/">Conjunctivitis</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Ocular-anti%252dinfectives/">Ocular anti-infectives</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Ocular-lubricants/">Ocular lubricants</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Ocular-steroids/">Ocular steroids</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Eye/Other-eye-preparations/">Other eye preparations</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Fever-and-cough-/">Fever and cough</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Fever-and-cough-/Cough-preparations/">Cough preparations</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Fever-and-cough-/Fever-preparations/">Fever preparations</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/">Gastrointestinal disorders</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Anti%252ddiarrheal/">Anti-diarrheal</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Appetite-stimulants/">Appetite stimulants</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Digestive-enzymes/">Digestive enzymes</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Intestinal-disorders/">Intestinal disorders</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Laxatives--/">Laxatives</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gastrointestinal-disorders-/Nausea-and-vomiting/">Nausea and vomiting</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gynae/">Gynae</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gynae/Contraceptives/">Contraceptives</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gynae/Gynecological-Infections/">Gynecological Infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Gynae/Infertility-and-other-gynecological-treatment/">Infertility and other gynecological treatment</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Heart-disorders/">Heart disorders</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Heart-disorders/Angina/">Angina</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Heart-disorders/Heart-failure/">Heart failure</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Heart-disorders/Other-cardiac-therapy/">Other cardiac therapy</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/">High blood pressure</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/ACE-inhibitors/">ACE inhibitors</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/Angiotensin-ll-antagonist-/">Angiotensin ll antagonist</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/Beta-blocker/">Beta blocker</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/Calcium-channel-blockers/">Calcium channel blockers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/Diuretics/">Diuretics</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/High-blood-pressure/Other-high-blood-pressure-products./">Other high blood pressure products.</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Hormones-and-glands/">Hormones and glands</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Hormones-and-glands/Glands-/">Glands</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Hormones-and-glands/Hormones-/">Hormones</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Immunity/">Immunity</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Immunity/Immunity-stimulants/">Immunity stimulants</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Immunity/Immunity-suppressant-/">Immunity suppressant</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/">Infections</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Amoebic-infections/">Amoebic infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/">Bacterial infections</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Aminoglycosides/">Aminoglycosides</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/">Cephalosporin</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/1st-generation/">1st generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/2nd-generation/">2nd generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/3rd-generation/">3rd generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/4rth-generation-/">4rth generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/5th-generation/">5th generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/6th-generation/">6th generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/7th-generation/">7th generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/8th-generation/">8th generation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Cephalosporin/9th-generation/">9th generation</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Macrolides/">Macrolides</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Other-bacterial-infections/">Other bacterial infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Penicillins/">Penicillins</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Quinolones/">Quinolones</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Bacterial-infections/Tetracycline/">Tetracycline</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Fungal-infections/">Fungal infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Malaria/">Malaria</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Parasite-infections/">Parasite infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Topical--infections/">Topical  infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Tuberculosis/">Tuberculosis</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Viral-infections/">Viral infections</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Infections/Viral-infections/HIV%7B47%7DAIDS/">HIV/AIDS</a></li>

</ul>
</li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Inflammation/">Inflammation</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Kidney-disorders/">Kidney disorders</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Liver/">Liver</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Liver/Hepatitis-C/">Hepatitis C</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Lungs/">Lungs</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Mood-Elevators/">Mood Elevators</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Male-Sexual-Dysfunction/">Male Sexual Dysfunction</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neonates-/">Neonates</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/">Neurology</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Alzheimer%E2%80%99s-disease/">Alzheimer’s disease</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Migraine/">Migraine</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Nervous-system-disorders-/">Nervous system disorders</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Nervous-system-disorders-/Anti%252d-vertigo/">Anti- vertigo</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Nervous-system-disorders-/Anti%252dpsychotics/">Anti-psychotics</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Nervous-system-disorders-/Other-neuro-disorders/">Other neuro disorders</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Neuropathic-Pain/">Neuropathic Pain</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Neurology-/Parkinsonism/">Parkinsonism</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Obesity/">Obesity</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/">Pain relief</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Anti%252dspasmodic/">Anti-spasmodic</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Injectable-pain-killers-/">Injectable pain killers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Local-pain-relief/">Local pain relief</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Muscle-relaxants/">Muscle relaxants</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/">Oral Pain killers</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Arylalkanoic-acid-derivatives/">Arylalkanoic acid derivatives</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Cox%252d2-inhibitors/">Cox-2 inhibitors</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Narcotic-pain-killers/">Narcotic pain killers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Non%252dnarcotic-pain-killers/">Non-narcotic pain killers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Other-Oral-pain-killers/">Other Oral pain killers</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Oxicams/">Oxicams</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Propionic-acid-derivatives/">Propionic acid derivatives</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Oral-Pain-killers/Salicylates/">Salicylates</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pain-relief-/Other-pain-killers/">Other pain killers</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Poison-management-/">Poison management</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Poison-management-/Antidotes/">Antidotes</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Poison-management-/Other-poison-control-products/">Other poison control products</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Pregnancy-care-/">Pregnancy care</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Prostate-Gland/">Prostate Gland</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Prostate-Gland/Alpha-1A-Blockers/">Alpha 1A Blockers</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Rehydration-fluids/">Rehydration fluids</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Skin-diseases/">Skin diseases</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Sleep-disorders/">Sleep disorders</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Steroids-/">Steroids</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Steroids-/Anabolic-steroids/">Anabolic steroids</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Steroids-/Inhaler-steroids/">Inhaler steroids</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Steroids-/Local-steroids/">Local steroids</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Steroids-/Oral-and-injectable-steroids/">Oral and injectable steroids</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Ulcer-/">Ulcer</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Ulcer-/H2%252dreceptor-antagonist/">H2-receptor antagonist</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Ulcer-/Prostaglandins/">Prostaglandins</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Ulcer-/Proton-pump-inhibitors/">Proton pump inhibitors</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Urinary-Tract-Infections/">Urinary Tract Infections</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vaccines/">Vaccines</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vaccines/Adult-Vaccine/">Adult Vaccine</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vaccines/Childhood-Vaccine/">Childhood Vaccine</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vaccines/Infant-Vaccine/">Infant Vaccine</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vitamins-and-nutritional-supplements/">Vitamins and nutritional supplements</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vitamins-and-nutritional-supplements/Calcium-and-mineral-supplement/">Calcium and mineral supplement</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vitamins-and-nutritional-supplements/Iron-supplements/">Iron supplements</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vitamins-and-nutritional-supplements/Multivitamins/">Multivitamins</a></li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/Vitamins-and-nutritional-supplements/Nutritional-supplement-/">Nutritional supplement</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/X%252dRays/">X-Rays</a><ul>
<li><a href="https://sehat.com.pk/categories/Prescription-Drugs-/X%252dRays/Scanning-Agents/">Scanning Agents</a></li>

</ul>
</li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/">Consumer products</a><ul>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Baby-Care/">Baby Care</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/">Beauty and Skin</a><ul>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Body-Care/">Body Care</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Bath-soap-and-Hand-wash/">Bath soap and Hand wash</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Beauty/">Beauty</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Facial-Care/">Facial Care</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Hand-sanitizers/">Hand sanitizers</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Beauty-and-Skin/Hair-care/">Hair care</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Books/">Books</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Cosmetics/">Cosmetics</a><ul>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Cosmetics/Talcum-Powders/">Talcum Powders</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Cosmetics/Perfumes/">Perfumes</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Detergents/">Detergents</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Disinfectants/">Disinfectants</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Manicure/">Manicure</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Mosquito-repellents-/">Mosquito repellents</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Personal-Hygiene/">Personal Hygiene</a><ul>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Personal-Hygiene/Shaving-Cream/">Shaving Cream</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/House-hold-products/">House hold products</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Water-purification-products/">Water purification products</a></li>
<li><a href="https://sehat.com.pk/categories/Consumer-products/Women%27s-Health/">Women&#039;s Health</a></li>

</ul>
</li>
<li><a href="https://sehat.com.pk/categories/Special-Discounts/">Special Discounts</a></li>