<div id="ui-id-1" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 97px; max-height: none; height: auto;">
  <div class="l feature_group"><span class="l b group_title">Main Features</span>
    <div class="feature"><label class="l flabel" for="feature_1">Built in
      year</label><input type="text" class="rfield l" name="feature_1" id="feature_1" value=""></div>
    <div class="feature">
      <label class="l flabel" for="feature_2">View</label><input type="text" class="rfield l" name="feature_2" id="feature_2" value="">
    </div>
    <div class="feature"><label class="l flabel" for="feature_4">Parking
      Spaces</label><input type="text" class="rfield l" name="feature_4" id="feature_4" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_8">Double Glazed
      Windows</label><input type="checkbox" name="feature_8" id="feature_8" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_9">Central Air
      Conditioning</label><input type="checkbox" name="feature_9" id="feature_9" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_10">Central Heating</label><input type="checkbox" name="feature_10" id="feature_10" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_11">Flooring</label><select class="rfield l" name="feature_11" id="feature_11">
      <option value="">Select</option>
      <option value="Tiles">Tiles</option>
      <option value="Marble">Marble</option>
      <option value="Wooden">Wooden</option>
      <option value="Chip">Chip</option>
      <option value="Cement">Cement</option>
      <option value="Other">Other</option>
    </select></div>
    <div class="feature"><label class="l flabel" for="feature_12">Electricity Backup</label><select class="rfield l" name="feature_12" id="feature_12">
      <option value="">Select</option>
      <option value="None">None</option>
      <option value="Generator">Generator</option>
      <option value="Ups">Ups</option>
      <option value="Solar">Solar</option>
      <option value="Other">Other</option>
    </select></div>
    <div class="feature"><label class="l flabel" for="feature_13">Waste Disposal</label><input type="checkbox" name="feature_13" id="feature_13" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_15">Floors</label><input type="text" class="rfield l" name="feature_15" id="feature_15" value="">
    </div>
    <div class="feature"><label class="l flabel" for="feature_20">Other Main
      Features</label><input type="text" class="rfield l" name="feature_20" id="feature_20" value=""></div>
    <div class="feature">
      <label class="l flabel" for="feature_22">Furnished</label><input type="checkbox" name="feature_22" id="feature_22" value="Yes">
    </div>
  </div>
  <div class="l feature_group"><span class="l b group_title">Rooms</span>
    <div class="feature">
      <label class="l flabel" for="feature_24">Bedrooms</label><input type="text" class="rfield l" name="feature_24" id="feature_24" value="">
    </div>
    <div class="feature">
      <label class="l flabel" for="feature_25">Bathrooms</label><input type="text" class="rfield l" name="feature_25" id="feature_25" value="">
    </div>
    <div class="feature"><label class="l flabel" for="feature_26">Servant Quarters</label><input type="text" class="rfield l" name="feature_26" id="feature_26" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_27">Drawing Room</label><input type="checkbox" name="feature_27" id="feature_27" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_28">Dining Room</label><input type="checkbox" name="feature_28" id="feature_28" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_29">Kitchens</label><input type="text" class="rfield l" name="feature_29" id="feature_29" value="">
    </div>
    <div class="feature"><label class="l flabel" for="feature_30">Study Room</label><input type="checkbox" name="feature_30" id="feature_30" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_31">Prayer
      Room</label><input type="checkbox" name="feature_31" id="feature_31" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_32">Powder
      Room </label><input type="checkbox" name="feature_32" id="feature_32" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_33">Gym</label><input type="checkbox" name="feature_33" id="feature_33" value="Yes">
    </div>
    <div class="feature"><label class="l flabel" for="feature_34">Store
      Rooms</label><input type="text" class="rfield l" name="feature_34" id="feature_34" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_35">Steam
      Room</label><input type="checkbox" name="feature_35" id="feature_35" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_36">Lounge or Sitting
      Room</label><input type="checkbox" name="feature_36" id="feature_36" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_37">Laundry
      Room</label><input type="checkbox" name="feature_37" id="feature_37" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_38">Other
      Rooms</label><input type="text" class="rfield l" name="feature_38" id="feature_38" value=""></div>
  </div>
  <div class="l feature_group"><span class="l b group_title">Business and Communication</span>
    <div class="feature"><label class="l flabel" for="feature_51">Broadband Internet
      Access</label><input type="checkbox" name="feature_51" id="feature_51" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_52">Satellite or Cable TV
      Ready</label><input type="checkbox" name="feature_52" id="feature_52" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_55">Intercom</label><input type="checkbox" name="feature_55" id="feature_55" value="Yes">
    </div>
    <div class="feature"><label class="l flabel" for="feature_57">Other Business and Communication
      Facilities</label><input type="text" class="rfield l" name="feature_57" id="feature_57" value=""></div>
  </div>
  <div class="l feature_group"><span class="l b group_title">Healthcare Recreational</span>
    <div class="feature"><label class="l flabel" for="feature_68">Lawn or
      Garden</label><input type="checkbox" name="feature_68" id="feature_68" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_69">Swimming
      Pool</label><input type="checkbox" name="feature_69" id="feature_69" value="Yes"></div>
    <div class="feature">
      <label class="l flabel" for="feature_70">Sauna</label><input type="checkbox" name="feature_70" id="feature_70" value="Yes">
    </div>
    <div class="feature">
      <label class="l flabel" for="feature_71">Jacuzzi</label><input type="checkbox" name="feature_71" id="feature_71" value="Yes">
    </div>
    <div class="feature"><label class="l flabel" for="feature_72">Other Healthcare and Recreation
      Facilities</label><input type="text" class="rfield l" name="feature_72" id="feature_72" value=""></div>
  </div>
  <div class="l feature_group"><span class="l b group_title">Nearby Locations and Other Facilities</span>
    <div class="feature"><label class="l flabel" for="feature_73">Nearby
      Schools</label><input type="text" class="rfield l" name="feature_73" id="feature_73" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_74">Nearby
      Hospitals</label><input type="text" class="rfield l" name="feature_74" id="feature_74" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_75">Nearby Shopping
      Malls</label><input type="text" class="rfield l" name="feature_75" id="feature_75" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_76">Nearby
      Restaurants</label><input type="text" class="rfield l" name="feature_76" id="feature_76" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_77">Distance From Airport
      (kms)</label><input type="text" class="rfield l" name="feature_77" id="feature_77" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_78">Nearby Public Transport
      Service</label><input type="text" class="rfield l" name="feature_78" id="feature_78" value=""></div>
    <div class="feature"><label class="l flabel" for="feature_79">Other Nearby
      Places</label><input type="text" class="rfield l" name="feature_79" id="feature_79" value=""></div>
  </div>
  <div class="l feature_group"><span class="l b group_title">Other Facilities
</span>
    <div class="feature"><label class="l flabel" for="feature_80">Maintenance
      Staff</label><input type="checkbox" name="feature_80" id="feature_80" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_81">Security
      Staff</label><input type="checkbox" name="feature_81" id="feature_81" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_86">Facilities for
      Disabled</label><input type="checkbox" name="feature_86" id="feature_86" value="Yes"></div>
    <div class="feature"><label class="l flabel" for="feature_88">Other
      Facilities</label><input type="text" class="rfield l" name="feature_88" id="feature_88" value=""></div>
  </div>


  ############################### Flats

  <div id="ui-id-1" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 97px; max-height: none; height: auto;">
    <div class="l feature_group"><span class="l b group_title">Main Features</span>
      <div class="feature"><label class="l flabel" for="feature_1">Built in
        year</label><input type="text" class="rfield l" name="feature_1" id="feature_1" value=""></div>
      <div class="feature">
        <label class="l flabel" for="feature_2">View</label><input type="text" class="rfield l" name="feature_2" id="feature_2" value="">
      </div>
      <div class="feature"><label class="l flabel" for="feature_4">Parking
        Spaces</label><input type="text" class="rfield l" name="feature_4" id="feature_4" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_7">Lobby in
        Building</label><input type="checkbox" name="feature_7" id="feature_7" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_8">Double Glazed
        Windows</label><input type="checkbox" name="feature_8" id="feature_8" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_9">Central Air
        Conditioning</label><input type="checkbox" name="feature_9" id="feature_9" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_10">Central
        Heating</label><input type="checkbox" name="feature_10" id="feature_10" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_11">Flooring</label><select class="rfield l" name="feature_11" id="feature_11">
        <option value="">Select</option>
        <option value="Tiles">Tiles</option>
        <option value="Marble">Marble</option>
        <option value="Wooden">Wooden</option>
        <option value="Chip">Chip</option>
        <option value="Cement">Cement</option>
        <option value="Other">Other</option>
      </select></div>
      <div class="feature"><label class="l flabel" for="feature_12">Electricity
        Backup</label><select class="rfield l" name="feature_12" id="feature_12">
        <option value="">Select</option>
        <option value="None">None</option>
        <option value="Generator">Generator</option>
        <option value="Ups">Ups</option>
        <option value="Solar">Solar</option>
        <option value="Other">Other</option>
      </select></div>
      <div class="feature"><label class="l flabel" for="feature_13">Waste
        Disposal</label><input type="checkbox" name="feature_13" id="feature_13" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_14">Floor</label><input type="text" class="rfield l" name="feature_14" id="feature_14" value="">
      </div>
      <div class="feature"><label class="l flabel" for="feature_16">Floors in
        Building</label><input type="text" class="rfield l" name="feature_16" id="feature_16" value=""></div>
      <div class="feature">
        <label class="l flabel" for="feature_18">Elevators</label><input type="text" class="rfield l" name="feature_18" id="feature_18" value="">
      </div>
      <div class="feature"><label class="l flabel" for="feature_19">Service Elevators in
        Building</label><input type="checkbox" name="feature_19" id="feature_19" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_20">Other Main
        Features</label><input type="text" class="rfield l" name="feature_20" id="feature_20" value=""></div>
      <div class="feature">
        <label class="l flabel" for="feature_22">Furnished</label><input type="checkbox" name="feature_22" id="feature_22" value="Yes">
      </div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Rooms</span>
      <div class="feature">
        <label class="l flabel" for="feature_24">Bedrooms</label><input type="text" class="rfield l" name="feature_24" id="feature_24" value="">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_25">Bathrooms</label><input type="text" class="rfield l" name="feature_25" id="feature_25" value="">
      </div>
      <div class="feature"><label class="l flabel" for="feature_26">Servant
        Quarters</label><input type="text" class="rfield l" name="feature_26" id="feature_26" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_27">Drawing
        Room</label><input type="checkbox" name="feature_27" id="feature_27" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_28">Dining
        Room</label><input type="checkbox" name="feature_28" id="feature_28" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_29">Kitchens</label><input type="text" class="rfield l" name="feature_29" id="feature_29" value="">
      </div>
      <div class="feature"><label class="l flabel" for="feature_30">Study
        Room</label><input type="checkbox" name="feature_30" id="feature_30" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_31">Prayer
        Room</label><input type="checkbox" name="feature_31" id="feature_31" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_32">Powder
        Room </label><input type="checkbox" name="feature_32" id="feature_32" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_33">Gym</label><input type="checkbox" name="feature_33" id="feature_33" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_34">Store
        Rooms</label><input type="text" class="rfield l" name="feature_34" id="feature_34" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_35">Steam
        Room</label><input type="checkbox" name="feature_35" id="feature_35" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_36">Lounge or Sitting
        Room</label><input type="checkbox" name="feature_36" id="feature_36" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_37">Laundry
        Room</label><input type="checkbox" name="feature_37" id="feature_37" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_38">Other
        Rooms</label><input type="text" class="rfield l" name="feature_38" id="feature_38" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Business and Communication</span>
      <div class="feature"><label class="l flabel" for="feature_51">Broadband Internet
        Access</label><input type="checkbox" name="feature_51" id="feature_51" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_52">Satellite or Cable TV
        Ready</label><input type="checkbox" name="feature_52" id="feature_52" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_53">Business Center or Media Room in
        Building</label><input type="checkbox" name="feature_53" id="feature_53" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_54">Conference Room in
        Building</label><input type="checkbox" name="feature_54" id="feature_54" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_55">Intercom</label><input type="checkbox" name="feature_55" id="feature_55" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_56">ATM
        Machines</label><input type="checkbox" name="feature_56" id="feature_56" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_57">Other Business and Communication
        Facilities</label><input type="text" class="rfield l" name="feature_57" id="feature_57" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Healthcare Recreational</span>
      <div class="feature">
        <label class="l flabel" for="feature_70">Sauna</label><input type="checkbox" name="feature_70" id="feature_70" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_71">Jacuzzi</label><input type="checkbox" name="feature_71" id="feature_71" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_72">Other Healthcare and Recreation
        Facilities</label><input type="text" class="rfield l" name="feature_72" id="feature_72" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Nearby Locations and Other Facilities</span>
      <div class="feature"><label class="l flabel" for="feature_73">Nearby
        Schools</label><input type="text" class="rfield l" name="feature_73" id="feature_73" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_74">Nearby
        Hospitals</label><input type="text" class="rfield l" name="feature_74" id="feature_74" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_75">Nearby Shopping
        Malls</label><input type="text" class="rfield l" name="feature_75" id="feature_75" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_76">Nearby
        Restaurants</label><input type="text" class="rfield l" name="feature_76" id="feature_76" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_77">Distance From Airport
        (kms)</label><input type="text" class="rfield l" name="feature_77" id="feature_77" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_78">Nearby Public Transport
        Service</label><input type="text" class="rfield l" name="feature_78" id="feature_78" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_79">Other Nearby
        Places</label><input type="text" class="rfield l" name="feature_79" id="feature_79" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Other Facilities
  </span>
      <div class="feature"><label class="l flabel" for="feature_80">Maintenance
        Staff</label><input type="checkbox" name="feature_80" id="feature_80" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_81">Security
        Staff</label><input type="checkbox" name="feature_81" id="feature_81" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_84">Laundry or Dry Cleaning
        Facility</label><input type="checkbox" name="feature_84" id="feature_84" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_85">Communal/Shared
        Kitchen</label><input type="checkbox" name="feature_85" id="feature_85" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_86">Facilities for
        Disabled</label><input type="checkbox" name="feature_86" id="feature_86" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_87">Pet
        Policy</label><select class="rfield l" name="feature_87" id="feature_87">
        <option value="">Select</option>
        <option value="Allowed">Allowed</option>
        <option value="Not Allowed">Not Allowed</option>
      </select></div>
      <div class="feature"><label class="l flabel" for="feature_88">Other
        Facilities</label><input type="text" class="rfield l" name="feature_88" id="feature_88" value=""></div>
    </div>
    <span onclick="update_features()" class="submit_button l bgdgry ros"> Save </span></div>

  ############################ Res plot

  <div id="ui-id-1" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 97px; max-height: none; height: auto;">
    <div class="l feature_group"><span class="l b group_title">Plot Features</span>
      <div class="feature">
        <label class="l flabel" for="feature_39">Possesion</label><input type="checkbox" name="feature_39" id="feature_39" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_40">Corner</label><input type="checkbox" name="feature_40" id="feature_40" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_41">Park
        Facing</label><input type="checkbox" name="feature_41" id="feature_41" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_42">Disputed</label><input type="checkbox" name="feature_42" id="feature_42" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_43">File</label><input type="checkbox" name="feature_43" id="feature_43" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_44">Balloted</label><input type="checkbox" name="feature_44" id="feature_44" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_45">Sewerage</label><input type="checkbox" name="feature_45" id="feature_45" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_46">Electricity</label><input type="checkbox" name="feature_46" id="feature_46" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_47">Water
        Supply</label><input type="checkbox" name="feature_47" id="feature_47" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_48">Sui
        Gas</label><input type="checkbox" name="feature_48" id="feature_48" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_49">Boundary
        Wall</label><input type="checkbox" name="feature_49" id="feature_49" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_50">Other Plot
        Features</label><input type="text" class="rfield l" name="feature_50" id="feature_50" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Nearby Locations and Other Facilities</span>
      <div class="feature"><label class="l flabel" for="feature_73">Nearby
        Schools</label><input type="text" class="rfield l" name="feature_73" id="feature_73" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_74">Nearby
        Hospitals</label><input type="text" class="rfield l" name="feature_74" id="feature_74" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_75">Nearby Shopping
        Malls</label><input type="text" class="rfield l" name="feature_75" id="feature_75" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_76">Nearby
        Restaurants</label><input type="text" class="rfield l" name="feature_76" id="feature_76" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_77">Distance From Airport
        (kms)</label><input type="text" class="rfield l" name="feature_77" id="feature_77" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_78">Nearby Public Transport
        Service</label><input type="text" class="rfield l" name="feature_78" id="feature_78" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_79">Other Nearby
        Places</label><input type="text" class="rfield l" name="feature_79" id="feature_79" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Other Facilities
  </span>
      <div class="feature"><label class="l flabel" for="feature_81">Security
        Staff</label><input type="checkbox" name="feature_81" id="feature_81" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_88">Other
        Facilities</label><input type="text" class="rfield l" name="feature_88" id="feature_88" value=""></div>
    </div>
    <span onclick="update_features()" class="submit_button l bgdgry ros"> Save </span></div>

  ############################ Commercial plot

  <div id="ui-id-1" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 97px; max-height: none; height: auto;">
    <div class="l feature_group"><span class="l b group_title">Plot Features</span>
      <div class="feature">
        <label class="l flabel" for="feature_39">Possesion</label><input type="checkbox" name="feature_39" id="feature_39" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_40">Corner</label><input type="checkbox" name="feature_40" id="feature_40" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_41">Park
        Facing</label><input type="checkbox" name="feature_41" id="feature_41" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_42">Disputed</label><input type="checkbox" name="feature_42" id="feature_42" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_43">File</label><input type="checkbox" name="feature_43" id="feature_43" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_44">Balloted</label><input type="checkbox" name="feature_44" id="feature_44" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_45">Sewerage</label><input type="checkbox" name="feature_45" id="feature_45" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_46">Electricity</label><input type="checkbox" name="feature_46" id="feature_46" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_47">Water
        Supply</label><input type="checkbox" name="feature_47" id="feature_47" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_48">Sui
        Gas</label><input type="checkbox" name="feature_48" id="feature_48" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_49">Boundary
        Wall</label><input type="checkbox" name="feature_49" id="feature_49" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_50">Other Plot
        Features</label><input type="text" class="rfield l" name="feature_50" id="feature_50" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Nearby Locations and Other Facilities</span>
      <div class="feature"><label class="l flabel" for="feature_73">Nearby
        Schools</label><input type="text" class="rfield l" name="feature_73" id="feature_73" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_74">Nearby
        Hospitals</label><input type="text" class="rfield l" name="feature_74" id="feature_74" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_75">Nearby Shopping
        Malls</label><input type="text" class="rfield l" name="feature_75" id="feature_75" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_76">Nearby
        Restaurants</label><input type="text" class="rfield l" name="feature_76" id="feature_76" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_77">Distance From Airport
        (kms)</label><input type="text" class="rfield l" name="feature_77" id="feature_77" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_78">Nearby Public Transport
        Service</label><input type="text" class="rfield l" name="feature_78" id="feature_78" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_79">Other Nearby
        Places</label><input type="text" class="rfield l" name="feature_79" id="feature_79" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Other Facilities
  </span>
      <div class="feature"><label class="l flabel" for="feature_81">Security
        Staff</label><input type="checkbox" name="feature_81" id="feature_81" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_88">Other
        Facilities</label><input type="text" class="rfield l" name="feature_88" id="feature_88" value=""></div>
    </div>
    <span onclick="update_features()" class="submit_button l bgdgry ros"> Save </span></div>

  ############################ shop

  <div id="ui-id-1" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 97px; max-height: none; height: auto;">
    <div class="l feature_group"><span class="l b group_title">Plot Features</span>
      <div class="feature">
        <label class="l flabel" for="feature_39">Possesion</label><input type="checkbox" name="feature_39" id="feature_39" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_42">Disputed</label><input type="checkbox" name="feature_42" id="feature_42" value="Yes">
      </div>
      <div class="feature">
        <label class="l flabel" for="feature_46">Electricity</label><input type="checkbox" name="feature_46" id="feature_46" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_48">Sui
        Gas</label><input type="checkbox" name="feature_48" id="feature_48" value="Yes"></div>
      <div class="feature">
        <label class="l flabel" for="feature_91">Irrigation</label><input type="checkbox" name="feature_91" id="feature_91" value="Yes">
      </div>
      <div class="feature"><label class="l flabel" for="feature_92">Tube Wells
      </label><input type="checkbox" name="feature_92" id="feature_92" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_93">Accessible by
        Road</label><input type="checkbox" name="feature_93" id="feature_93" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_94">Perimeter
        Fencing</label><input type="checkbox" name="feature_94" id="feature_94" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_95">Land
        Fertility</label><input type="checkbox" name="feature_95" id="feature_95" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_96">Boundary
        Lines</label><input type="checkbox" name="feature_96" id="feature_96" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_97">Nearby Water
        Resources</label><input type="text" class="rfield l" name="feature_97" id="feature_97" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_98">Other Land
        Features</label><input type="text" class="rfield l" name="feature_98" id="feature_98" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Nearby Locations and Other Facilities</span>
      <div class="feature"><label class="l flabel" for="feature_73">Nearby
        Schools</label><input type="text" class="rfield l" name="feature_73" id="feature_73" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_74">Nearby
        Hospitals</label><input type="text" class="rfield l" name="feature_74" id="feature_74" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_75">Nearby Shopping
        Malls</label><input type="text" class="rfield l" name="feature_75" id="feature_75" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_76">Nearby
        Restaurants</label><input type="text" class="rfield l" name="feature_76" id="feature_76" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_77">Distance From Airport
        (kms)</label><input type="text" class="rfield l" name="feature_77" id="feature_77" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_78">Nearby Public Transport
        Service</label><input type="text" class="rfield l" name="feature_78" id="feature_78" value=""></div>
      <div class="feature"><label class="l flabel" for="feature_79">Other Nearby
        Places</label><input type="text" class="rfield l" name="feature_79" id="feature_79" value=""></div>
    </div>
    <div class="l feature_group"><span class="l b group_title">Other Facilities
  </span>
      <div class="feature"><label class="l flabel" for="feature_81">Security
        Staff</label><input type="checkbox" name="feature_81" id="feature_81" value="Yes"></div>
      <div class="feature"><label class="l flabel" for="feature_88">Other
        Facilities</label><input type="text" class="rfield l" name="feature_88" id="feature_88" value=""></div>
    </div>
    <span onclick="update_features()" class="submit_button l bgdgry ros"> Save </span></div>