

<p>
  <strong>Name:</strong>
  <%= @sub_category.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category.name %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) ,:class => 'btn btn-info' %>|
<%= link_to 'Back', sub_categories_path ,:class => 'btn btn-info' %>
