<% unless @blocks.blank? %>
    <!--<label class="col-sm-4 control-label" for="firstname1">Phase/Sector</label>-->

    <div class="col-sm-12">
      <select id="sector" name="item[block_id]" class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
        <option value="">Choose a Block</option>
        <% @blocks.each do |c| %>
            <option value="<%= c.id %>"><%= c.name %>  </option>
        <% end %>
      </select>
    </div>
<% end %>

<!--<script>-->
<!--$('select').selectpicker();-->
<!--<script>-->

  