<div class="col-sm-12">
  <select id="city-p" class="selectpicker form-control" name="city" data-show-subtext="true" data-live-search="true">
    <option value="">Choose a city</option>
    <% @cities.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
    <% end unless @cities.blank? %>
    <%#= end %>
  </select>
</div>

<script>
    $("#city-p").on("change",function(){$("#spin-city").css("display","block");var s=$("#societies");""==this.value?($("#societies").css("display","none"),$("#spin-city").css("display","none")):$.ajax({url:"/items/show_societies?city_id="+this.value+"&name="+$("#category").val(),type:"get",dataType:"html",processData:!1,success:function(e){$("#spin-city").css("display","none"),document.getElementById("societies").style.display="block",s.html(e)}})});
//    $('select').selectpicker();

</script>


