<div class="submit-ad main-grid-border">
  <div class="container">
    <h2 class="w3-head">POST YOUR AD</h2>
    <div class="post-ad-form">
      <%= form_with(model: item, local: true, :id => "Form-item",:class=>"form-horizontal" , :html => {:multipart => true}) do |form| %>
      <div class="form-group">

        <div class="col-sm-12">
          <%= form.text_field :name, :class => "form-control", :placeholder => "Title" %>

        </div>
      </div>

      <div class="form-group ">

        <div class="col-sm-12">
          <select id="category" class="selectpicker1 form-control" name="item[category]" data-show-subtext="true" data-live-search="true">
            <option value="">Choose a major category</option>
            <% @categories.each do |cat| %>
                <option value="<%= cat.name %>"><%= cat.name %></option>
            <% end unless @categories.blank? %>
          </select>
        </div>


        <div class="col-xs-3" id="spin-cat" style="display: none"><%= image_tag("/assets/select2-spinner.gif") %></div>
      </div>


      <div id="sub_cat" style="display: none;">

        <%= render 'sub_category_select' %>
      </div>

      <div id="sub_cat_prod" style="display: none;">

        <%= render 'sub_category_product_select' %>
      </div>


      <div id="price-condition" style="display: none;">

        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[0]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="select1" class="form-control" name="vehicle_condition[0]">
              <option value="">Choose condition</option>
              <option value="New">New</option>
              <option value="Used">Used</option>
              <%#= end %>
            </select>
          </div>
        </div>
      </div>

      <div id="bike-car" style="display: none;">

        <div class="form-group">

          <div class="col-sm-12">
            <%= form.text_field :vehicle_model, :class => "form-control", :placeholder => "Model" %>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[1]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="select" class="form-control" name="vehicle_condition[1]">
              <option value="">Choose condition</option>
              <option value="New">New</option>
              <option value="Used">Used</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="transaction_type" class="form-control" name="item[vehicle_transaction_type]">
              <option value="">Choose transaction type</option>
              <option value="Cash">Cash</option>
              <option value="Installment">Installment</option>
              <option value="Leasing">Leasing</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="fuel_type" class="form-control" name="item[vehicle_fuel_type]">
              <option value="">Choose fuel type</option>
              <option value="Petrol">Petrol</option>
              <option value="Diesel">Diesel</option>
              <option value="LPG">LPG</option>
              <option value="CNG">CNG</option>
            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <%= form.text_field :vehicle_drive_in_km, :class => "form-control", :placeholder => "Drive in kilometer" %>
          </div>
        </div>

      </div>


      <div id="bike-car-sub-cat" style="display: none;">
        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[2]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="sub_catego" class="form-control" name="vehicle_condition[2]">
              <option value="">Choose condition</option>
              <option value="New">New</option>
              <option value="Used">Used</option>
            </select>
          </div>
        </div>

      </div>


      <div id="property" style="display: none;">

        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[3]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="" class="form-control" name="item[furnished]">
              <option value="">Choose furnished type</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="sub_c" class="form-control" name="item[bath_rooms]">
              <option value="">Choose bath rooms</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8+">8+</option>
            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="" class="form-control" name="item[bed_rooms]">
              <option value="">Choose bed rooms</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8+">8+</option>
            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[floor_level]">
              <option value="">Choose floor</option>
              <option value="Ground Floor">Ground Floor</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8+">8+</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="" class="form-control" name="area_unit[0]">
              <option value="">Choose area unit</option>
              <option value="SquareFeet">SquareFeet</option>
              <option value="SquareYards">SquareYard</option>
              <option value="SquareMeter">SquareMeter</option>
              <option value="Marla">Marla</option>
              <option value="Kanal">Kanal</option>
              <option value="Acre">Acre</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "area[0]", nil, :class => "form-control", :placeholder => "Area" %>
          </div>
        </div>


      </div>


      <div id="property-sub-cat" style="display: none;">
        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[4]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="" class="form-control" name="area_unit[1]">
              <option value="">Choose area unit</option>
              <option value="SquareFeet">SquareFeet</option>
              <option value="SquareYards">SquareYard</option>
              <option value="SquareMeter">SquareMeter</option>
              <option value="Marla">Marla</option>
              <option value="Kanal">Kanal</option>
              <option value="Acre">Acre</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "area[1]", nil, :class => "form-control", :placeholder => "Area" %>
          </div>
        </div>


      </div>


      <div id="animals" style="display: none;">
        <div class="form-group">

          <div class="col-sm-12">
            <%= text_field_tag "price[5]", nil, :class => "form-control", :placeholder => "Price" %>
          </div>
        </div>


      </div>

      <div id="marriage" style="display: none">


        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[age_from]">
              <option value="">Choose age from</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">36+</option>
            </select>
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[age_to]">
              <option value="">Choose age to</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">36+</option>
            </select>
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[height_feet]">

              <option value="">Choose height in feet</option>

              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>


            </select>
          </div>
        </div>
        <div class="form-group">


          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[height_inch]">

              <option value="">Choose height in inches</option>

              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>


            </select>
          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[religion]">
              <option value="">Choose religion</option>
              <option value="Muslim">Muslim</option>
              <option value="Ahmedi">Ahmedi</option>
              <option value="Christian">Christian</option>
              <option value="Hindu">Hindu</option>
              <option value="Sikh">Sikh</option>
              <option value="Other">Other</option>
            </select>

          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[religious_sect]">
              <option value="">Choose religious sect</option>
              <option value="Sunni">Sunni</option>
              <option value="Shia">Shia</option>
              <option value="Ahle Hadith / Wahabi">Ahle Hadith / Wahabi</option>
              <option value="Other">Other</option>
              <option value="Don't Care">Don't Care</option>

            </select>

          </div>
        </div>
        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[cast]">
              <option value="">Choose cast</option>
              <option value="Arain">Arain</option>
              <option value="Malik">Malik</option>
              <option value="Rehmani">Rehmani</option>
              <option value="Awan">Awan</option>
              <option value="Jatt">Jatt</option>
              <option value="Rajput">Rajput</option>
              <option value="Khwaja">Khwaja</option>
              <option value="Mughal">Mughal</option>
              <option value="Other">Other</option>

            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[education]">
              <option value="">Choose education</option>
              <option value="Religious Education">Religious Education</option>
              <option value="Doctorate Degree (Ph.D)">Doctorate Degree (Ph.D)</option>
              <option value="M.B.B.S (Medical)">M.B.B.S (Medical)</option>
              <option value="M.B.B.S (Dental)">M.B.B.S (Dental)</option>
              <option value="Engineering">Engineering</option>
              <option value="Master's">Master's</option>
              <option value="Bachelor's">Bachelor's</option>
              <option value="Diploma">Diploma</option>
              <option value="High School">High School</option>
              <option value="Intermediate">Intermediate</option>
              <option value="A-Level">A-Level</option>
              <option value="Matriculation">Matriculation</option>
              <option value="O-Level">O-Level</option>
              <option value="Middle">Middle</option>
              <option value="Primary">Primary</option>
              <option value="No School">No School</option>
            </select>
          </div>
        </div>


        <div class="form-group">

          <div class="col-sm-12">
            <select id="su" class="form-control" name="item[ethnic_background]">
              <option value="">Choose ethnic background</option>
              <option value="Baloch">Baloch</option>
              <option value="Pashtun">Pashtun</option>
              <option value="Punjabi">Punjabi</option>
              <option value="Seraiki">Seraiki</option>
              <option value="Sindhi">Sindhi</option>
              <option value="Urdu Speaking">Urdu Speaking</option>
              <option value="Other">Other</option>


            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="col-sm-12">


            <select id="country" name="item[country]" class="form-control">
              <option value="">Choose country</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Åland Islands">Åland Islands</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote D'ivoire">Cote D'ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guernsey">Guernsey</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-bissau">Guinea-bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Isle of Man">Isle of Man</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jersey">Jersey</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
              <option value="Korea, Republic of">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of
              </option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands
              </option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Taiwan, Province of China">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-leste">Timor-leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Viet Nam">Viet Nam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>


          </div>
        </div>
      </div>

      <div id="jobs" style="display: none;">

        <div style="margin-bottom: 20px;">
          <%= form.radio_button :job, 'offer', :value => "offer", :class => "radioBtnClass" %>Job offer

          <%= form.radio_button :job, 'seeker', :value => "seeker", :class => "radioBtnClass" %>Job seeker
        </div>

        <div id="job-offer" style="display: none;">


          <div class="form-group">

            <div class="col-sm-12">
              <select id="" class="form-control" name="item[job_salary_period]">
                <option value="">Choose salary period</option>
                <option value="Hourly">Hourly</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
              </select>
            </div>
          </div>


          <div class="form-group">

            <div class="col-sm-12">
              <%= form.text_field :job_salary_from, :class => "form-control", :placeholder => "Salary from" %>
            </div>
          </div>

          <div class="form-group">

            <div class="col-sm-12">
              <%= form.text_field :job_salary_to, :class => "form-control", :placeholder => "Salary to" %>
            </div>
          </div>


          <div class="form-group">

            <div class="col-sm-12">
              <select id="" class="form-control" name="item[job_position_type]">
                <option value="">Choose job position</option>
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Contract">Contract</option>
                <option value="Probation-period">Probation-period</option>
                <option value="Temporary">Temporary</option>
              </select>
            </div>
          </div>


        </div>
      </div>

      <div class="form-group">

        <div class="col-sm-12">
          <%= form.text_area :description, :cols => "30", :rows => "10", :class => "form-control", :placeholder => "Detail here", :maxlength => 4500 %>
        </div>
      </div>

      <div id="house-apart" style="display: none">

        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Electricity"> Electricity
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Water Supply"> Water Supply
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Sui Gas"> Sui Gas
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Lawn or Garden"> Lawn or Garden
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Swimming Pool"> Swimming Pool
          </label>

        </div>
        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Electricity Backup"> Electricity Backup
          </label>

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Central Air Conditioning"> Central Air Conditioning
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Central Heating"> Central Heating
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" name="facilities[]" value="Parking Spaces"> Parking Spaces
          </label>

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Waste Disposal"> Waste Disposal
          </label>

        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Servant Quarters"> Servant Quarters
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Drawing Room"> Drawing Room
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Dining Room"> Dining Room
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Kitchen"> Kitchen
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Study Room"> Study Room
          </label>

        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Gym"> Gym
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Drawing Room"> Prayer Room
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Lounge or Sitting Room"> Lounge or Sitting Room
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Broadband Internet Access"> Broadband Internet Access
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Mobile Coverage"> Mobile Coverage
          </label>

        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby School"> Nearby School
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Bank"> Nearby Bank
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Resturent"> Nearby Resturent
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Hospital"> Nearby Hospital
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Masjid"> Nearby Masjid
          </label>

        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Elevators"> Elevators
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Maintenance Staff"> Maintenance Staff
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Security Staff"> Security Staff
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Park Facing"> Park Facing
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Cornor"> Cornor
          </label>


        </div>

      </div>

      <div id="farm-house-agri" style="display:none;">


        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Electricity"> Electricity
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Water Supply"> Water Supply
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Sui Gas"> Sui Gas
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Lawn or Garden"> Lawn or Garden
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Swimming Pool"> Swimming Pool
          </label>

        </div>

        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Electricity Backup"> Electricity Backup
          </label>

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Waste Disposal"> Waste Disposal
          </label>

        </div>

        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Servant Quarters"> Servant Quarters
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Kitchen"> Kitchen
          </label>
          <label class="checkbox-inline">
                    <input type="checkbox" name="facilities[]" value="Tube Well"> Tube Well
                  </label>
          <label class="checkbox-inline">
                    <input type="checkbox" name="facilities[]" value="Nearby Main Road"> Nearby Main Road
                  </label>

        </div>

        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Broadband Internet Access"> Broadband Internet Access
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Mobile Coverage"> Mobile Coverage
          </label>

        </div>

        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby School"> Nearby School
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Bank"> Nearby Bank
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Resturent"> Nearby Resturent
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Hospital"> Nearby Hospital
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Masjid"> Nearby Masjid
          </label>

        </div>


      </div>

      <div id="plots" style="display:none;">


        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Electricity"> Electricity
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Water Supply"> Water Supply
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Sui Gas"> Sui Gas
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Mobile Coverage"> Mobile Coverage
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Possesion"> Possesion
          </label>
        </div>


        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby School"> Nearby School
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Bank"> Nearby Bank
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Resturent"> Nearby Resturent
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Hospital"> Nearby Hospital
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Nearby Masjid"> Nearby Masjid
          </label>

        </div>

        <div class="form-group">

          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Disputed"> Disputed
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="File"> File
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Balloted"> Balloted
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Park Facing"> Park Facing
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="facilities[]" value="Cornor"> Cornor
          </label>


        </div>


      </div>


      <div class="form-group">

        <div class="col-sm-12">
          <% if current_user.role.name == "sub_admin" or current_user.role.name == "Admin" %>
              <%= text_field_tag :phone, nil, :class => "form-control", :placeholder => "Phone format must like +923237979346", :size => 2, :maxlength => 13 %>
          <% else %>
              <% if current_user.profile.phone.present? %>
                  <%= text_field_tag :phone1, nil, :class => "form-control", :placeholder => "#{current_user.try(:profile).try(:phone)}     change me in Account Settings", :size => 2, :maxlength => 13, readonly: true %>
              <% else %>
                  <%= text_field_tag :phone, nil, :class => "form-control", :placeholder => "Phone format must like +923237979346", :size => 2, :maxlength => 13 %>
              <% end %>
          <% end %>
        </div>
      </div>

      <% if current_user.role.name == "sub_admin" or current_user.role.name == "Admin" %>


          <div class="form-group">

            <div class="col-sm-12">
              <%= text_field_tag :full_name, nil, :class => "form-control", :placeholder => "User name of ad post" %>
            </div>
          </div>
      <% end %>
      <div class="form-group">

        <div class="col-sm-12">
          <select id="state" class="selectpicker1 form-control" name="state" data-show-subtext="true" data-live-search="true">
            <option value="">Choose a province</option>
            <% @provinces.each do |s| %>
                <option value="<%= s.id %>"><%= s.name %></option>
            <% end unless @provinces.blank? %>
          </select>
        </div>
        <div class="col-xs-3" id="spin-pro" style="display: none"><%= image_tag("/assets/select2-spinner.gif") %></div>
      </div>

      <div class="form-group" id="cities" style="display: none;">
        <%= render 'cities' %>
      </div>
      <div class="form-group">
        <div class="col-xs-3" id="spin-city" style="display: none"><%= image_tag("/assets/select2-spinner.gif") %></div>
      </div>

      <div class="form-group" id="societies" style="display: none;">
        <%= render 'societies' %>
      </div>

      <div class="form-group" id="phases" style="display: none;">
      </div>
      <div class="form-group" id="blocks" style="display: none;">
      </div>



      <div class="form-group" id="item-photos"> <!--item-photos1 i changed id because need to show picture currently for services-->

        <div class="col-sm-12">

          <%= form.fields_for :item_attachments do |p| %>
              <br>
              <ul class="image-wrapper">
                <% 4.times do |i| %>

                    <li>

                      <span>

                        <img id="img<%= i+1 %>" src="/assets/ad-pic.png" alt="" title="" class="imageThumb preview_profile_imgage">
                        <br>
                        <span class="remove" id="remove<%= i+1 %>" style="display: none"> Remove image </span>

                    </span>
                      <%= p.file_field :avatar, name: "item_attachments[avatar][#{i}]",:onchange => "readURL#{i+1}(this)" ,:id => "file#{i+1}" ,:class=>"upload" %>
                    </li>

                <% end %>
              </ul>
          <% end %>


        </div>
      </div>


      <div class="clearfix"></div>
      <button type="submit" class="add-post-button">Post Now !</button>

      <% end %>


    </div>
  </div>
</div>

<script>
    function readURL1(e) {
        var a = ["jpg", "png", "jpeg", "gif"], i = e.files[0].name, l = i.substr(i.lastIndexOf(".") + 1);
        if (-1 == $.inArray(l, a)) e.type = "", e.type = "file", $("#file1").val(""), swal("Not Allowed!", "Only formats are allowed : " + a.join(", "), "error"); else if (e.files[0].size > 4e6) $("#file1").val(""), swal("Not Allowed!", "Please upload file less than 4MB", "error"); else if (e.files && e.files[0]) {
            var t = new FileReader;
            t.onload = function (e) {
                $("#remove1").css("display", "block"), $("#img1").attr("src", e.target.result)
            }, t.readAsDataURL(e.files[0])
        }
    }

    function readURL2(e) {
        var a = ["jpg", "png", "jpeg", "gif"], i = e.files[0].name, l = i.substr(i.lastIndexOf(".") + 1);
        if (-1 == $.inArray(l, a)) e.type = "", e.type = "file", $("#file2").val(""), swal("Not Allowed!", "Only formats are allowed : " + a.join(", "), "error"); else if (e.files[0].size > 4e6) $("#file2").val(""), swal("Not Allowed!", "Please upload file less than 4MB", "error"); else if (e.files && e.files[0]) {
            var t = new FileReader;
            t.onload = function (e) {
                $("#remove2").css("display", "block"), $("#img2").attr("src", e.target.result)
            }, t.readAsDataURL(e.files[0])
        }
    }

    function readURL3(e) {
        var a = ["jpg", "png", "jpeg", "gif"], i = e.files[0].name, l = i.substr(i.lastIndexOf(".") + 1);
        if (-1 == $.inArray(l, a)) e.type = "", e.type = "file", $("#file3").val(""), swal("Not Allowed!", "Only formats are allowed : " + a.join(", "), "error"); else if (e.files[0].size > 4e6) $("#file3").val(""), swal("Not Allowed!", "Please upload file less than 4MB", "error"); else if (e.files && e.files[0]) {
            var t = new FileReader;
            t.onload = function (e) {
                $("#remove3").css("display", "block"), $("#img3").attr("src", e.target.result)
            }, t.readAsDataURL(e.files[0])
        }
    }

    function readURL4(e) {
        var a = ["jpg", "png", "jpeg", "gif"], i = e.files[0].name, l = i.substr(i.lastIndexOf(".") + 1);
        if (-1 == $.inArray(l, a)) e.type = "", e.type = "file", $("#file4").val(""), swal("Not Allowed!", "Only formats are allowed : " + a.join(", "), "error"); else if (e.files[0].size > 4e6) $("#file4").val(""), swal("Not Allowed!", "Please upload file less than 4MB", "error"); else if (e.files && e.files[0]) {
            var t = new FileReader;
            t.onload = function (e) {
                $("#remove4").css("display", "block"), $("#img4").attr("src", e.target.result)
            }, t.readAsDataURL(e.files[0])
        }
    }

    $(".remove").click(function () {
        var e = $(this).attr("id"), a = e[e.length - 1];
        $("#img" + a).attr("src", "/assets/ad-pic.png"), $("#" + $(this).attr("id")).css("display", "none"), $("#file" + a).val("")
    }), $(function () {
        $("#datepicker").datepicker({changeMonth: !0, changeYear: !0, yearRange: "1970:2030"})
    }), $(".radioBtnClass").change(function () {
        $(this).is(":checked") && ("offer" == $(this).val() ? document.getElementById("job-offer").style.display = "block" : document.getElementById("job-offer").style.display = "none")
    }), $.validator.addMethod("valueNotEquals", function (e, a, i) {
        return i !== e
    }, "Value must not equal arg."), jQuery.validator.addMethod("phoneno", function (e, a) {
        return e = e.replace(/\s+/g, ""), this.optional(a) || e.match(/^\+92(?:[0-9] ?){9,13}[0-9]$/)
    }, "Phone number should start with +92 and must be like +923237979346. Also space should not in start or in any place"), $("#Form-item").validate({
        rules: {
            phone: {
                required: !0,
                phoneno: !0
            },
            "item[name]": {required: !0, minlength: 5},
            full_name: {required: !0, minlength: 3},
            "price[0]": {required: !0, number: !0},
            "price[1]": {required: !0, number: !0},
            "price[2]": {required: !0, number: !0},
            "price[3]": {required: !0, number: !0},
            "price[5]": {required: !0, number: !0},
            "price[4]": {required: !0, number: !0},
            "item[category]": "required",
            "item[sub_category_id]": "required",
            "item[block_id]": "required",
            "item[phase_sector_id]": "required",
            "item[product_id]": "required",
            "item[vehicle_drive_in_km]": {required: !0, number: !0},
            "item[vehicle_year]": "required",
            "item[vehicle_registered_in]": "required",
            "item[vehicle_model]": "required",
            "area[0]": {required: !0, number: !0},
            "area[1]": {required: !0, number: !0},
            "item[job_salary_from]": {required: !0, number: !0},
            "item[job_salary_to]": {required: !0, number: !0},
            "item[description]": {required: !0, minlength: 10, maxlength: 4500},
            "vehicle_condition[0]": {valueNotEquals: ""},
            "vehicle_condition[1]": {valueNotEquals: ""},
            "vehicle_condition[2]": {valueNotEquals: ""},
            "item[vehicle_transaction_type]": {valueNotEquals: ""},
            "item[job_salary_period]": {valueNotEquals: ""},
            "item[job_position_type]": {valueNotEquals: ""},
            "item[vehicle_fuel_type]": {valueNotEquals: ""},
            "item[furnished]": {valueNotEquals: ""},
            "item[bed_rooms]": {valueNotEquals: ""},
            "item[bath_rooms]": {valueNotEquals: ""},
            "item[age_from]": {valueNotEquals: ""},
            "item[age_to]": {valueNotEquals: ""},
            "item[height_feet]": {valueNotEquals: ""},
            "item[height_inch]": {valueNotEquals: ""},
            "item[floor_level]": {valueNotEquals: ""},
            "item[education]": {valueNotEquals: ""},
            "item[religion]": {valueNotEquals: ""},
            "item[religious_sect]": {valueNotEquals: ""},
            "item[ethnic_background]": {valueNotEquals: ""},
            "item[country]": {valueNotEquals: ""},
            "item[cast]": {valueNotEquals: ""},
            "area_unit[0]": {valueNotEquals: ""},
            state: {valueNotEquals: ""},
            city: {valueNotEquals: ""},
            society: {valueNotEquals: " "},
            "area_unit[1]": {valueNotEquals: ""}
        },
        messages: {
            "item[name]": {
                required: "Please enter a title",
                minlength: "Your title must consist of at least 5 characters"
            },
            "price[0]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "price[1]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "price[2]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "price[3]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "price[4]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "price[5]": {required: "Please enter price in Rs", number: "it should be in number like 12123"},
            "item[age_from]": "Please choose age from",
            "item[age_to]": "Please choose age to",
            "item[height_feet]": "Please choose a height in feet",
            "item[height_inch]": "Please choose a height in inch",
            "item[floor_level]": "Please choose a category",
            "item[education]": "Please choose a education",
            "item[religion]": "Please choose a religion",
            "item[religious_sect]": "Please choose a religious sect",
            "item[ethnic_background]": "Please choose a background",
            "item[country]": "Please choose a country",
            "item[cast]": "Please choose a cast",
            "item[category]": "Please choose a major category",
            "item[sub_category_id]": "Please choose a category",
            "item[block_id]": "Please choose a block",
            "item[phase_sector_id]": "Please choose a phase/sector",
            "item[product_id]": "Please choose a brand",
            "item[vehicle_transaction_type]": "Please choose an transaction type",
            "item[vehicle_fuel_type]": "Please choose fuel type!",
            "item[vehicle_drive_in_km]": "Please choose driven kilometer and it must be number!",
            "vehicle_condition[0]": "Please choose condition type!",
            "vehicle_condition[1]": "Please choose condition type!",
            "vehicle_condition[2]": "Please choose condition type!",
            "item[job_position_type]": "Please choose job position type !",
            "item[job_salary_period]": "Please choose salary period!",
            "item[vehicle_year]": "Please choose year from datepicker!",
            "item[vehicle_registered_in]": "Please list registered city!",
            "item[vehicle_model]": "Please choose model!",
            "item[furnished]": "Please choose an option!",
            "item[bed_rooms]": "Please choose no of bed rooms !",
            "item[bath_rooms]": "Please no of bath rooms!",
            "item[floor_level]": "Please choose floor level!",
            "area_unit[0]": "Please choose arae unit e.g Marla!",
            "area_unit[1]": "Please choose arae unit e.g Marla!",
            state: "Please choose state",
            city: "Please choose city",
            society: "Please choose society",
            "area[0]": "Area required.And should be number like 12",
            "area[1]": "Area required.And should be number like 12",
            "item[job_salary_from]": "Please choose salary from!",
            "item[job_salary_to]": "Please choose salary to!",
            "item[description]": {
                required: "Please enter little more detail",
                minlength: "Your item detail must consist of at least 15 characters"
            },
            agree1: "Please accept our policy"
        },
        errorElement: "em",
        errorPlacement: function (e, a) {
            e.addClass("help-block"), a.parents(".col-sm-12").addClass("has-feedback"), "checkbox" === a.prop("type") ? e.insertAfter(a.parent("label")) : e.insertAfter(a), a.next("span")[0] || $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(a)
        },
        success: function (e, a) {
            $(a).next("span")[0] || $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(a))
        },
        highlight: function (e, a, i) {
            $(e).parents(".col-sm-12").addClass("has-error").removeClass("has-success"), $(e).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok")
        },
        unhighlight: function (e, a, i) {
            $(e).parents(".col-sm-12").addClass("has-success").removeClass("has-error"), $(e).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove")
        }
    });
</script>











