<p class="p-price">
  <% if @favourite.present? and current_user.present? %>
      <i class="fa fa-heart like" aria-hidden="true" id="<%= @item.try(:id) %>"></i>
  <% elsif @favourite.blank? and current_user.present? %>
      <i class="fa fa-heart-o like" aria-hidden="true" id="<%= @item.try(:id) %>"></i>
  <% elsif current_user.blank? %>
      <i class="fa fa-heart-o like-no" aria-hidden="true"  id="<%= @item.try(:id) %>"></i>
  <% end %>
</p>
<script>
  $(".like").on("click",function(){var i=$("#like-area");$.ajax({url:"/items/like_dislike?item_id="+$(this).attr("id"),type:"get",dataType:"html",processData:!1,success:function(e){swal("Success!","Your favourite list status changed!","success"),i.html(e)}})}),$(".like-no").on("click",function(){swal("Warning!","You need to Login or Register!","warning")});
</script>