<% unless @sectors.blank? %>
<!--<label class="col-sm-4 control-label" for="firstname1">Phase/Sector</label>-->

          <div class="col-sm-12">
<select id="sector" name="item[phase_sector_id]" class="selectpicker form-control" data-show-subtext="true" data-live-search="true">
              <option value="">Choose a Phase/Sector</option>
              <% @sectors.each do |c| %>
                  <option value="<%= c.id %>"><%= c.name %>  </option>
              <% end  %>
            </select>
          </div>
<% end  %>

<script>

    $("#sector").on("change", function () {
        $("#spin-city").css("display", "block");
        var s = $("#blocks");
        "" == this.value ? ($("#blocks").css("display", "none"), $("#spin-city").css("display", "none")) : $.ajax({
            url: "/blocks/show_blocks?phase_id=" + this.value +"&item="+'item',
            type: "get",
            dataType: "html",
            processData: !1,
            success: function (e) {
                $("#spin-city").css("display", "none"), document.getElementById("blocks").style.display = "block", s.html(e)
            }
        })


    });


//        $('select').selectpicker();
</script>

