<div class="product-details">
  <h4><span class="w3layouts-agileinfo">Brand </span> : <a href="#">Company name</a>

    <div class="clearfix"></div>
  </h4>
  <h4><span class="w3layouts-agileinfo">Views </span> : <strong>

    <%= @item.views_count %>

  </strong></h4>
  <h4><span class="w3layouts-agileinfo">Fuel </span> : Petrol</h4>
  <h4><span class="w3layouts-agileinfo">Summary</span> :
    <p><%= @item.description %>.</p>

    <div class="clearfix"></div>
  </h4>

</div>