<!--<label class="col-sm-4 control-label" for="firstname1">City</label>-->
<% unless @societies.blank? %>
  <div class="col-sm-12">
    <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
    <select id="soc-p" class="selectpicker form-control" name="society" data-show-subtext="true" data-live-search="true">
      <option value=" ">Choose a society</option>
      <% @societies.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
      <% end %>
      <%#= end %>
    </select>
  </div>
<% end %>

<script type="">
    $("#soc-p").on("change", function () {
        $("#spin-city").css("display", "block");
        var s = $("#phases");
        "" == this.value ? ($("#phases").css("display", "none"), $("#spin-city").css("display", "none")) : $.ajax({
            url: "/blocks/show_phases?society_id=" + this.value +"&item="+'item',
            type: "get",
            dataType: "html",
            processData: !1,
            success: function (e) {
                $("#spin-city").css("display", "none"), document.getElementById("phases").style.display = "block", s.html(e)
            }
        })


    });

//        $('select').selectpicker();
</script>