<!--<label>Select Sub Category <span>*</span></label>-->
<!--<select class="populate placeholder" id="sub_category" style="width: 300px;">-->
<!--<option></option>-->

<!--</select>-->
<!--<div class="clearfix"></div>-->

<div class="form-group">
  <div class="col-sm-12">
    <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
    <%#= form.text_field :name, :class => "form-control", :id => "firstname1", :name => "firstname1", :placeholder => "name" %>
    <%#= form.collection_select(:category_id, @categories, :id, :name ,:class => "required",:prompt => "Choose") %>
    <!--<br/>-->
    <!--<br/>-->
    <select id="sub_category" class="selectpicker form-control" name="item[sub_category_id]" data-show-subtext="true" data-live-search="true">
      <option value="">Choose a category</option>
      <% @sub_categories.each do |cat| %>
          <%#= if @sub_category.category == cat %>
          <!--<option value="<%#= cat.id %>" selected="selected"><%#= cat.name %></option>-->
          <%#= else %>
          <option value="<%= cat.name %>"><%= cat.name %></option>
          <%#= end %>
      <% end  unless @sub_categories.blank? %>
    </select>

  </div>
  <div class="col-xs-3" id="spin-sub" style="display: none"><%= image_tag("/assets/select2-spinner.gif") %></div>
</div>
<script>
    $("#sub_category1").css({
        display: "block",
        position: "absolute",
        top: "3px",
        "z-index": "-1"
    }), $("#sub_category").on("change", function () {
        $("#spin-sub").css("display", "block");
        var e = $("#sub_cat_prod"), s = this.value.trim();
        "" == s ? ($("#spin-sub").css("display", "none"), $(this).next("span").remove(), $(this).next("span").remove(), document.getElementById("sub_cat_prod").style.display = "none", document.getElementById("bike-car-sub-cat").style.display = "none", document.getElementById("property-sub-cat").style.display = "none") : ($(this).parents(".col-sm-12").hasClass("has-error") ? ($(this).parents(".col-sm-12").addClass("has-success").removeClass("has-error"), $(this).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove")) : ($(this).parents(".col-sm-12").addClass("has-feedback has-success"), $(this).parents(".col-sm-12").append("<span class='glyphicon form-control-feedback glyphicon-ok'></span>")), null !== document.getElementById("sub_category-error") && (document.getElementById("sub_category-error").style.display = "none"), "Car Accessories & Parts" == s || "Other Vehicle Accessories & Parts" == s || "Boats" == s || "Scooters" == s || "Bicycles" == s || "Bike Accessories & Parts" == s || "Tractor & Trailers" == s || "Other Vehicles" == s ? (document.getElementById("bike-car").style.display = "none", document.getElementById("bike-car-sub-cat").style.display = "block") : "Cars" == s || "Motorcycles" == s || "ATV & QUADS" == s || "Buses, Vans & Trucks" == s || "Rickshaw & Chingchi" == s ? (document.getElementById("bike-car").style.display = "block", document.getElementById("bike-car-sub-cat").style.display = "none") : "Agriculture Land & Farm Houses" == s || "Plaza & Mall" ==s || "Factory & Building" == s || "Commercial Land & Plots" ==  s || "Residential Plots" == s || "Shops & Offices" == s || "Agriculture Land & Farm Houses (Rent)" == s || "Plaza & Mall (Rent)" ==s || "Factory & Building (Rent)" == s || "Commercial Land & Plots (Rent)" ==  s || "Residential Plots (Rent)" == s || "Shops & Offices (Rent)" == s ? (document.getElementById("property-sub-cat").style.display = "block", document.getElementById("property").style.display = "none") : "Apartments & Flats" != s && "Portions & Floors" != s && "Houses" != s && "Apartments & Flats (Rent)" != s && "Portions & Floors (Rent)" != s && "Houses (Rent)" != s || (document.getElementById("property-sub-cat").style.display = "none", document.getElementById("property").style.display = "block"), document.getElementById("sub_cat_prod").style.display = "none", $.ajax({
            url: "/items/show_sub_category_product?sub_category_name=" + s,
            type: "get",
            dataType: "html",
            processData: !1,
            success: function (s) {
                $("#spin-sub").css("display", "none"), document.getElementById("sub_cat_prod").style.display = "block", e.html(s)
            }
        }))
    });

//                $('select').selectpicker();

</script>