<!--<label> Select Item<span>*</span></label>-->
<!--<select class="populate placeholder" id="sub_category_product" style="width: 300px;">-->
<!--<option></option>-->
<!---->
<!--</select>-->
<!--<div class="clearfix"></div>-->

<% unless @products.blank? %>
    <div class="form-group">

      <div class="col-sm-12">
        <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
        <%#= form.text_field :name, :class => "form-control", :id => "firstname1", :name => "firstname1", :placeholder => "name" %>
        <%#= form.collection_select(:category_id, @categories, :id, :name ,:class => "required",:prompt => "Choose") %>
        <!--<br/>-->
        <!--<br/>-->
        <select id="sub_category_product" class="selectpicker form-control" name="item[product_id]" data-show-subtext="true" data-live-search="true">
          <option value="">Choose a brand</option>
          <% @products.each do |p| %>
              <%#= if @sub_category.category == cat %>
              <!--<option value="<%#= cat.id %>" selected="selected"><%#= cat.name %></option>-->
              <%#= else %>
              <option value="<%= p.id %>"><%= p.name.capitalize %></option>
              <%#= end %>
          <% end %>
        </select>

      </div>
    </div>

<% end %>





<script>
  $("#sub_category_product1").css({display:"block",position:"absolute",top:"3px","z-index":"-1"}),$("#sub_category_product").on("change",function(){""==this.value?($(this).next("span").remove(),$(this).next("span").remove()):($(this).parents(".col-sm-12").hasClass("has-error")?($(this).parents(".col-sm-12").addClass("has-success").removeClass("has-error"),$(this).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove")):($(this).parents(".col-sm-12").addClass("has-feedback has-success"),$(this).parents(".col-sm-12").append("<span class='glyphicon form-control-feedback glyphicon-ok'></span>")),null!==document.getElementById("sub_category_product-error")&&(document.getElementById("sub_category_product-error").style.display="none"))});
//  $('select').selectpicker();
</script>