<div class="submit-ad main-grid-border">
  <div class="container">
    <% set_meta_tags title: 'Member account settings - Adstous' %>
    <h2 class="w3-head">Account Settings</h2>
    <div class="post-ad-form">

      <%= form_with(model: @user, local: true, :remote => true, :id => "sign-up-in",:class=>"form-horizontal",:url => {:controller => "items", :action => 'update_profile', :method => :post} , :html => {:multipart => true, :style => "width: 60%;margin: 0px auto"}) do |form| %>



      <div class="form-group">

        <div class="col-sm-12">
          <%= text_field_tag :email1, nil, :class => "form-control", :value => current_user.try(:email), :size => 2, readonly: true %>

        </div>
      </div>


      <div class="form-group">

        <div class="col-sm-12">
          <%= text_field_tag :name, nil, :class => "form-control", :value => current_user.try(:profile).try(:name), :placeholder => "Name" %>

        </div>
      </div>


      <div class="form-group">

        <div class="col-sm-12">
          <%= text_field_tag :phone, nil, :class => "form-control", :value => "#{current_user.try(:profile).try(:phone)}", :placeholder => 'Your phone format must like +923237979346', :maxlength => 13 %>

        </div>
      </div>

      <% if request.subdomain == 'zameen' %>


          <div class="form-group">

            <div class="col-sm-12">
              <%= text_field_tag :line_number, nil, :class => "form-control", :value => "#{current_user.try(:profile).try(:line_number)}", :placeholder => 'Your phone like 04235726444' %>

            </div>
          </div>

          <div class="form-group">

            <div class="col-sm-12">
              <%= text_field_tag :business_name, nil, :class => "form-control", :value => "#{current_user.try(:profile).try(:business_name)}", :placeholder => 'Your business name' %>

            </div>
          </div>

          <div class="form-group">

            <div class="col-sm-12">
              <%= text_field_tag :office_address, nil, :class => "form-control", :value => "#{current_user.try(:profile).try(:office_address)}", :placeholder => 'Your office address' %>

            </div>
          </div>

          <div class="form-group">

            <div class="col-sm-12">
              <%= text_field_tag :timings, nil, :class => "form-control", :value => "#{current_user.try(:profile).try(:timings)}", :placeholder => 'Your office timings' %>

            </div>
          </div>

          <%= hidden_field_tag :property, nil, :value => "zameen" %>


          <div class="form-group">

            <div class="col-sm-12">
              <%= file_field_tag :avatar %>

            </div>
          </div>

          <% if current_user.profile.avatar_url.present?  %>

          <%= image_tag(current_user.try(:profile).try(:avatar_url)) %>

      <% end %>
      <% end %>




      <div class="clearfix"></div>
      <button type="submit" class="add-post-button">Update settings</button>

      <% end %>


    </div>
  </div>
</div>













