<div class="submit-ad main-grid-border">
  <div class="container">
    <% set_meta_tags title: 'Member account settings - Adstous'   %>
    <h2 class="w3-head">Change Password</h2>
    <div class="post-ad-form">

      <%= form_with(model: @user, local: true,:remote => true, :id => "sign-up-in",:class=>"form-horizontal",:url => {:controller => "items",:action => 'update_password',:method => :post} , :html => {:multipart => true,:style => "width: 60%;margin: 0px auto"}) do |form| %>


      <div class="form-group">

        <div class="col-sm-12">
          <%= password_field_tag "user[password]", nil, :class => "form-control", :placeholder => "password" %>

        </div>
      </div>


      <div class="form-group">

        <div class="col-sm-12">
          <%= password_field_tag "user[password_confirmation]",nil, :class => "form-control", :placeholder => "password confirmation" %>

        </div>
      </div>


      <div class="clearfix"></div>
      <button type="submit" class="add-post-button">Update password</button>

      <%end%>


    </div>
  </div>
</div>















