<div class="container">
  
  <div class="form-group">
    <input type="file" name="img[]" class="file">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
      <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
      <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="file" name="img[]" class="file">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
      <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
      <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <input type="file" name="img[]" class="file">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
      <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
      <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
      </span>
    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).on('click', '.browse', function(){
      var file = $(this).parent().parent().parent().find('.file');
      file.trigger('click');
    });
    $(document).on('change', '.file', function(){
      $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>

<style type="text/css">
    .file {
      visibility: hidden;
      position: absolute;
    }












    /*
     * Styles for demo only
     */
    /*$purple: */

    /*body {*/
      /*background-color: #5c4084;*/
      /*margin: 50px;*/
    /*}*/
    /*.container {*/
      /*background-color: #fff;*/
      /*padding: 40px 80px;*/
      /*border-radius: 8px;*/
    /*}*/

    .btn.btn-primary {
      background-color: #5c4084;;
      border-color: #5c4084;;
      outline: none;
      &:hover {
        background-color: darken(#5c4084, 10%);
        border-color: darken(#5c4084, 10%);
      }
      &:active, &:focus {
        background-color: lighten(#5c4084, 5%);
        border-color: lighten(#5c4084, 5%);
      }
    }
</style>