<div class="single-page main-grid-border">

  <!--<div class="fb-share-button" data-href="http://www.adstous.com/items/puppy" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.adstous.com/items/puppy" src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>  -->

  <div class="container">
    <div class="product-desc">
      <div class="col-md-7 product-view">
        <h2><%= @item.name %></h2>

        <% if @item.item_attachments.present? %>
            <div class="flexslider">
              <ul class="slides">

                <% @item.item_attachments.each do |attachment| %>
                    <li data-thumb="<%= attachment.avatar_url %>">
                      <img src="<%= attachment.avatar_url %>"/>
                    </li>
                <% end %>                                                      

              </ul>
            </div>
        <% end %>


        <!-- FlexSlider -->
        <!--<script defer src="js/jquery.flexslider.js"></script>-->

        <%#= binding.pry %>
        <!-- //FlexSlider -->
        <div class="product-details">
          <% if @item.sub_category.category.name.strip == "Animals" || @item.sub_category.category.name.strip == "Services" || @item.sub_category.category.name.strip == "Business, Industrial & Agriculture" %>
          <% else %>
              <h4><span class="w3layouts-agileinfo">Details </span></h4>
          <% end %>
          <% if @item.sub_category.name.strip == "Lands & Plots" || @item.sub_category.name.strip == "shops-Offices-Commercial Land" || @item.sub_category.name.strip == "Lands & Plots (Rent)" || @item.sub_category.name.strip == "shops-Offices-Commercial Land (Rent)" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Area Unit</span><span class="right-desc"><%= @item.area_unit %></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Area</span><span class="right-desc"><%= @item.area %></span></div>
              </div>


          <% elsif @item.sub_category.name.strip == "Houses" || @item.sub_category.name.strip == "Roommates & Paying Guests" || @item.sub_category.name.strip == "Vacation Rentals-Guest Houses" || @item.sub_category.name.strip == "Apartments & Flats" || @item.sub_category.name.strip == "Portions & Floors" || @item.sub_category.name.strip == "Houses (Rent)" || @item.sub_category.name.strip == "Roommates & Paying Guests (Rent)" || @item.sub_category.name.strip == "Vacation Rentals-Guest Houses (Rent)" || @item.sub_category.name.strip == "Apartments & Flats (Rent)" || @item.sub_category.name.strip == "Portions & Floors (Rent)" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Furnished</span><span class="right-desc"><%= @item.furnished %></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Bed rooms</span><span class="right-desc"><%= @item.bed_rooms %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Bath rooms</span><span class="right-desc"><%= @item.bath_rooms %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Floor Level</span><span class="right-desc"><%= @item.floor_level %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Area Unit</span><span class="right-desc"><%= @item.area_unit %></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Area</span><span class="right-desc"><%= @item.area %></span></div>
              </div>
          <% elsif @item.sub_category.category.name.strip == "Jobs" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Job Position</span><span class="right-desc"><%= @item.job_position_type %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Salary Period</span><span class="right-desc"><%= @item.job_salary_period %></span>
                </div>
              </div>
          <% elsif @item.sub_category.category.name.strip == "Mobiles" || @item.sub_category.category.name.strip == "Electronics & Home Appliances" ||
              @item.sub_category.category.name.strip == "Books, Sports & Hobbies" || @item.sub_category.category.name.strip == "Fashion & Beauty" ||
              @item.sub_category.category.name.strip == "Kids" || @item.sub_category.category.name.strip == "Furniture & Home Decor" ||
              @item.sub_category.category.name.strip == "test" || @item.sub_category.name.strip == "Tractor & Trailers" ||
              @item.sub_category.name.strip == "Car Accessories & Parts" || @item.sub_category.name.strip == "Boats" ||
              @item.sub_category.name.strip == "Bike Accessories & Parts" || @item.sub_category.name.strip == "Other Vehicle Accessories & Parts" ||
              @item.sub_category.name.strip == "Scooters"  || @item.sub_category.name.strip == "Bicycles" || @item.sub_category.name.strip == "Other Vehicles" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Condition</span><span class="right-desc"><%= @item.vehicle_condition %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title"></span><span class="right-desc"></span></div>
              </div>
          <% elsif @item.sub_category.name.strip == "Cars" || @item.sub_category.name.strip == "Motorcycles" ||
              @item.sub_category.name.strip == "Buses, Vans & Trucks" || @item.sub_category.name.strip == "Rickshaw & Chingchi" || @item.sub_category.name.strip == "ATV & QUADS" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Model</span><span class="right-desc"><%= @item.vehicle_model %></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Condition</span><span class="right-desc"><%= @item.vehicle_condition %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Transaction</span><span class="right-desc"><%= @item.vehicle_transaction_type %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Fuel Type</span><span class="right-desc"><%= @item.vehicle_fuel_type %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Drive In Kilometer</span><span class="right-desc"><%= @item.vehicle_drive_in_km %>
                  KM</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title"></span><span class="right-desc"><%#= @item.area %></span></div>
              </div>
          <% elsif @item.sub_category.category.name.strip == "Animals" || @item.sub_category.category.name.strip == "Services" %>
          <% elsif @item.sub_category.category.name.strip == "Marriages" %>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Age limit</span><span class="right-desc"><%= @item.age_from %>
                  -<%= @item.age_to %></span></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Height</span><span class="right-desc"><%= @item.height_feet %>
                  '<%= @item.height_inch %>"</span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Religion</span><span class="right-desc"><%= @item.religion %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Religious sect</span><span class="right-desc"><%= @item.religious_sect %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Cast</span><span class="right-desc"><%= @item.cast %>
                  </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Education required</span><span class="right-desc"><%= @item.education %></span>
                </div>
              </div>
              <div class="row fix-left">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Ethnic background</span><span class="right-desc"><%= @item.ethnic_background %>
                  </span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span class="left-title">Looking in country</span><span class="right-desc"><%= @item.country %></span>
                </div>
              </div>
          <% end %>
          <h4><span class="w3layouts-agileinfo">Description</span></h4>
          <p><%= simple_format(@item.description) %></p>
          <div class="clearfix"></div>

        </div>
      </div>
      <div class="col-md-5 product-details-grid">
        <div class="item-price">
          <div class="product-price">

            <% if @item.sub_category.category.name.strip == "Jobs" %>
                <h3 class="rate">Rs <%= number_to_currency(@item.job_salary_from, :precision => 0, :unit => "") %>
                  - <%= number_to_currency(@item.job_salary_to, :precision => 0, :unit => "") %></h3>
            <% elsif @item.sub_category.category.name.strip == "Services" || @item.sub_category.category.name.strip == "Marriages" %>
                <h3 class="rate">  <%#= number_to_currency(@item.price, :precision => 0, :unit => "") %></h3>
            <% else %>
                <h3 class="rate">
                  <% if @item.price == 0%>
                       <%= "price on call" %>
                  <% else %>
                    Rs <%= number_to_currency(@item.price, :precision => 0, :unit => "") %>
                  <% end %>
                  </h3>
            <% end %>




            <div class="clearfix"></div>
          </div>
          <!--<div class="condition">-->
          <!--<p class="prod-detail-list"><%#= @item.vehicle_drive_in_km %> KM</p>-->
          <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <div class="itemtype">
            <p class="prod-detail-list"><%= @item.sub_category.name %></p>
            <p class="p-price">
              <!--<i class="fa fa-eye" aria-hidden="true"></i> -->
              Views:
              <%= @item.views_count %></p>

            <div class="clearfix"></div>
          </div>
          <div class="itemtype">
            <p class="prod-detail-list"><%= @item.city.name if @item.city.present? %>
              ,  <%= @item.city.province.name if @item.city.present? %>
            </p>
            <p class="p-price">Added <%= timeago(@item.created_at) %>
            </p>

            <div class="clearfix"></div>
          </div>
          <div class="itemtype">
            <p class="prod-detail-list">Ad Id: <%=@item.id + "12023".to_i%>
            </p>
            <div id="like-area">
              <%= render 'like_area' %>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="interested">
          <h4>Contact the Seller!</h4>
          <p class="left-user-icon"><i class="glyphicon glyphicon-user"></i></p>
          <p class="right-user-name"><%= @item.try(:full_name) || @item.try(:user).try(:profile).try(:name) %><br>
            <a href="/home/user_items?tab=specific&id=<%= @item.id %>">See my all ads</a></p>
          <div class="clearfix"></div>
          <a href="#" class="call-now animated pulse" data-toggle="modal" data-target="#myModal" id="animated-example">Call
            Now !</a>
          <div class="clearfix"></div>
          <!-- Modal -->
          <div class="call-now-model">
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">Phone Number
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">


                    <p>
                      <%=number_to_phone(@item.try(:phone) || @item.try(:user).try(:profile).try(:phone),  delimiter: "-")    %>

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tips">
          <h4>Safety Tips for Buyers</h4>
          <ol>
            <li><a href="javascript:;">Meet with any person regarding Buy or Sell items at a very safe location. </a></li>
            <li><a href="javascript:;">Test items very carefully before Buying.</a></li>
            <li><a href="javascript:;">Regarding payments choose those methods to which you are familiar with.It is on your behalf, Adstous not provide any type of guarantee.</a></li>
            <li><a href="javascript:;">Be aware of common scams and fraud.</a></li>
            <li><a href="javascript:;">The Adstous is never involved in any type of transaction, and does not handle payments, shipping etc.Not provide escrow services, payments handling or offer "buyer protection" or "seller certification".
            </a></li>
          </ol>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



