<section class="sign-in-outer">
  <div class="container">
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
      <div class="agileinfo_signin">
        <div class="panel-body">

          <% set_meta_tags title: 'Member change password - Adstous' %>
          <h3>Change your password</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, :id => "sign-up-in", :class => "form-horizontal"}) do |f| %>
          <% flash[:error] = []
             resource.errors.full_messages.each {|error| flash[:error] << error} %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <div class="col-sm-12">

              <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
              <!--<input type="email" name="Your Email" placeholder="Your Email" required="">-->
              <!--<input type="password" name="Password" placeholder="Password" required="">-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">

              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
          <!--<div class="form-group custom-checkbox">-->
            <input type="submit" value="Change my password">

          <span class="or-signin">Or</span>
          <a href="/users/auth/google_oauth2" class="login-with-google"><i class="fa fa-google" aria-hidden="true"></i>Login With Google</a>
          <!--<a href="/users/auth/facebook" class="login-with-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Login  With Facebook</a>-->


          <!--</div>-->
          <!--<div class="forgot-grid">-->

            <!--<h6> Alraedy member? <a href="/users/sign_in">Login</a></h6>-->

            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <% end %>
          <!--<h6> Not a Member Yet? <a href="/users/sign_up">Sign Up Now</a></h6>-->


        </div>
      </div>
    </div>
  </div>
</section>




