<section class="sign-in-outer">
  <div class="container">
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
      <div class="agileinfo_signin">
        <div class="panel-body">

          <h3>Forgot Password?</h3>

          <% set_meta_tags title: 'Member forgot password - Adstous' %>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,:id => "sign-up-in", :class => "form-horizontal" }) do |f| %>

          <% flash[:error] = []
             resource.errors.full_messages.each {|error| flash[:error] << error} %>

          <div class="form-group">
            <div class="col-sm-12">

              <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => "form-control" %>
            </div>
          </div>

          <!--<div class="form-group custom-checkbox">-->
            <input type="submit" value="Send Reset password instructions" >

          <span class="or-signin">Or</span>
          <a href="/users/auth/google_oauth2" class="login-with-google"><i class="fa fa-google" aria-hidden="true"></i>Login With Google</a>
                            <!--<a href="/users/auth/facebook" class="login-with-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Login With Facebook</a>-->

          <!--</div>-->
          <% end %>
          <%#= render "users/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</section>

































