@charset "utf-8";
/* CSS Document */
a {
	text-decoration: none;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.property-for-sall-cont {
	width: 100%;
	height: auto;
	display: inline-block;
	background: url('/assets/search-back.jpg') no-repeat;
	padding: 40px 0px;
	margin-top: -5px;
}
.tabbable-panel {
	padding: 10px;
}
/* Default mode */
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
/*border-bottom: 4px solid #fbcdcf;*/
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	/*border-bottom: 4px solid #f3565d;*/
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	/*margin-top: -3px;*/
	background: rgba(34, 34, 34, 0.85);
	border: 0;
	padding: 15px;
}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
}
.search-button {
	background: #fff;
	color: #2C88D3;
	padding: 12px;
	width: 100%;
	border-radius: 4px;
}
.search-button:hover {
	color: #fff;
	background: #2C88D3;
}
.for-padding {
	/*padding: 10px !important;*/
	/*height: auto !important;*/
}
.text_advanced_search {
	float: right;
	color: #fff;
	margin-right: 10px;
}
.text_advanced_search span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2C88D3;
	font-weight: bold;
	cursor: pointer;
}
.text_advanced_search span:hover {
	text-decoration: underline;
}
.area_cont {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 11px;
	background: #fff;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
}
.area_cont i {
	position: absolute;
	top: 10px;
	right: 10px;
}
.dropdown-box.range-dd ul li:hover {
	background-color: #F7F7F7;
}
.area-cont {
	height: auto;
	display: inline-block;
	position: relative;
	width: auto;
}
.dropdown-box.range-dd {
	padding: 10px 0;
	padding-top: 0;
	width: 100%;
}
down-box {
	border: none;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	overflow-y: initial;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	font-size: 13px;
	max-height: 404px;
	position: absolute;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	left: 0;
	border: 1px solid #E3E3E3;
	cursor: auto;
}
.dropdown-box .change-unit-wrp {
	font-size: 12px;
	text-align: center;
	text-transform: capitalize;
	padding: 10px 0;
	background-color: #E8E8E8;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
.dropdown-box .change-unit-wrp > span {
	position: relative;
	font-weight: 700;
	color: #0793EA;
}
dropdown-box .change-unit-wrp > span {
	position: relative;
	font-weight: 700;
	color: #0793EA;
}
.dropdown-box .change-unit-wrp {
	font-size: 12px;
	text-align: center;
	text-transform: capitalize;
	padding: 10px 0;
	background-color: #E8E8E8;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
.dropdown-box .change-unit-wrp .unit-box {
	position: absolute;
	left: -112px;
	background-color: #ffffff;
	width: 110px;
	border-radius: 4px;
	top: 0px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.dis-none {
	display: block;
}
.dropdown-box.range-dd ul {
	box-sizing: border-box;
	height: 195px;
	overflow-x: hidden;
	display: block;
	float: left;
	width: 50%;
	padding: 0 10px;
	text-align: center;
}
.dropdown-box .change-unit-wrp .unit-box ul li {
	font-size: 10px;
	text-align: left;
	padding: 0 8px;
	color: #515151;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
	height: 30px;
	line-height: 30px;
	margin: 5px 0;
}
.dropdown-box.range-dd ul li:first-of-type {
	border-top: 1px solid #E3E3E3;
}
.dropdown-box.range-dd ul li {
	width: 100%;
	height: 36px;
	line-height: 36px;
	border: 1px solid #E3E3E3;
	box-sizing: border-box;
	margin: auto;
	border-top: none;
	cursor: pointer;
}
.dropdown-box .change-unit-wrp .unit-box ul li {
	font-size: 10px;
	text-align: left;
	padding: 0 8px;
	color: #515151;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
	height: 30px;
	line-height: 30px;
	margin: 5px 0;
}
.dropdown-box .change-unit-wrp .unit-box ul {
	width: 100%;
	height: auto;
	overflow-x: auto;
}
.dropdown-box .change-unit-wrp .unit-box ul li:hover {
	background-color: #F7F7F7;
}
.dropdown-box .change-unit-wrp .unit-box ul li:hover.selected {
	color: #ffffff;
	background-color: #0793EA;
}
.dropdown-box .change-unit-wrp .unit-box ul li.selected {
	color: #ffffff;
	background-color: #0793EA;
}
.dropdown-box.range-dd .dd-top {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 10px;
	padding-top: 10px;
}
.dropdown-box.range-dd .dd-top .left:first-of-type {
	margin-right: 25px;
}
.dropdown-box.range-dd .dd-top .left {
	text-align: center;
	width: -webkit-calc(50% - 15px);
	width: -moz-calc(50% - 15px);
	width: calc(50% - 15px);
	font-weight: 700;
	box-sizing: border-box;
}
.left {
	float: left;
}
.dropdown-box.range-dd .dd-top label {
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 12px;
}
search-wrap .search .criteria .column input[type="text"] {
	width: 100%;
}
.dropdown-box.range-dd .dd-top input[type="text"] {
	width: 100%;
	height: 32px;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 10px;
	box-sizing: border-box;
	font-weight: 700;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(81, 81, 81, 0.06);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(81, 81, 81, 0.06);
	box-shadow: inset 0px 0px 10px 0px rgba(81, 81, 81, 0.06);
}
.dropdown-box {
	border: none;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	overflow-y: initial;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	font-size: 13px;
	max-height: 404px;
	position: absolute;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	left: 0;
	border: 1px solid #E3E3E3;
	cursor: auto;
}
.dropdown-box.range-dd ul li.selected {
	background-color: #0793EA;
	color: #ffffff;
}
.dropdown-box .filter-close {
	background-color: #444444;
	color: #ffffff;
	border-radius: 4px;
	font-size: 11px;
	line-height: 11px;
	padding: 3px 6px;
	margin-top: 10px;
	cursor: pointer;
}
.right {
	float: right;
}
.dropdown-box.range-dd .filter-close {
	margin-right: 15px;
}
down-box .reset, .dropdown-box .change {
	margin-right: 8px;
	font-size: 11px;
	height: 19px;
	line-height: 19px;
	margin-top: 10px;
	text-transform: capitalize;
	cursor: pointer;
}
.dis-none, .price_show {
	display: none;
}
.dropdown-box .reset, .dropdown-box .change {
	margin-right: 8px;
	font-size: 11px;
	height: 19px;
	line-height: 19px;
	margin-top: 10px;
	text-transform: capitalize;
	cursor: pointer;
}
.change-unit-wrp i {
	margin-left: 5px;
}
.selected-value {
	/*height: 34px;
    line-height: 34px;*/
	position: relative;
	text-transform: capitalize;
}
.selected-value span {
	width: -webkit-calc(50% - 23px);
	width: -moz-calc(50% - 23px);
	width: calc(50% - 23px);
	display: inline-block;
 *display: inline;
 *zoom: 1;
	/*    height: 34px;
    line-height: 34px;
*/    overflow: hidden;
}
.selected-value .range {
	font-size: 12px;
	padding: 0 5px;
	text-align: center;
	width: 25px;
	box-sizing: border-box;
}
.selected-value .max {
	text-align: right;
	padding-right: 5px;
}
#short-search .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, #short-search .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px;
	padding-left: 5px;
}
.btn-group>.btn:first-child, .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100% !important;
}
/**propety navigation**/
.property-nav {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #002f34;
}
.property-nav ul {
	width: 100%;
	height: auto;
}
.property-nav ul li {
	display: block;
	float: left;
	border-right: 1px solid;
}
.property-nav ul li a {
	font-size: 14px;
	font-style: normal;
	padding: 15px 13px;
	color: #fff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}
.property-nav ul li a:hover {
	background: #fff;
	color: #002f34;
}
.property-nav ul li a.active {
	background: #fff;
	color: #002f34;
}
.most-popular-city, .most-popular-location {
	display: inline-block;
	background: #f1f1f1;
	height: auto;
	width: 100%;
	padding: 40px 0px;
}
.most-popular-location {
	background: #fff;
}
.most-popular-city h3, .most-popular-location h3 {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	font-size: 32px;
	color: #002f34;
}
.most-popular-city a, .most-popular-location a {
	margin-bottom: 10px;
	display: block;
	color: #002f34;
	font-family: "roboto-light";
	font-size: 14px;
}
.most-popular-city a span, .most-popular-location a span {
	margin-left: 10px;
	font-weight: bold;
	color: #04660b;
}
.most-popular-city .row, .most-popular-location .row {
	margin-left: 15px !important;
}
.most-popular-city a:hover, .most-popular-location a:hover {
	text-decoration: underline;
}
.prop-sale-cont {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 20px 0px;
	background: #f3f3f9;
}
.propery-heading {
	padding: 15px 10px;
	font-size: 20px;
	color: #002f34;
	border-bottom: 2px solid #002f34;
}
.property-list a {
	font-size: 14px;
	color: #002f34;
	margin-bottom: 8px;
	display: inline-block;
}
.property-list a:hover {
	text-decoration: underline;
}
.property-list {
	padding: 20px 0px;
}
.left-prop-outer .row {
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.prop-inner-list .row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.left-prop-outer {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #fff;
	margin-bottom: 30px;
}
.prop-inner-list {
	/*margin-top: 20px;
	padding: 20px 0px;*/
	display: inline-block;
}
.property-listing {
	background: #FFF;
	border-bottom: #002f34 3px solid !important;
	margin-bottom: 15px;
	padding: 20px 10px;
}
.property-listing a {
	color: #002f34;
}
.property-listing a:hover {
	color: #2C88D3;
}
.property-listing h2 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 8px;
	padding-right: 2%;
	width: 97%;
	display: inline-block;
}
.property-listing .price {
	text-align: right;
	font-weight: bold;
	font-size: 22px;
}
.mobile_vr {
	display: none;
}
.img-wrapper {
	position: relative;
}
.text-muted {
	padding-bottom: 5px !important;
	color: #777;
}
.property-listing .img-wrapper .p_list_img {
	display: block;
	height: 217px;
	overflow: hidden;
}
.property-listing .img-wrapper a .property_photos {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 268px;
}
.img-wrapper .no-of-photos {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 0 10px;
	background-color: rgba(0,0,0,0.7);
}
.img-wrapper .hot-property {
	background: rgba(0, 0, 0, 0) url(/assets/hot-property.png) no-repeat scroll 0 0 / 90% auto;
	display: block;
	height: 22px;
	left: 8px;
	position: absolute;
	top: 5px;
	width: 65px;
}
.property-listing h4 {
	padding: 10px 0px;
}
.property-listing .price {
	font-weight: bold;
	font-size: 22px;
	color: #002f34;
	font-family: "roboto-light";
}
.property-listing .btn-primary {
	background: #002f34;
	color: #fff;
	padding: 7px 2%;
	border-radius: 4px;
	border: 1px solid #002f34;
}
.property-listing .btn-primary:hover {
	background: #fff;
	color: #002f34;
}
.right-prop-cont {
	background: #fff none repeat scroll 0 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0px;
	min-height: 20px;
	padding: 20px !important;
	border-bottom: #002f34 3px solid;
}
.side_bar_main_title {
	margin-top: 5px;
	font-size: 22px;
	color: #002f34;
	border-bottom: 2px solid;
	padding-bottom: 4px;
	margin-bottom: 15px;
}
.featured-agets-widget {
	padding: 0;
	margin: 0;
}
.featured-agets-widget li {
	background: hsl(0, 0%, 98%) none repeat scroll 0 0;
	border: 1px solid hsl(0, 0%, 80%);
	display: inline-block;
	list-style: outside none none;
	margin: 0 5px 10px 0;
	padding: 10px;
	width: 100%;
}
.agnt_logo {
	background: hsl(0, 0%, 93%) none repeat scroll 0 0;
	border: 1px solid hsl(0, 0%, 80%);
	margin-bottom: 11px;
	padding: 10px;
	text-align: center;
}
.featured-agets-widget li img {
	width: 100px;
	height: 60px;
	border: solid 1px #c8c8c8;
}
.featured-agets-widget li h3 {
	font-size: 14px;
	margin: 0;
	word-wrap: break-word;
	font-family: "roboto-light";
}
.number-anchor {
	display: block !important;
	width: 100% !important;
	padding-top: 5px;
}
.mobile-menu-show {
	display: none;
}
.property-single {
	background: #fafafa;
}
.property-single .product-view {
	border: none;
}
.property-single .product-view h2 {
	font-size: 20px;
	background: #fff;
	padding: 10px 10px 4px 10px;
}
.property-single .product-view .prop-single-short-add {
	font-size: 12px !important;
	color: #000 !important;
	margin: 0px !important;
	word-spacing: 0px !important;
	background: #fff;
	padding-left: 10px;
}
.property-single .product-details {
	background: #fff;
	padding: 2px;
	display: inline-block;
    width:100%;
}
.property-single .product-details h4 {
	margin: 9px 0px 4px 0px !important;
    border-top: 0px !important;
    padding-top: 0px !important;
    padding-left: 5px;
    display: inline-block;
}
.property-single .row {
	margin-left: 0px;
	margin-right: 0px;
    padding: 5px 0px;

}
.prod-detail-for-marg .left-title{
    margin-bottom: 0px !important;
}
.property-single .flexslider {
	margin: 0 0 2px;
}
.prop-detial-price {
	display: inline-block;
	background: #fff;
	width: 100%;
	height: 45px;
}
.product-view .prop-detial-price p {
	margin: 0px;
	float: left;
	margin-right: 3px;
	padding: 3px 2%;
	text-align: center;
	color: #222;
}
.prop-detial-price h3 {
	font-size: 14px;
	display: inline-block;
	padding: 10px 0px;
}
.prop-detial-price h3 span {
	font-size: 22px;
}
.share-btn {
	float: right;
	background: #0099e5;
	border: none;
	padding: 7px 5%;
	width: 50%;
	border: 1px solid #0099e5;
	margin-top: 3px;
}
.share-btn:hover {
	background: #fff;
	color: #0099e5;
}
.share-btn:hover i {
	color: #0099e5;
}
.share-btn i {
	color: #fff;
	font-size: 20px;
}
.show-shar-icon {
	position: relative;
}
.all-share-icon {
	display: none;
	top: 45px;
	width: 100%;
	position: absolute;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	padding: 16px;
	white-space: nowrap;
	z-index: 10;
	right: -76px;
	background-color: #fff;
	transform: translateY(10px) translateX(-50%);
}
.all-share-icon ._1Vie0 {
	width: 50px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 75%;
	transform: translateX(-50%) translateY(-100%);
	overflow: hidden;
}
.all-share-icon ._1Vie0:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: translateX(-50%) translateY(50%) rotate(225deg);
	top: 0;
	left: 75%;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15)
}
.all-share-icon a {
	width: 33%;
	display: inline-block;
	float: left;
	padding: 10px 10%;
	text-align: center;
}
.all-share-icon a i {
	font-size: 18px;
}
.over-location-cont {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #002f34;
}
.over-location-cont ul {
	width: 100%;
	height: auto;
	display: inline-block;
}
.over-location-cont ul li {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	float: left;
	padding: 0px 3%;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: relative;
	text-align: center;
	margin-top: 5px;
}
.over-location-cont ul li a {
	color: #fff;
	display: block;
}
.over-location-cont ul li.active {
	color: #222;
	background-color: #fff;
	border-radius: 20px;
}
.over-location-cont ul li.active a {
	color: #222;
}
.overview_title {
	display: inline-block;
	padding: 10px;
	background: #fafafa;
	/* display: block; */
    /* margin-bottom: 10px; */
	width: 100%;
}
.amenties-cont {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 10px;
}
.amenties-cont li {
	display: inline-block;
	float: left;
	margin-right: 5px;
	background: url(/assets/bullet_arrow1.png) no-repeat left;
	padding-left: 20px;
	margin-left: 24px;
}
.loc_nearby {
	background: #fff;
	display: inline-block;
	width: 100%;
}
.top-tabs {
	width: 100%;
	height: auto;
	display: inline-block;
	background: #fff;
}
.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table; /* [1] */
	table-layout: fixed; /* [2] */
	width: 100%; /* [3] */
}
.tabs__item {
	float:left;
	display:block;
	margin-bottom: 11px;
	margin-top:10px;
}
.tabs__link {
	/*display: block;*/
}
.primary-nav {
	text-align: center;
	overflow: hidden; /* [1] */
}
.primary-nav a {
	padding: 15px 15px 2px 15px;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}
.primary-nav a:hover {
	color: #2C88D3;
}
.primary-nav .active{
	border-bottom:4px solid #002f34;
}
.prop_all_icon{
	display:inline-block;
	width:100%;
}
.inner_prop_icon{
	display:inline-block;
	width:100%;
}
.inner_prop_icon p{
	margin: 0px;
    float: left;
    margin-right: 3px;
    padding: 3px 2%;
    text-align: center;
    color: #222;
}
.well{
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 20px !important;
}
.well h2 {
    font-size: 19px;
}
.agent_logo_wedgets {
    width: 100%;
}
.top-buffer {
    margin-top: 20px;
}
.well strong, .well b {
    font-weight: normal;
}
.well p{
	margin: 0 0 10px;
}
.owner_numbers {
    margin-bottom: 10px !important;
    margin: 0 auto !important;
    max-width: 300px;
    padding-bottom: 11px;
	display:none;
}
.text-center {
    text-align: center;
}
.owner_numbers h4 a {
    color: #04660b !important;
    font-size: 18px;
	color: #04660b !important;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.owner_number_btn{
	padding:10px;
	width:95%;
	background-color: #072834;
    border-color: #072834;
    color: #ffffff;
}
.for-number-show .btn:focus, .for-number-show a:focus{
    color: #fff;
	outline: none;
  	outline: 0px auto -webkit-focus-ring-color; 
   	outline-offset: 0px;
}
.for-number-show{
	position:relative;
}
.property-single .product-view{
	padding: 0px 15px 15px 15px;
}
.product-details-grid{
	background:#fff;
}
#zameen-society .typeahead, #zameen-society-detail .typeahead,#zameen-society-rent .typeahead,#zameen-society-detail-rent .typeahead{
    border: 0px !important;
    border-radius: 4px !important;
}
.property-for-sall-cont .nav-tabs>li.active>a, .property-for-sall-cont .nav-tabs>li.active>a:focus, .property-for-sall-cont .nav-tabs>li.active>a:hover{
    border-top: 0px solid !important;
    border: 0px solid #CCCCCC !important;
    border-top: 0px solid #0099e5 !important;
    border-bottom: 0px #FFF solid !important;
    margin-bottom: 0px!important;
}
 @media (max-width: 991px) {
.mobile_vr {
	display: block;
	float: none !important;
	text-align: left !important;
	margin: 10px 15px;
}
.desktop_vr {
	display: none;
}
}
@media (max-width: 768px) {
.mobile-menu-show {
	display: block;
	text-align: right;
	cursor: pointer;
}
.property-nav {
	background: none;
	position: absolute;
	z-index: 9999;
	top: 0px;
	display: none;
}
.property-nav ul li {
	float: none;
}
.property-nav ul li {
	border-bottom: 1px solid;
	border-right: none;
}
.property-nav ul {
	background: #002f34;
}
.menu_container {
	position: relative;
}
}




/*styleone.css*/



.r-tabs {
	position: relative;
}

.r-tabs .r-tabs-nav {
	/*border-bottom: 1px solid #ccc;*/
	text-align:left;
	margin-bottom:20px;
	/*z-index:-9999;
	position:relative;*/
}

.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
	border:1px solid #01b0cd;
	border-radius:2px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: #fff;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: #002f34;
	font-family:"roboto-bold";
	width:200px;
	border-radius:2px;
	text-align:center;
}

.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: #01b0cd;
	margin-bottom: -1px;
	border: 1px solid #01b0cd;

}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #fff;
	background-color: #01b0cd;
}

.r-tabs .r-tabs-panel {
	/*border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
	margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #fff;
	color: #01b0cd;
	text-decoration: none;
	margin-bottom: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	border:1px solid #01b0cd;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #01b0cd;
	color: #fff;
	border:1px solid #01b0cd;
	margin-bottom: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}



