

.r-tabs {
	position: relative;
}

.r-tabs .r-tabs-nav {
	/*border-bottom: 1px solid #ccc;*/
	text-align:left;
	margin-bottom:20px;
	/*z-index:-9999;
	position:relative;*/
}

.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
	border:1px solid #01b0cd;
	border-radius:2px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: #fff;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: #002f34;
	font-family:"roboto-bold";
	width:200px;
	border-radius:2px;
	text-align:center;
}

.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: #01b0cd;
	margin-bottom: -1px;
	border: 1px solid #01b0cd;
	
}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #fff;
	background-color: #01b0cd;
}

.r-tabs .r-tabs-panel {
	/*border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
	margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #fff;
	color: #01b0cd;
	text-decoration: none;
	margin-bottom: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	border:1px solid #01b0cd;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #01b0cd;
	color: #fff;
	border:1px solid #01b0cd;
	margin-bottom: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
