

<div class="panel panel-default">
  <div class="panel-heading">
    <!--<h3 class="panel-title">Using feedback icons</h3>-->
  </div>
  <div class="panel-body">
    <!--<form id="signupForm1" method="post" class="form-horizontal" action="">-->
    <%= form_with(model: category, local: true, :id => "Form",:class=>"form-horizontal") do |form| %>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="firstname1">Name</label>

      <div class="col-sm-5">
        <!--<input type="text" class="form-control" id="firstname1" name="firstname1" placeholder="First name" />-->
        <%= form.text_field :name, :class => "form-control", :id => "name",  :placeholder => "name" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-4">
        <!--<button type="submit" class="btn btn-primary" name="signup1" value="Sign up">Sign up</button>-->
        <%= form.submit :class => 'btn btn-info'%>
      </div>
    </div>
    <% end %>
  </div>
</div>



<script type="text/javascript">
    $("#Form").validate({
         rules:{

             "category[name]":{
                 required:true,
                 minlength:3
             }


         },

         messages:{

//             "category[name]":"Please enter name"
             "category[name]": {
              		required: "Please enter a category name",
              		minlength: "Your category name must consist of at least 3 characters"

             }
         },
         errorElement:"em",
         errorPlacement:function (error, element) {
             // Add the `help-block` class to the error element
             error.addClass("help-block");

             // Add `has-feedback` class to the parent div.form-group
             // in order to add icons to inputs
             element.parents(".col-sm-5").addClass("has-feedback");

             if (element.prop("type") === "checkbox") {
                 error.insertAfter(element.parent("label"));
             } else {
                 error.insertAfter(element);
             }

             // Add the span element, if doesn't exists, and apply the icon classes to it.
             if (!element.next("span")[ 0 ]) {
                 $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
             }
         },
         success:function (label, element) {
             // Add the span element, if doesn't exists, and apply the icon classes to it.
             if (!$(element).next("span")[ 0 ]) {
                 $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
             }
         },
         highlight:function (element, errorClass, validClass) {
             $(element).parents(".col-sm-5").addClass("has-error").removeClass("has-success");
             $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
         },
         unhighlight:function (element, errorClass, validClass) {
             $(element).parents(".col-sm-5").addClass("has-success").removeClass("has-error");
             $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
         }
     });
</script>