<h1 style="text-align: center">Categories</h1>

<table style="margin-left: 10px">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%#= buuton_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Destroy', category,
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path ,:class => 'btn btn-info'%>

