<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) ,:class => 'btn btn-info' %>|
<%= link_to 'Back', categories_path ,:class => 'btn btn-info' %>
