<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.sub_category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) ,:class => 'btn btn-info' %>|
<%= link_to 'Back', products_path ,:class => 'btn btn-info' %>
