<% if @bred_crumbs.present? %>
    <div class="w3layouts-breadcrumbs">
      <div class="container">
        <% if action_name == "show" and controller_name == "items" %>
              <span class="agile-breadcrumbs"><a href="/"><i class="fa fa-home home_1"></i></a>
                <span><%= link_to "Home", '/' %></span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                <span><%= link_to "#{@item.try(:sub_category).try(:category).try(:name)}", "/all-categories/#{@item.try(:sub_category).try(:category).try(:slug)}" %></span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                <span><%= link_to "#{@item.try(:sub_category).try(:name)}", "/#{@item.try(:sub_category).try(:slug)}?q=#{@item.try(:sub_category).try(:id)}" %></span>
              </span>
        <% elsif action_name == "all_categories" and controller_name == "home" %>
            <span class="agile-breadcrumbs"><a href="/"><i class="fa fa-home home_1"></i></a>
              <span><%= link_to "Home", '/' %></span>
            </span>
        <% elsif action_name == "index" and controller_name == "search" %>
            <span class="agile-breadcrumbs"><a href="/"><i class="fa fa-home home_1"></i></a>
              <span><%= link_to "Home", '/' %></span>
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span><%= link_to "#{@bred_crumbs.try(:category).try(:name)}", "/all-categories/#{@bred_crumbs.try(:category).try(:slug)}" %></span>
            </span>
        <% else %>
            <span class="agile-breadcrumbs"><a href="/"><i class="fa fa-home home_1"></i></a>
              <span><%= link_to "Home", '/' %></span>
            </span>
        <% end %>

      </div>
    </div>
<% end %>


