<% unless request.url.include? "zameen" %>
<div class="main-content">
  <div class="w3-categories">
    <h3>Browse Ad Categories</h3>
    <div class="container">
      <div class="row">



        <%# else %>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder1"><a class="btn-8" href="/all-categories/mobiles">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-mobile"></i></div>
                    <h4 class="clrchg">Mobiles</h4>
                  </div>
                </div>
              </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder3"><a class="btn-8" href="/all-categories/vehicles">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-car"></i></div>
                    <h4 class="clrchg">Vehicles</h4>
                  </div>
                </div>
              </a></div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder2">
                <a class="btn-8" href="/all-categories/electronics-home-appliances">
                  <div class="focus-border">
                    <div class="focus-layout">
                      <div class="focus-image"><i class="fa fa-laptop"></i></div>
                      <h4 class="clrchg"> Electronics & Home Appliances</h4>
                    </div>
                  </div>
                </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder4"><a class="btn-8" href="/all-categories/bikes">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                    <h4 class="clrchg">Bikes</h4>
                  </div>
                </div>
              </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder1"><a class="btn-8" href="/all-categories/jobs">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-briefcase"></i></div>
                    <h4 class="clrchg">Jobs</h4>
                  </div>
                </div>
              </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder6"><a class="btn-8" href="/all-categories/animals">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-paw"></i></div>
                    <h4 class="clrchg">Pets</h4>
                  </div>
                </div>
              </a></div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder7"><a class="btn-8" href="/all-categories/books-sports-hobbies">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-book"></i></div>
                    <h4 class="clrchg">Books, Sports & Hobbies</h4>
                  </div>
                </div>
              </a></div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder8"><a class="btn-8" href="/all-categories/fashion-beauty">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                    <h4 class="clrchg">Fashion & Beauty</h4>
                  </div>
                </div>
              </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder1">
                <a class="btn-8" href="/all-categories/business-industrial-agriculture">
                  <div class="focus-border">
                    <div class="focus-layout">
                      <div class="focus-image"><i class="fa fa-industry"></i></div>
                      <h4 class="clrchg">Business, Industrial & Agriculture</h4>
                    </div>
                  </div>
                </a></div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder9"><a class="btn-8" href="/all-categories/kids">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                    <h4 class="clrchg">Kids</h4>
                  </div>
                </div>
              </a></div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder10"><a class="btn-8" href="/all-categories/services">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-shield"></i></div>
                    <h4 class="clrchg">Services</h4>
                  </div>
                </div>
              </a></div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder5"><a class="btn-8" href="/all-categories/furniture-home-decor">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                    <h4 class="clrchg">Furniture & Home Decor</h4>
                  </div>
                </div>
              </a></div>
            </div>


            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="focus-grid w3layouts-boder1"><a class="btn-8" href="/all-categories/marriages">
                <div class="focus-border">
                  <div class="focus-layout">
                    <div class="focus-image">
                      <%#= image_tag("/assets/m-icon.png") %>
                      <!--<i class="fa fa-male"></i>-->
                      <i class="fa fa-female"></i>
                    </div>
                    <h4 class="clrchg">Marriages</h4>
                  </div>
                </div>
              </a></div>
            </div>


      </div>
      <div class="clearfix"></div>
      <a href="/items/new" class="free-cat-bottom animated pulse">Post Free Ads</a></div>
  </div>
</div>
<% end %>