<% [:alert, :notice, :error].select {|type| !flash[type].blank?}.each do |type| %>
    <div id="flash_notices">
      <% if flash[:notice] %>

          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= flash[type] %></strong>
          </div>


      <% elsif flash[:error] %>

          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Errors!</strong><br>
            <% flash[:error].each_with_index do |error, index| %>
                <%= error %> <br/>
            <% end %>
          </div>


      <% elsif flash[:alert] %>
          <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= flash[type] %></strong>
          </div>

      <% end %>
    </div>
<% end %>
