<footer>
  <div style="background: silver;height: 10px;"></div>
  <div class="w3-agileits-footer-top">
    <div class="container">
      <div class="wthree-foo-grids">
        <div class="col-md-3 wthree-footer-grid">
          <h4 class="footer-head">Who We Are</h4>
          <p>We are team of very hard working and passionate developers.We want to change Ads posting world in a very effective way.</p>
        </div>
        <div class="col-md-3 wthree-footer-grid">
          <h4 class="footer-head">Help</h4>
          <ul>
            <li><a href="/sitemap"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Sitemap</a></li>
            <li><a href="/faq"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Faq</a></li>
            <li><a href="/contact-us"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 wthree-footer-grid">
          <h4 class="footer-head">Information</h4>
          <ul>
            <li><a href="/terms-conditions"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Terms of Use</a></li>
            <li><a href="/privacy-policy"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3 wthree-footer-grid">
          <h4 class="footer-head">Contact Us</h4>
          <address>
            <ul class="location">
              <li><span class="glyphicon glyphicon-map-marker"></span></li>
              <li>K 242 commercial DHA Phase 1 Lahore, Pakistan</li>
            </ul>
            <div class="clearfix"></div>
           * <ul class="location">
              <li><span class="glyphicon glyphicon-earphone"></span></li>

              <li>+92 321 4145 256</li>
            </ul>
            <div class="clearfix"></div>
            <ul class="location">
              <li><span class="glyphicon glyphicon-envelope"></span></li>
              <li><a href="/contact-us">Contact us</a></li>
            </ul>
          </address>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="agileits-footer-bottom text-center">
    <div class="container">
      <!--<div class="w3-footer-logo">
					<h1><a href="index.html"><span>Re</span>sale-v2</a></h1>
				</div>-->
      <div class="w3-footer-social-icons">
        <ul>
          <li><a class="facebook" href="https://web.facebook.com/adstous" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
          </li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter" target="_blank" aria-hidden="true"></i><span>Twitter</span></a></li>
          <!--<li><a class="flickr" href="#"><i class="fa fa-flickr" aria-hidden="true"></i><span>Flickr</span></a></li>-->
          <li>
            <a class="googleplus" target="_blank" href="https://www.instagram.com/adstouspk/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
          </li>
          <li><a class="googleplus" target="_blank" href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i><span>Google Plus</span></a>
          </li>
        </ul>
      </div>
      <div class="copyrights">
        <p>2019 All Rights Reserved </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
<!--footer section end-->



