<!--<header>-->

<header>
  <div class="container">
    <div class="agile-its-header">
      <div class="logo">

        <a href="/" style="margin-left: -6px">
          <%= image_tag("/assets/ads.png") %>
        </a>
        <% if request.url.include? "zameen" %>
            <%= link_to "adstous portal", root_url(subdomain: false),class: 'sub-domain'  %>
        <% else %>
            <%= link_to "zameen portal", root_url(subdomain: 'zameen'),class: 'sub-domain'  %>
        <% end %>
                </div>


                <div class="add-right-sect">

                  <ul class="nav navbar-nav">

                    <% if user_signed_in? %>
                        <li class="dropdown fix-bar">
                    <% else %>
                        <li class="dropdown">
                    <% end %>
                    <% if current_user %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: darkslategray"><%= current_user.try(:profile).try(:name) %>
                          <span class="glyphicon glyphicon-user pull-right"></span></a>
                        <ul class="dropdown-menu">
                          <% if current_user.role.name == "Admin" %>
                              <li><a href="/admin" style="color: darkslategray">Admin
                                <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                              <li class="divider"></li>
                          <% end %>
                          <li><a href="/account-setting" style="color: darkslategray">Account Settings
                            <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                          <li class="divider"></li>
                          <li><a href="/change-password" style="color: darkslategray">Change Password
                            <span class="glyphicon glyphicon glyphicon-lock pull-right"></span></a></li>
                          <li class="divider"></li>
                          <li><a href="/home/user_items?tab=posted" style="color: darkslategray">User stats
                            <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                          <!--<li class="divider"></li>-->
                          <!--<li><a href="#" style="color: darkslategray">Messages <span class="badge pull-right"> 42 </span></a>-->
                          <!--</li>-->
                          <li class="divider"></li>
                          <li><a href="/home/user_items?tab=fav" style="color: darkslategray">Favourites Snippets
                            <span class="glyphicon glyphicon-heart pull-right" style=""></span></a></li>
                          <li class="divider"></li>
                          <li><a href="/logout" data-turbolinks='false' style="color: darkslategray">Logout
                            <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                        </ul>
                    <% else %>
                        <a href="/register" aria-expanded="false" class="sign-in-button"><i class="fa fa-user-plus" aria-hidden="true"></i>
                          Register Free</a>
                        <a href="/login" aria-expanded="false" class="sign-in-button"><i class="fa fa-sign-in" aria-hidden="true"></i>
                          Sign In</a>
                    <% end %>
                    </li>
                  </ul>

                  <a class="post-w3layouts-ad animated pulse" href="/items/new">Post Free Ad</a>
                </div>


                </div>
                </div>
                </header>

                <% if request.url.include? "zameen" %>

                    <div class="container">
                      <span class="mobile-menu-show">Menu</span>
                    </div>
                    <div class="menu_container">
                      <div class="property-nav">
                        <div class="container">
                          <ul>
                            <% if request.url.include? "property-sale" or request.url.include? "property-rent" or request.url.include? "property" %>
                              <li><a href="/" >Home</a></li>
                            <% else %>
                              <li><a href="/" class="active">Home</a></li>
                            <% end %>
                            <!--<li><a href="#">About us</a></li>-->
                            <!--<li><a href="#">Contact Us</a></li>-->
                            <% if request.url.include? "property-sale" %>
                              <li><a href="/property-sale" class="active">Property for sale</a></li>
                            <% else %>
                              <li><a href="/property-sale">Property for sale</a></li>
                            <% end %>
                            <% if request.url.include? "property-rent" %>
                              <li><a href="/property-rent" class="active">Property for Rent</a></li>
                            <% else %>
                              <li><a href="/property-rent">Property for Rent</a></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>


                <% else %>

                    <div class="agileits_search">
                      <div class="container">
                        <div class="search-cont">

                          <form action="<%= search_index_path %>" data-remote=false class="form-horizontal" id="resume_form" method="get">

                            <%#= form_for :cv, :url => {:controller =>'search' ,:action => search_index_path }, :html => {:id => 'resume_form',:method=>:get ,:onsubmit => "return false;"}, :remote => true do |f| %>

                            <div class="search-cont-inner" id="mainfetch">
                              <% if @word.present? %>
                                  <input name="home_word" value="<%= @word %>" type="text" name="query1" id="query1" placeholder="Type for search items" class="typeahead ca2"/>
                              <% else %>
                                  <input name="home_word" type="text" name="query1" id="query1" placeholder="Type for search items" class="typeahead ca2"/>
                              <% end %>
                            </div>

                            <div class="input-group-btn">
                              <% if @id.present? %>
                                  <button class="dropdown-toggle1 btn  group_btn col-xs-12 pull-left slct eclps" id="ali" data-action="SH" data-id="SearchSelectionHolder" data-dest="[data-type=Cats]" type="button" name="Categories"><%= SubCategory.find(@id).try(:name) %> </button>
                              <% else %>
                                  <button class="dropdown-toggle1 btn  group_btn col-xs-12 pull-left slct eclps" id="ali" data-action="SH" data-id="SearchSelectionHolder" data-dest="[data-type=Cats]" type="button" name="Categories">All
                                    Categories
                                  </button>
                              <% end %>

                              <div class="side-bar">

                                <ul id="top-search">
                                  <li class="select"><a href="javascript:;">All Categories</a></li>

                                  <% @categories.each do |cat| %>
                                      <% unless ["Property for Sale", "Property for Rent"].include? cat.name.strip %>
                                          <li>
                                            <a href="javascript:;" class="has-list" id="header-cat"><%= cat.name %></a>

                                            <ul id="<%= cat.name %>" style="min-height: 83px; overflow-y: auto;">
                                              <% cat.sub_categories.each do |sub| %>
                                                  <li>
                                                    <a href="javascript:;" id="<%= sub.id %>" class="tst"><%= sub.name %></a>
                                                  </li>
                                              <% end %>

                                            </ul>
                                          </li>
                                      <% end %>
                                  <% end unless @categories.blank? %>

                                </ul>
                              </div>


                            </div>
                            <div class="location-container">
                              <% if @city_id.present? %>
                                  <input class="srch_input for-show" value="<%= City.find(@city_id).name %>" placeholder="All Pakistan" readonly type="text" id="outer_city" name="outer_city">
                              <% else %>
                                  <input class="srch_input for-show" placeholder="All Pakistan" readonly type="text" id="outer_city" name="outer_city">
                              <% end %>
                              <span class="input-group-addon dg" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
                              <div class="region_main" data-type="Loc" style="display:none">
                                <div class="arrow pull-right"></div>
                                <header class="region_head voffset3 vonset3 col-xs-12">
                                  <div class="input-group col-md-5 col-sm-4 col-xs-11 pull-left" role="city">
                                    <div class="has-sug clearfix" id="prefetch">


                                      <input class="typeahead search-input2" name="query" id="query" placeholder="Type for search city" type="text">

                                      <!--<input type="text" name="query" id="query" class="typeahead form-control input-lg search-input2" placeholder="search word"/>-->
                                      <div class="input_sug" style="display:none;">
                                        <ul class="list-unstyled" data-type="CSuggestion">
                                        </ul>
                                      </div>
                                    </div>
                                    <span class="input-group-addon dg" id="inner-add" style="cursor: pointer"><i class="fa fa-map-marker"></i></span>
                                  </div>
                                  <!--<a data-action="SH" data-dest="[data-type=Loc]" class="pull-right voffset1" href=""><i class="fa fa-close fa-lg"></i></a>-->
                                </header>
                                <div class="col-xs-12 gray region_top">
                                  <p class="voffset1">Popular City:</p>
                                  <div class="row">
                                    <ul class="list-unstyled col-xs-12">
                                      <li><a href="javascript:;" class="city-home"><b>All Pakistan</b></a></li>
                                    </ul>

                                    <% @provinces.each do |p| %>

                                        <ul class="list-unstyled">

                                          <% p.cities.each do |c| %>
                                              <li style=" ">
                                                <a rel="nofollow" id="<%= c.id %>" href="javascript:;" class="city-home"><%= c.name %></a>
                                              </li>
                                          <% end %>
                                        </ul>
                                    <% end unless @provinces.blank? %>

                                    <input type="hidden" name="city_id" id="city_id">
                                    <input type="hidden" name="sub_category_id" id="sub_category_id" value="<%= @id || params[:sub_category_id] %>">
                                    <!--<input type="hidden" name="home_word" id="home_word">-->
                                  </div>
                                </div>
                                <footer class="region_ftr col-xs-12 ">
                                  <a class="btn btn-primary voffset3 vonset3" rel="nofollow">View More
                                    City</a></footer>
                              </div>
                            </div>
                            <button type="submit" id="search-btn" class="btn btn-default" aria-label="Left Align">
                              <i class="fa fa-search" aria-hidden="true"> </i></button>
                          </form>

                        </div>
                      </div>
                    </div>


                <% end %>
