<div class="agiletopbar">
			<div class="wthreenavigation">
				<div class="menu-wrap">
				<!--<nav class="menu">-->
					<!--<div class="icon-list">-->
						<!--<a href="mobiles.html"><i class="fa fa-fw fa-mobile"></i><span>Mobiles</span></a>-->
						<!--<a href="electronics-appliances.html"><i class="fa fa-fw fa-laptop"></i><span>Electronics and appliances</span></a>-->
						<!--<a href="cars.html"><i class="fa fa-fw fa-car"></i><span>Cars</span></a>-->
						<!--<a href="bikes.html"><i class="fa fa-fw fa-motorcycle"></i><span>Bikes</span></a>-->
						<!--<a href="furnitures.html"><i class="fa fa-fw fa-wheelchair"></i><span>Furnitures</span></a>-->
						<!--<a href="pets.html"><i class="fa fa-fw fa-paw"></i><span>Pets</span></a>-->
						<!--<a href="books-sports-hobbies.html"><i class="fa fa-fw fa-book"></i><span>Books, Sports & Hobbies</span></a>-->
						<!--<a href="fashion.html"><i class="fa fa-fw fa-asterisk"></i><span>Fashion</span></a>-->
						<!--<a href="kids.html"><i class="fa fa-fw fa-asterisk"></i><span>Kids</span></a>-->
						<!--<a href="services.html"><i class="fa fa-fw fa-shield"></i><span>Services</span></a>-->
						<!--<a href="jobs.html"><i class="fa fa-fw fa-at"></i><span>Jobs</span></a>-->
						<!--<a href="real-estate.html"><i class="fa fa-fw fa-home"></i><span>Real Estate</span></a>-->
					<!--</div>-->
				<!--</nav>-->
				<!--<button class="close-button" id="close-button">Close Menu</button>-->
			</div>
			<button class="menu-button" id="open-button" style="display: none"> </button >
			</div>
			<div class="clearfix"></div>
		</div>
