<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51562584-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-51562584-2');
  </script>

  <% set_meta_tags icon: '/assets/favicon.png', type: 'image/png' %>

  <%= display_meta_tags  %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<% if controller_name != "categories" and controller_name != "sub_categories" and controller_name != "products" and
     action_name != "admin"  and action_name != "account_setting" and action_name != "change_password" and action_name != "user_items"%>
<% elsif action_name == "user_items" and params[:tab] == "specific"%>
<% else %>
      <!--<meta name="robots" content="none">-->
<% end %>
  <!--<meta name="robots" content="index,follow">-->
  <!--<meta name="googlebot" content="index,follow">-->


    <meta name="google-site-verification" content="SLBybm6JDXok-WQYTvAFZpnu3dlNQAgn43Z5IeU_2Bw" />

    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="nositelinkssearchbox" />
    <link rel="canonical" href="<%= @url  %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
  <!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />-->
  
  <!-- //meta tags -->
  <!--fonts-->
  <!--<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>-->
  <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>-->
  <!--//fonts-->

</head>

<body>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=2078254982186329&autoLogAppEvents=1"></script>



<%#= render '/layouts/left_menu'%>
<%= render '/layouts/header'%>
<%= render :partial => 'layouts/bred_crumbs' %>

<%= render :partial => 'layouts/flash', :object => flash %>



<%= render '/layouts/slider' if controller_name == "home" and action_name == "index" %>
<!-- Navigation -->
<div class="main-content">
<%= yield %>
</div>



<%= render '/layouts/footer'%>
</body>
</html>



<!-- start-smoth-scrolling -->
<!-- //here ends scrolling icon -->

