<!-- sign up form -->
<section class="sign-in-outer">
  <div class="container">
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
      <div class="agileinfo_signin">
        <div class="panel-body">

          <h3>Sign Up</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:id => "sign-up-in", :class => "form-horizontal"}) do |f| %>
          <% if session["user"] %>
              <div class="form-group">
                <div class="col-sm-12">
                <!--<input type="text" class="form-control"  placeholder="Your Name">-->
                <%= text_field_tag :name, nil, placeholder: "Your Name" ,:value => session[:name], :class=>"form-control" %>
              </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">-->
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Your Email" ,:value => session[:user]["email"], :class=>"form-control" %>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                </small>

              </div>
              </div>
          <% else %>
              <div class="form-group">
                <!--<label class="col-sm-4 control-label" for="firstname1">Name</label>-->
                <div class="col-sm-12">
                  <!--<input type="text" class="form-control"  placeholder="Your Name">-->
                  <%= text_field_tag :name, nil, placeholder: "Your Name" , :class=>"form-control" %>
                  <!--<span class="glyphicon glyphicon-remove form-control-feedback"></span>-->
                  <!--<em id="item_name-error" class="error help-block">Please enter a title</em>-->
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">-->
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Your Email" , :class=>"form-control" %>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                  </small>
                </div>
              </div>
          <% end %>

          <!--<div class="form-group">-->
            <!--<div class="col-sm-12">-->
              <!--<input type="text" class="form-control" name="tel" placeholder="321-456-7890" maxlength="13" id="phone">-->
              <%#= text_field_tag :phone, nil, placeholder: "Your phone like +923237979346" , :class=>"form-control",:maxlength => 13 %>

            <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password, autocomplete: "new-password" ,placeholder: "Password" , :class=>"form-control" %>
              <!--<input type="text" class="form-control" placeholder="Password">-->

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "Confirm Password", :class=>"form-control" %>
              <!--<input type="text" class="form-control" placeholder="Confirm Password">-->
            </div>
          </div>

          <div class="form-group custom-checkbox">
            <div class="col-sm-12">
            <!--<input type="checkbox" name="checkbox" class="custom-control-input" id="customCheck1" checked>-->
            <%= check_box_tag 'term', 'yes', true, :class => "custom-control-input" %>
            <label class="custom-control-label" for="customCheck1"> I agree to your
              <a class="w3layouts-t" href="/terms-conditions" target="_blank">Terms of Use</a> and
              <a class="w3layouts-t" href="/privacy-policy" target="_blank">Privacy Policy</a></label>
            </div>
            <input type="submit" value="Sign Up">
            <span class="or-signin">Or</span>
            <!--<a href="/users/auth/facebook" class="login-with-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Register With Facebook</a>-->
            <a href="/users/auth/google_oauth2" class="login-with-google"><i class="fa fa-google" aria-hidden="true"></i>Register With Google</a>

            <%#=link_to "google sign in", user_google_oauth2_omniauth_authorize_path%>

          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //sign up form -->


<!-- start-smoth-scrolling -->
<!--<script type="text/javascript">-->
<!--jQuery(document).ready(function($) {-->
<!--$(".scroll").click(function(event){-->
<!--event.preventDefault();-->
<!--$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);-->
<!--});-->
<!--});-->
<!--</script>-->
<!-- start-smoth-scrolling -->
<!-- //here ends scrolling icon -->


